[Unit]
Description=LoxBerry Services
After=network.target remote-fs.target syslog.target network-online

[Service]
Type=oneshot
WorkingDirectory=/opt/loxberry
EnvironmentFile=-/etc/environments
RemainAfterExit=yes
ExecStart=/opt/loxberry/sbin/loxberryinit.sh start
ExecStart=/opt/loxberry/sbin/loxberryinit.sh stop
SyslogIdentifier=loxberry
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
