[Unit]
Description=LoxBerry Services: Preparing system for Loxberry
After=network.target remote-fs.target syslog.target network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/environment
WorkingDirectory=${LBHOMEDIR}
RemainAfterExit=yes
ExecStart=${LBHOMEDIR}/sbin/loxberryinit.sh start
ExecStop=${LBHOMEDIR}/sbin/loxberryinit.sh stop
SyslogIdentifier=loxberry
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
