[Unit]
Description=Mount USB Drive on %i
[Service]
Type=oneshot
EnvironmentFile=/etc/environment
#WorkingDirectory=/opt/loxberry
RemainAfterExit=true
ExecStart=/bin/bash "${LBHOMEDIR}/sbin/usb-mount.sh add %i"
ExecStop=/bin/bash "${LBHOMEDIR}/sbin/usb-mount.sh remove %i"
