[Unit]
Description=Mount USB Drive on %i
[Service]
Type=oneshot
EnvironmentFile=/etc/environment
WorkingDirectory=${LBHOMEDIR}
RemainAfterExit=true
ExecStart=${LBHOMEDIR}/sbin/usb-mount.sh add %i
ExecStop=${LBHOMEDIR}/sbin/usb-mount.sh remove %i
