# Configs that could contain credentials
config/system/general.cfg
config/system/mail.cfg

# Plugins at all
config/plugins/**
data/plugins/**
log/plugins/**
templates/plugins/**
webfrontend/htmlauth/plugins/**
webfrontend/html/plugins/**
