<!-- ** START template/system/admin.html 14.01.2018 19:28:37 ************************************************************************************ -->
<TMPL_IF FORM>
<form method="post" data-ajax="false" name="main_form1" id="main_form1" action="/admin/system/admin.cgi">
	<input type="hidden" name="saveformdata" value="1">
	<input type="hidden" name="adminuserold" value="<TMPL_VAR ADMINUSEROLD>">
	<table class="formtable" border="0" width="100%">
		<tr>
			<td colspan="4">
				<p><TMPL_VAR ADMIN.LABEL_INTRO></p>
			</td>
		</tr>
		<tr>
			<td width="15%">
				<label class="control-label" for="adminuser"><TMPL_VAR ADMIN.LABEL_USERNAME></label>
			</td>
			<td width="40%">
				<div class='ui-input-text ui-corner-all ui-shadow-inset div_input param_ok' contenteditable='true' id='adminuser_div'><TMPL_VAR ADMINUSEROLD></div>
				<input id='adminuser' name='adminuser' type='hidden' data-validation-error-msg="<TMPL_VAR ADMIN.MSG_VAL_USERNAME_ERROR>" data-validation-rule="^([A-Za-z0-9]|_-){3,20}$">
			</td>
			<td width="3%">
				&nbsp;
			</td>
			<td width="32%" class="hint">
				<TMPL_VAR ADMIN.HINT_USERNAME_ALLOWED_CHARS>
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<hr>
			</td>
		</tr>
		<tr>
			<td>
				<label for="adminpass1"><TMPL_VAR ADMIN.LABEL_NEW_PASSWORD></label>
			</td>
			<td>
				<div class='ui-input-text ui-corner-all ui-shadow-inset div_input param_ok' contenteditable='true' id='adminpass1_div'></div>
				<input id='adminpass1' name='adminpass1' type='hidden' data-validation-error-msg="<TMPL_VAR ADMIN.MSG_VAL_PASSWORD_ERROR>" data-validation-rule="^(?=loxberry$)|^(((?=.*[a-zA-Z0-9\-\_\,\.\;\:\!\?\&\(\)\?\+\%\=])(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z])[a-zA-Z0-9\-\_\,\.\;\:\!\?\&\(\)\?\+\%\=]{4,64}$)|^(){0})$">
			</td>
			<td>
				&nbsp;
			</td>
			<td class="hint">
				<TMPL_VAR ADMIN.HINT_PASSWORD_ALLOWED_CHARS>
			</td>
		</tr>
		<tr>
			<td>
				<label for="adminpass2"><TMPL_VAR ADMIN.LABEL_RETYPE_PASSWORD></label>
			</td>
			<td>
				<div class='ui-input-text ui-corner-all ui-shadow-inset div_input param_ok' contenteditable='true' id='adminpass2_div'></div>
				<input id='adminpass2' name='adminpass2' type='hidden' data-validation-error-msg="<TMPL_VAR ADMIN.MSG_VAL_PASSWORD_DIFFERENT>" data-validation-rule="special:compare-with:#adminpass1">
			</td>
			<td>
				&nbsp;
			</td>
			<td class="hint">
				<TMPL_VAR ADMIN.HINT_PASSWORD_RETYPE>
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<hr>
			</td>
		</tr>
		<tr>
			<td>
				<label for="securepin1"><TMPL_VAR ADMIN.LABEL_NEW_SECUREPIN></label>
			</td>
			<td>
				<div style="width:75px;" class='ui-input-text ui-corner-all ui-shadow-inset div_input param_ok' contenteditable='true' id='securepin1_div'></div>
				<input id='securepin1' name='securepin1' type='hidden' data-validation-error-msg="<TMPL_VAR ADMIN.MSG_VAL_SECUREPIN_ERROR>" data-validation-rule="^((([A-Za-z0-9]){4,10})|(){0})$">
			</td>
			<td>
				&nbsp;
			</td>
			<td class="hint">
				<TMPL_VAR ADMIN.HINT_SECUREPIN_ALLOWED_CHARS>
			</td>
		</tr>
		<tr>
			<td>
				<label for="adminpass2"><TMPL_VAR ADMIN.LABEL_RETYPE_SECUREPIN></label>
			</td>
			<td>
				<div style="width:75px;" class='ui-input-text ui-corner-all ui-shadow-inset div_input param_ok' contenteditable='true' id='securepin2_div'></div>
				<input id='securepin2' name='securepin2' type='hidden' data-validation-error-msg="<TMPL_VAR ADMIN.MSG_VAL_SECUREPIN_DIFFERENT>" data-validation-rule="special:compare-with:#securepin1">
			</td>
			<td>
				&nbsp;
			</td>
			<td class="hint">
				<TMPL_VAR ADMIN.HINT_SECUREPIN_RETYPE>
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<hr>
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<p><TMPL_VAR ADMIN.LABEL_SECURITY_HINT></p>
			</td>
		</tr>
		<tr>
			<td>
			 <label for="adminpassold"><TMPL_VAR ADMIN.LABEL_CURRENT_PASSWORD></label>
			</td>
			<td>
				<div class='ui-input-text ui-corner-all ui-shadow-inset div_input param_ok' contenteditable='true' id='adminpassold_div'></div>
				<input id='adminpassold' name='adminpassold' type='hidden' data-validation-coloring="off" data-validation-error-msg="<TMPL_VAR ADMIN.SAVE_ERR_EMPTY_PASS>" data-validation-rule="^(.){1,64}$">
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
				<label for="securepinold"><TMPL_VAR ADMIN.LABEL_SECUREPINOLD></label>
			</td>
			<td>
				<div style="width:75px; min-width:75px;" class='ui-input-text ui-corner-all ui-shadow-inset div_input param_ok' contenteditable='true' id='securepinold_div'></div>
				<input id='securepinold' name='securepinold' type='hidden' data-validation-coloring="off" data-validation-error-msg="<TMPL_VAR ADMIN.SAVE_ERR_EMPTY_SECUREPIN>" data-validation-rule="^([A-Za-z0-9]){4,10}$">
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
	</table>
	<p>
		<center>
			<table class="formtable" border="0">
				<tr>
					<td>
						<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/system/index.cgi?form=system"><TMPL_VAR COMMON.BUTTON_CANCEL></a>
					</td>
					<td>
						<button type="submit" form="main_form1" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR COMMON.BUTTON_SAVE></button>
					</td>
				</tr>
			</table>
		</center>
	</p>
</form>
<script>
$( document ).ready(function()
{
	validate_enable('#adminuser');
	validate_enable('#adminpassold');
	validate_enable('#adminpass1');
	validate_enable('#adminpass2');
	validate_enable('#securepin1');
	validate_enable('#securepin2');
	validate_enable('#securepinold');
	validate_chk_object(['#adminuser','#adminpass1','#adminpass2','#securepin1','#securepin2','#securepinold','#adminpassold']);
	$('#adminpassold_div').css('-webkit-text-security','disc');
	$('#adminpass1_div').css('-webkit-text-security','disc');
	$('#adminpass2_div').css('-webkit-text-security','disc');
	$('#securepin1_div').css('-webkit-text-security','disc');
	$('#securepin2_div').css('-webkit-text-security','disc');
	$('#securepinold_div').css('-webkit-text-security','disc');
	$('#securepinold_div').css('background-color','#FFFFC0');
	$('#adminpassold_div').css('background-color','#FFFFC0');
});
</script>
</TMPL_IF>

<TMPL_IF SAVE>
	<p><TMPL_VAR ADMIN.SAVE_OK_INFO></p>
	<table border=0 cellpadding=10>

	<TMPL_IF ADMINOK>
		<tr>
			<td>
				<b><TMPL_VAR ADMIN.SAVE_OK_WEB_ADMIN_AREA></b>
			</td>
			<td>
				<TMPL_VAR ADMIN.SAVE_OK_COL_USER> <b><TMPL_VAR ADMINUSER></b>
			</td>
			<td>
				<TMPL_VAR ADMIN.SAVE_OK_COL_PASSWORD> <b><TMPL_VAR ADMINPASS1></b>
			</td>
		</tr>
		<tr>
			<td>
				<b><TMPL_VAR ADMIN.SAVE_OK_COL_SSH></b>
			</td>
			<td>
				<TMPL_VAR ADMIN.SAVE_OK_COL_USER> <b>loxberry</b>
			</td>
			<td>
				<TMPL_VAR ADMIN.SAVE_OK_COL_PASSWORD> <b><TMPL_VAR ADMINPASS1></b>
			</td>
		</tr>
	</TMPL_IF>

	<TMPL_IF SQLOK>
		<tr>
			<td>
				<b><TMPL_VAR ADMIN.SAVE_OK_COL_MYSQL></b>
			</td>
			<td>
				<TMPL_VAR ADMIN.SAVE_OK_COL_USER> <b>root</b>
			</td>
			<td>
				<TMPL_VAR ADMIN.SAVE_OK_COL_PASSWORD> <b><TMPL_VAR ADMINPASS1></b>
			</td>
		</tr>
	</TMPL_IF>

	<TMPL_IF SECUREPINOK>
		<tr>
			<td>
				<b><TMPL_VAR ADMIN.SAVE_OK_COL_SECUREPIN></b>
			</td>
			<td>
				<b><TMPL_VAR SECUREPIN1></b>
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
	</TMPL_IF>

	<TMPL_IF ERRORS>
						<TMPL_VAR ADMIN.SAVE_ERR_GENERAL>
						<p><TMPL_VAR ERRORS></p>
	</TMPL_IF>

		<tr>
			<td colspan="3">
				<p style="color:red"><b><TMPL_VAR ADMIN.SAVE_OK_HINT_RED></b></p>
				<a download="credentials.txt" title="credentials.txt" data-role="button" data-mini="true" data-icon="arrow-r" href="data:text/plain;charset=utf-8;base64,<TMPL_VAR CREDENTIALSTXT>"><TMPL_VAR ADMIN.BUTTON_SAVE_OK_DOWNLOAD_CREDENTIALS></a>
			</td>
		</tr>
	</table>
	<center>
		<table border=0>
			<tr>
				<td align="center">
					<p>
						<a id="btnok" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="<TMPL_VAR NEXTURL>"><TMPL_VAR COMMON.BUTTON_OK></a>
					</p>
				</td>
			</tr>
		</table>
	</center>
</TMPL_IF>
<!-- ** END template/system/admin.html ************************************************************************************ -->
