<!-- ** START template/system/changehostname.html -->

<TMPL_IF NAME="STARTUP">
<div class="lb-card">
	<div style="margin:5%">
		<center>
			<h2><TMPL_VAR NETWORK_CHANGEHOSTNAME.HEADING></h2>
			<TMPL_VAR NETWORK_CHANGEHOSTNAME.INTRODUCTION>
		</center>
		<form method="post">
			<table>
				<tr>
					<td><TMPL_VAR NETWORK_CHANGEHOSTNAME.LABEL_CURRENTHOSTNAME></td>
					<td><b><TMPL_VAR lbhostname></b></td>
				</tr>
				<tr>
					<td><label for="lbnewhostname"><TMPL_VAR NETWORK_CHANGEHOSTNAME.LABEL_NEWHOSTNAME></label></td>
					<td><input value="<TMPL_VAR lbnewhostname>" id='lbnewhostname' name='lbnewhostname' type='text' class="lb-input" data-validation-error-msg="<TMPL_VAR NETWORK.ERR_NOVALIDHOSTNAME>" data-validation-rule="^(?!<TMPL_VAR lbhostname>$)(?![0-9]+$)(?!.*-$)(?!-)[a-zA-Z0-9-]{1,63}$"></td>
				</tr>
				<tr style="vertical-align:middle; height:40px;">
					<td colspan="2"><TMPL_VAR errormessage></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button class="lb-btn lb-btn-sm" type="submit" style="width:200px;" name="btnsubmit" id="btnsubmit"><TMPL_VAR NETWORK_CHANGEHOSTNAME.BUTTON_CHANGE></button>
						<button type="button" name="btncancel" class="lb-btn lb-btn-sm" onclick="return quitBox('quit');"><TMPL_VAR COMMON.BUTTON_CANCEL></button>
						<a class="lb-btn lb-btn-sm lb-btn-icon" id="btnlogs" href="/admin/system/tools/logfile.cgi?logfile=system/changehostname.log&header=html&format=template" target="_blank"><i class="pi pi-arrow-down"></i> <TMPL_VAR COMMON.BUTTON_LOGFILE></a>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
</TMPL_IF>

<TMPL_IF NAME="CHANGED">
<div class="lb-card">
	<div style="margin:5%">
		<TMPL_IF successfullchanged>
			<TMPL_VAR NETWORK_CHANGEHOSTNAME.SUCCESS_MESSAGE>
			<h2><a href="http://<TMPL_VAR changedname>">http://<TMPL_VAR changedname></a></h2>
		<TMPL_ELSE>
			<p><b style="color:red"><TMPL_VAR NETWORK_CHANGEHOSTNAME.FAILURE_MESSAGE_RED></b></p>
			<TMPL_VAR NETWORK_CHANGEHOSTNAME.FAILURE_MESSAGE_INFO>
		</TMPL_IF>
		<a class="lb-btn lb-btn-sm lb-btn-icon" id="btnlogs" href="/admin/system/tools/logfile.cgi?logfile=system/changehostname.log&header=html&format=template" target="_blank"><i class="pi pi-arrow-down"></i> <TMPL_VAR COMMON.BUTTON_LOGFILE></a>
		<button type="button" name="btncancel" class="lb-btn lb-btn-sm" onclick="return quitBox('quit');"><TMPL_VAR COMMON.BUTTON_CLOSE></button>
	</div>
</div>
</TMPL_IF>

<script>
$(document).ready(function() {
	validate_enable('#lbnewhostname');
	validate_chk_object(['#lbnewhostname']);
	$("#lbnewhostname").trigger('keyup');
	$(document).keypress(function(event) {
		if (event.which == '13') {
			event.preventDefault();
			$("#btnsubmit").animate({opacity:0, height:'toggle'}, function() {
				$(this).text("<TMPL_VAR NETWORK_CHANGEHOSTNAME.BUTTON_CLICK_HERE>");
			}).animate({opacity:1, height:'toggle'});
		}
	});
});

function quitBox(cmd) {
	if (cmd == 'quit') {
		open(location, '_self').close();
	}
	return false;
}
</script>
<!-- ** END template/system/changehostname.html -->
