<html>
<head>
  <title><!--$template_title--></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
  <link rel="stylesheet" href="/system/scripts/jquery/themes/main/loxberry.min.css" />
  <link rel="stylesheet" href="/system/scripts/jquery/themes/main/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="/system/scripts/jquery/jquery.mobile.structure-1.4.5.min.css" /> 
  <link rel="stylesheet" href="/system/css/main.css" />
  <script src="/system/scripts/jquery/jquery-1.8.2.min.js"></script>
  <script> $(document).bind("mobileinit", function () {	$.mobile.ajaxEnabled = false; }); </script>
  <script src="/system/scripts/jquery/jquery.mobile-1.4.5.min.js"></script>
  <script src="/system/scripts/setup.js"></script>
  <script src="/system/scripts/validate.js"></script>
</head>
<body>

<TMPL_IF NAME="STARTUP">
<!-- Page startup -->
<div data-role="page" id="main">
<div data-role="header" id="warning" style="background-color: red;">
	<h1><TMPL_VAR NETWORK_CHANGEHOSTNAME.LABEL_TOP></h1>
</div>
  <!-- content -->
  <div data-role="content" role="main" class="ui-content">
    <div class="ui-body ui-body-a ui-corner-all loxberry-logo">
    <!-- text -->
    <div style="margin: 5%">
      <center>
      <h2><TMPL_VAR NETWORK_CHANGEHOSTNAME.HEADING></h2>
	  <TMPL_VAR NETWORK_CHANGEHOSTNAME.INTRODUCTION>
	  </center>
      <form method="post">
	  <table>
	  <tr>
	  <td>
	  <TMPL_VAR NETWORK_CHANGEHOSTNAME.LABEL_CURRENTHOSTNAME>
	  </td>
	  <td><b><TMPL_VAR lbhostname></b>
	  </td>
	  </tr>
	  <tr>
	  <td>
	  <label for="lbnewhostname"><TMPL_VAR NETWORK_CHANGEHOSTNAME.LABEL_NEWHOSTNAME></label>
	  </td>
	  <td>
		<div class='ui-input-text ui-corner-all ui-shadow-inset div_input param_ok' contenteditable='true' id='lbnewhostname_div'><TMPL_VAR lbnewhostname></div>
		<input id='lbnewhostname' name='lbnewhostname' type='hidden' data-validation-error-msg="<TMPL_VAR NETWORK.ERR_NOVALIDHOSTNAME>" data-validation-rule="^(?!<TMPL_VAR lbhostname>$)(?![0-9]+$)(?!.*-$)(?!-)[a-zA-Z0-9-]{1,63}$">
	  </td>
	  </tr>
	  <TMPL_VAR errormessage>
	  <div id="form-error-message" class="form-error-message"></div>
	  <tr>
	  <td>
	  </td>
	  <td><button type="submit" style="width: 200px;" name="btnsubmit" id="btnsubmit" data-role="button" data-inline="true" data-mini="true">
      <TMPL_VAR NETWORK_CHANGEHOSTNAME.BUTTON_CHANGE></button>
	  <button type="button" name="btncancel" class="close" data-role="button" data-inline="true" data-mini="true" onclick="return quitBox('quit');">
      <TMPL_VAR COMMON.BUTTON_CANCEL></button>
	  <a id="btnlogs" data-role="button" href="/admin/system/tools/logfile.cgi?logfile=system/changehostname.log&header=html&format=template" target="_blank" data-inline="true" data-mini="true" data-icon="arrow-d"><TMPL_VAR COMMON.BUTTON_LOGFILE></a>
	  </td>
	  </tr>
	  </table>
	  </form>
    </div>
    <!-- /text -->
    </div>
  <!-- /content -->
  <!-- ************************************************************************************** -->
</div>
</div>
</TMPL_IF>

<TMPL_IF NAME="CHANGED">
<!-- Page "changed" -->
<div data-role="page" id="main">
<div data-role="header" id="warning">
	<h1><TMPL_VAR NETWORK_CHANGEHOSTNAME.LABEL_TOP_CHANGED></h1>
</div>
  <!-- ************************************************************************************** -->
  <!-- content -->
  <div data-role="content" role="main" class="ui-content">
    <div class="ui-body ui-body-a ui-corner-all loxberry-logo">
    <!-- text -->
    <div style="margin: 5%">
	<TMPL_IF successfullchanged>
		<TMPL_VAR NETWORK_CHANGEHOSTNAME.SUCCESS_MESSAGE>
		<h2><a href="http://<TMPL_VAR changedname>">http://<TMPL_VAR changedname></a></h2>
	<TMPL_ELSE>
		<p><font color="red"><b><TMPL_VAR NETWORK_CHANGEHOSTNAME.FAILURE_MESSAGE_RED></b></font></p>
		<TMPL_VAR NETWORK_CHANGEHOSTNAME.FAILURE_MESSAGE_INFO>
	</TMPL_IF>
	<a id="btnlogs" data-role="button" href="/admin/system/tools/logfile.cgi?logfile=system/changehostname.log&header=html&format=template" target="_blank" data-inline="true" data-mini="true" data-icon="arrow-d"><TMPL_VAR COMMON.BUTTON_LOGFILE></a>
	<button type="button" name="btncancel" class="close" data-role="button" data-inline="true" data-mini="true" onclick="return quitBox('quit');">
	<TMPL_VAR COMMON.BUTTON_CLOSE></button>
    </div>
    <!-- /text -->
    </div>

	  <!-- /content -->
  <!-- ************************************************************************************** -->
</div>
</div>
</TMPL_IF>

<!-- /page -->
<div id="lang" style="display: none"><TMPL_VAR LANG></div>
<div id='overlay' style="display: none"><img src='/system/scripts/jquery/themes/main/images/ajax-loader.gif' /></div>
</body>

<script>
$(document).ready(
function(){
		validate_enable('#lbnewhostname');
		validate_chk_object(['#lbnewhostname']);
		$("#lbnewhostname_div").trigger('keyup');
		$(document).keypress(
			function(event){
				if (event.which == '13') {
					event.preventDefault()
					$("#btnsubmit").animate({opacity:0, height: 'toggle'},function() {
					$(this).text("<TMPL_VAR NETWORK_CHANGEHOSTNAME.BUTTON_CLICK_HERE>")}).animate({opacity:1, height: 'toggle'});
				}
			}
		);
	}
);

function quitBox(cmd) 
{      
    if (cmd=='quit')    
    {
       open(location, '_self').close();    
    }     
    return false;   
}
</script>
</html>
