<!-- ** START template/system/donate.html 23:15 26.11.2017 ************************************************************************************ -->
<h2><TMPL_VAR DONATE.HEADING></h2>
<TMPL_VAR DONATE.TEXT1>
<TMPL_VAR DONATE.TEXT2>
<TMPL_VAR DONATE.TEXT3>
<TMPL_VAR DONATE.TEXT4>
<TMPL_VAR DONATE.TEXT5>
<p>
	<a href="<TMPL_VAR DONATE.LINK_URL>
" target="_blank"><TMPL_VAR DONATE.LINK_TEXT>
</a>
</p>
<p>
	&nbsp;
</p>
<!-- ** END template/system/donate.html ************************************************************************************ -->
