		<!-- ** START template/system/en/error.html 21.11.2017 18:28 ************************************************************************************ -->
		<center>
			<table border=0>
				<tr>
					<td align="center">
						<h2><TMPL_VAR COMMON.MESSAGE_GENERIC_ERROR></h2>
						<p>
							<TMPL_VAR ERROR>
							<br />
							<br />
						</p>
					</td>
				</tr>
				<tr>
					<td align="center">
						<p>
							<a id="btnback" href="javascript:history.back();" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete"><TMPL_VAR COMMON.BUTTON_BACK></a>
						</p>
					</td>
				</tr>
			</table>
		</center>
		<!-- ** END template/system/en/error.html ************************************************************************************ -->
