<!-- ** START template/system/get_notification_html.html ************************************************************************************ -->
	<div style="min-width:100%; border-style: dotted; border-width:1px; border-color:red;background-color:#ffffe6;">
		<div style="pointer-events: none; position:relative; top:-15px; width:30px; height:30px; background-repeat: no-repeat; display: block; margin-left: auto; margin-right: auto;">
			<img src="/system/images/notification_info_big.svg" >
		</div>
		<div style="display:table; padding: 5px; font-size:90%;">
			<TMPL_VAR NOTIFICATIONS>
		</div>
	</div>

<!-- ** END template/system/get_notification_html.html ************************************************************************************ -->
