<!DOCTYPE html>
<html lang="<TMPL_VAR LANG>">
<!-- head.html START -->
<head>
	<title><TMPL_VAR TEMPLATETITLE></title>
	<!-- THIS IS MULTI-LANG HEADER OF LOXBERRY::WEB -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=0.8, minimum-scale=0.3, maximum-scale=1, user-scalable=yes">
	<link rel="stylesheet" href="/system/scripts/jquery/themes/main/loxberry.css" />
	<!--<link rel="stylesheet" href="/system/scripts/jquery/themes/main/loxberry.min.css">-->
	
	<link rel="stylesheet" href="/system/scripts/jquery/themes/main/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="/system/scripts/jquery/jquery.mobile.structure-1.4.5.min.css" />
	<link rel="stylesheet" href="/system/css/main.css" />
	<link rel="shortcut icon" href="/system/images/icons/favicon.ico" />
	<link rel="icon" type="image/png" href="/system/images/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/system/images/favicon-16x16.png" sizes="16x16" />
	<script src="/system/scripts/jquery/jquery-1.12.4.min.js"></script>
	<script src="/system/scripts/jquery/jquery.mobile-1.4.5.min.js"></script>
	<script src="/system/scripts/form-validator/jquery.form-validator.min.js"></script>
	<script src="/system/scripts/setup.js"></script>
	<script src="/system/scripts/validate.js"></script>
	<script>
		// Disable JQUERY DOM Caching
		$.mobile.page.prototype.options.domCache = false;
		$(document).on("pagehide", "div[data-role=page]", function(event)
		{
			$(event.target).remove();
		});
		// Disable caching of AJAX responses
		$.ajaxSetup ({ cache: false });
	</script>
</head>
<body>
<!-- head.html END -->
