<!DOCTYPE html>
<html lang="<TMPL_VAR LANG>">
	<head>
		<title><TMPL_VAR TEMPLATETITLE></title>
		<!-- THIS IS MULTI-LANG HEADER OF LOXBERRY::WEB -->
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=0.7"> 
		<link rel="stylesheet" href="/system/scripts/jquery/themes/main/loxberry.css" />
		<!--<link rel="stylesheet" href="/system/scripts/jquery/themes/main/loxberry.min.css">-->
		
		<link rel="stylesheet" href="/system/scripts/jquery/themes/main/jquery.mobile.icons.min.css" />
		<link rel="stylesheet" href="/system/scripts/jquery/jquery.mobile.structure-1.4.5.min.css" />
		<link rel="stylesheet" href="/system/css/main.css" />
		<link rel="shortcut icon" href="/system/images/icons/favicon.ico" />
		<link rel="icon" type="image/png" href="/system/images/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/system/images/favicon-16x16.png" sizes="16x16" />
		<script src="/system/scripts/jquery/jquery-1.8.2.min.js"></script>
		<script src="/system/scripts/jquery/jquery.mobile-1.4.5.min.js"></script>
		<script src="/system/scripts/form-validator/jquery.form-validator.min.js"></script>
		<script src="/system/scripts/setup.js"></script>
		<script>
			// Disable JQUERY ♢OM Caching
			$.mobile.page.prototype.options.domCache = false;
			$(document).on("pagehide", "div[data-role=page]", function(event)
			{
				$(event.target).remove();
			});
			// Disable caching of AJAX responses
			$.ajaxSetup ({ cache: false });
		</script>
	</head>
	<body>
		<!-- page -->
			<div data-role="page" id="main" data-dom-cache="false">
				<!-- main menu panel -->
					<div data-role="panel" id="mainmenupanel" data-position="left" data-position-fixed="true">
						<ul data-role="listview" data-ajax="false" data-inset="true">
							<li data-role="list-divider"><TMPL_VAR HEADER.PANEL_SYSTEMSETTINGS></li>
							<li><a href="/admin/index.cgi"><TMPL_VAR HEADER.PANEL_HOME></a></li>
							<li><a href="/admin/system/admin.cgi?do=form"><TMPL_VAR HEADER.PANEL_ADMIN></a></li>
							<li><a href="/admin/system/miniserver.cgi?do=form"><TMPL_VAR HEADER.PANEL_MINISERVER></a></li>
							<li><a href="/admin/system/timeserver.cgi?do=form"><TMPL_VAR HEADER.PANEL_TIMESERVER></a></li>
							<li><a href="/admin/system/network.cgi?do=form"><TMPL_VAR HEADER.PANEL_NETWORK></a></li>
							<li><a href="/admin/system/plugininstall.cgi?do=form"><TMPL_VAR HEADER.PANEL_PLUGININSTALL></a></li>
							<li><a href="/admin/system/updates.cgi?do=form"><TMPL_VAR HEADER.PANEL_UPDATES></a></li>
							<li><a href="/admin/system/setup/index.cgi"><TMPL_VAR HEADER.PANEL_SETUPASSISTENT></a></li>
							<li><a href="/admin/system/power.cgi"><TMPL_VAR HEADER.PANEL_REBOOT></a></li>
							<li><a href="/admin/system/mailserver.cgi?do=form"><TMPL_VAR HEADER.PANEL_MAILSERVER></a></li>
							<li><a href="/admin/system/donate.cgi"><TMPL_VAR HEADER.PANEL_DONATE></a></li>
							<!-- <li data-role="list-divider">Plugins</li> -->
							<!-- STARTPLUGINSHERE --> <!-- Never remove this tag! -->
							<!-- ENDPLUGINSHERE --> <!-- Never remove this tag! -->
						</ul>
					</div>
				<!-- /main menu panel -->
				<!-- info panel -->
					<div data-role="panel" id="infopanel" data-position="right" data-position-fixed="true">
						<div data-role="header" class="ui-corner-all">
						<h2><TMPL_VAR HEADER.TITLE_HELP></h2>
						</div>
						<div class="ui-body-a ui-corner-all">
						<p><a href="<TMPL_VAR HELPLINK>" target="blank"><TMPL_VAR HEADER.TITLE_HELPLINK></a></p>
						<TMPL_VAR HELPTEXT>
						</div>
					</div>
				<!-- /info panel -->
				<!-- header -->
					<div align="center" data-role="header" data-position="fixed" data-tap-toggle="false">
						<h1><TMPL_VAR TEMPLATETITLE></h1>
						<a id="btnmainmenu" href="#mainmenupanel" data-icon="bars" data-iconpos="notext"><TMPL_VAR HEADER.TITLE_MENU></a>
						<a id="btninfo" href="#infopanel" data-icon="info" data-iconpos="notext"><TMPL_VAR HEADER.TITLE_INFO></a>
					</div>
				<!-- /header -->
				<!-- content -->
					<div role="main" class="ui-content">
						<div class="ui-body ui-body-a ui-corner-all loxberry-logo">
							<!-- text -->
								<div id="page_content" class="page_content" style="margin: 4%">
									<!-- ************************************************************************************** -->
