<!-- ** START template/system/mainplugins.html 03.12.2017 ************************************************************************************ -->
<!-- <div style="font-size: 0.6em; text-align: right; vertical-align: middle;">LoxBerry Version <TMPL_VAR SVERSION></div> -->

<!-- Popup: Wizard -->
<TMPL_IF WIZARD>
<div data-role="popup" id="popupFirstBoot" data-overlay-theme="a" data-dismissible="false" style="min-width:600px;min-height:300px;" data-theme="a" class="ui-corner-all">
	<div data-role="header" >
		<h1 class="ui-title" style="text-align: center;"><TMPL_VAR WIZARD.WELCOME></h1>
	</div>
	<div role="main" id="popupRebootForceContent" style="padding: 20px 20px;text-align:center;">
		<img src="/system/images/Logo_green_transparent.png" width="250px">
		<p><b><TMPL_VAR WIZARD.INTRO1></b></p>
		<p><TMPL_VAR WIZARD.INTRO2> <a href="<TMPL_VAR WIZARD.WIKIURL_CONFIGHELP>" target="_blank"><TMPL_VAR WIZARD.WIKIURL_CONFIGHELP></a></p>
		<p>&nbsp;</p>
		<a style="background-color: lightgreen;"href="/admin/system/admin.cgi?do=random" data-role="button" data-iconpos="left" data-icon="power" data-corners="true" data-inline="true"><TMPL_VAR WIZARD.BUTTON_RDM_PASSWORDS></a>
		<a style="background-color: lightyellow;" href="/admin/system/admin.cgi" data-role="button" data-iconpos="left" data-icon="power" data-corners="true" data-inline="true"><TMPL_VAR WIZARD.BUTTON_STD_PASSWORDS></a>
	</div>
</div>
</TMPL_IF>

<TMPL_IF PAGE_PLUGIN>
<p class="wide">
	<img width="64" height="64" src="/system/images/icons/main_plugins_title.svg" alt="">
	<TMPL_VAR HEADER.TITLE_PAGE_PLUGINS>
</p>

<!-- START Plugin container -->
<TMPL_IF PLUGINS>
<div class="widgetblock" id="pluginwidgets">
	<TMPL_LOOP PLUGINS>
	<div class="widget">
			<!-- <div><a href="/admin/plugins/<TMPL_VAR PLUGINDB_FOLDER>/"><img class="menutableicon" src="<TMPL_VAR PLUGINDB_ICONURI>" alt=""></a></div> -->
			<!-- <div><a href="/admin/plugins/<TMPL_VAR PLUGINDB_FOLDER>/" class="nolinkstyle"><TMPL_VAR PLUGINDB_TITLE></a></div> -->

		<a href="/admin/plugins/<TMPL_VAR PLUGINDB_FOLDER>/">
			<div class="menutableicon" style="width:100%; height:90px; padding:0px; background-image: url('<TMPL_VAR PLUGINDB_ICONURI>');  background-repeat: no-repeat; background-position: center center;">
				<div class='notifyBlue' style='display: none' id="notifyBlue<TMPL_VAR PLUGINDB_FOLDER>">0</div>
				<div class='notifyRed' style='display: none' id="notifyRed<TMPL_VAR PLUGINDB_FOLDER>">0</div>		
			</div>
		</a>
		<div><a href="/admin/plugins/<TMPL_VAR PLUGINDB_FOLDER>/" class="nolinkstyle"><TMPL_VAR PLUGINDB_TITLE></a></div>
	</div>
	</TMPL_LOOP>
</div>
<TMPL_ELSE>
<p><TMPL_VAR HEADER.MSG_WHERE_ARE_SETTINGS></p>
<p><TMPL_VAR HEADER.MSG_NO_PLUGINS></p>
</TMPL_IF>

<!-- END Plugin container -->
<p>
	<a href="/admin/system/plugininstall.cgi" data-role="button" data-inline="true" data-mini="true" data-icon="grid"><TMPL_VAR HEADER.PANEL_PLUGININSTALL></a>
	<a href="http://www.loxwiki.eu/display/LOXBERRY/Plugins/" target="_blank" data-role="button" data-inline="true" data-mini="true" data-icon="search"><TMPL_VAR PLUGININSTALL.UI_BUTTON_PLUGINARCHIVE></a>
</p>
</TMPL_IF>

<TMPL_IF PAGE_SYSTEM>

<p class="wide">
	<img height="64" width="64" src="/system/images/icons/main_system_title.svg" alt="">
	<TMPL_VAR HEADER.TITLE_PAGE_SYSTEM>
</p>
<!-- START Widget container -->
<div class="widgetblock" id="systemwidgets">
<TMPL_LOOP WIDGETS>
<div class="widget">
	<!-- <TMPL_VAR WIDGET_NOTIFY> -->
	<a href="<TMPL_VAR WIDGET_CGI>">
			<TMPL_IF WIDGET_CLOCK>
			<div class="menutableicon" style="width:100%; height:80px; padding:1px 0 10px 0;">
				<div class="clock" style="text-align:center;  margin:10px 0 0 43px" >
					<div class="hours-container">
						<div class="hours">
						</div>
					</div>
					<div class="minutes-container">
						<div class="minutes">
						</div>
					</div>
					<div class="seconds-container">
						<div class="seconds">
						</div>
					</div>
				</div>
			</div>
			<TMPL_ELSE>
			<div class="menutableicon" style="width:100%; height:90px; padding:0px; background-image: url('<TMPL_VAR WIDGET_ICON>');  background-repeat: no-repeat; background-position: center center;">
				<div class='notifyBlue' style='display: none' id="notifyBlue<TMPL_VAR NOTIFY_PACKAGE>">0</div>
				<div class='notifyRed' style='display: none' id="notifyRed<TMPL_VAR NOTIFY_PACKAGE>">0</div>
			</div>
			</TMPL_IF>
	</a>
	<div>
		<a href="<TMPL_VAR WIDGET_CGI>" class="nolinkstyle"><TMPL_VAR WIDGET_TITLE></a>
	</div>
</div>
</TMPL_LOOP>
</div>

<!-- END Widget container -->

</TMPL_IF>

<SCRIPT>
// Notification scripts
var pluginerrors = 0;
var plugininfos = 0;
var systemerrors = 0;
var systeminfos = 0;

$(function() {
    //console.log( "Calling updatenotify" );
	updatenotify();
	setInterval(function(){ updatenotify(); }, <TMPL_VAR NOTIFY_POLLTIME>);
        $("#popupFirstBoot").popup("open");
});
	
function updatenotify() {
    console.log ("Started updatenotify");
	$.post( "/admin/system/tools/ajax-notification-handler.cgi", { action: 'get_notifications' } )
	.done(function(data) {
		  // console.log("get_notifications executed successfully");
		pluginerrors = 0;
		plugininfos = 0;
		systemerrors = 0;
		systeminfos = 0;
		
		var packages = [];
		$(".notifyBlue").each( function() {
			$("#"+this.id).text("0");
		});
		$(".notifyRed").each( function() {
			$("#"+this.id).text("0");
		});
		
		$.each(data, function(index) {
			// console.log("Notification:", data[index].PACKAGE, data[index].NAME, data[index].CONTENTHTML);
			if (data[index].SEVERITY === 6) {
				packages.push(data[index].PACKAGE);
				var count = $("#notifyBlue"+data[index].PACKAGE).text();
				count++;
				$("#notifyBlue"+data[index].PACKAGE).text(count);
				if (data[index]._ISSYSTEM) systeminfos++;
				if (data[index]._ISPLUGIN) plugininfos++;
			} else if (data[index].SEVERITY === 3) {
				packages.push(data[index].PACKAGE);
				var count = $("#notifyRed"+data[index].PACKAGE).text();
				count++;
				$("#notifyRed"+data[index].PACKAGE).text(count);
				if (data[index]._ISSYSTEM) systemerrors++;
				if (data[index]._ISPLUGIN) pluginerrors++;
			}
		});
		$.unique(packages);
		
		$(".notifyBlue").each( function(index) {
			// console.log ("Widget Blue:", this.id, $("#"+this.id).text());
			if ($("#"+this.id).text() == 0) $("#"+this.id).fadeOut('slow');
			else if ($("#"+this.id).text() != 0) $("#"+this.id).fadeIn('slow');
		});
		$(".notifyRed").each( function(index) {
			// console.log ("Widget Red:", this.id, $("#"+this.id).text());
			if ($("#"+this.id).text() == 0) $("#"+this.id).fadeOut('slow');
			else if ($("#"+this.id).text() != 0) $("#"+this.id).fadeIn('slow');
		});
		
		// NavBar injection
		console.log ("System Infos/Errors:", systeminfos, systemerrors, "Plugin Infos/Errors:", plugininfos, pluginerrors);

		if( pluginerrors > 0 ) {
			navbarglobal.$data.menu[0].errorCount=pluginerrors+plugininfos;
			navbarglobal.$data.menu[0].infoCount=0;
		}
		else { 
			navbarglobal.$data.menu[0].errorCount=0;
			navbarglobal.$data.menu[0].infoCount=plugininfos;
		}
		if( systemerrors > 0 ) {
			navbarglobal.$data.menu[1].errorCount=systemerrors+systeminfos;
			navbarglobal.$data.menu[1].infoCount = 0;
		}
		else {
			navbarglobal.$data.menu[1].errorCount=0;
			navbarglobal.$data.menu[1].infoCount=systeminfos;
		}
		
		if( plugininfos+pluginerrors+systeminfos+systemerrors > 0 ) {
			if( pluginerrors+systemerrors > 0 ) $("#btnnotifications").css("background-color", "red");
			else $("#btnnotifications").css("background-color", "blue");
			$("#btnnotifications").fadeIn();
			
		} else {
			$("#btnnotifications").fadeOut();
		}
			
		/*
		if (pluginerrors != 0) $("#notifyRedNavBar1").text(pluginerrors).fadeIn('slow');
		else $("#notifyRedNavBar1").text('0').fadeOut('slow');
		if (plugininfos != 0) $("#notifyBlueNavBar1").text(plugininfos).fadeIn('slow');
		else $("#notifyBlueNavBar1").text('0').fadeOut('slow');
		if (systemerrors != 0) $("#notifyRedNavBar2").text(systemerrors).fadeIn('slow');
		else $("#notifyRedNavBar2").text('0').fadeOut('slow');
		if (systeminfos != 0) $("#notifyBlueNavBar2").text(systeminfos).fadeIn('slow');
		else $("#notifyBlueNavBar2").text('0').fadeOut('slow');
		*/
	});
};

</SCRIPT>


<!-- ** END template/system/mainplugins.html ************************************************************************************ -->
