<!-- ** START template/system/logfile.html 13:16 20.12.2017 ************************************************************************** -->
<!-- ** START template/system/logfile.html 13:16 20.12.2017 ************************************************************************** -->
<div data-role="page" id="main">
	<div data-role="header" id="warning">
		<h1><TMPL_VAR LOGVIEWER.WIDGETLABEL> - <span style="font-family:monospace;">/<TMPL_VAR LOGFILE></span></h1>
	</div>
  <!-- content -->
	<div id="log_content" data-role="content" role="main" class="ui-content">
		<div id="log_sub_content" class="ui-body ui-body-a ui-corner-all loxberry-logo">
		<!-- text -->
			<div style="margin: 1%">
				<TMPL_IF NOLOGPARAMETER>
					<center>
					<div style="width:60%" class="logerror">
						<p><TMPL_VAR LOGVIEWER.ERR_MISSING_LOGPARAMETER_HTML></p>
					</div>
					</center>
				</TMPL_IF>
				<TMPL_IF NOLOGFILE>
					<center>
					<div style="width:60%" class="logerror">
						<p><TMPL_VAR LOGVIEWER.ERR_NOLOG_HTML></p>
					</div>
					</center>
				<TMPL_ELSE>
					<!-- <div style="width:100%; height:57vh;"> -->
					
					<!-- Removed div tag contenteditable="true" as browser is much faster without. Re-insert it, if removing has side-effects. (CF) -->
					<div spellcheck="false" style="border-style: solid;  border-color: #c0c0c0; padding:5px; padding-top:10px; border-width: 1px; margin:5px; width:100%; height:65vh; background-color: transparent; font-family:monospace; color:#8080FF; overflow-y: scroll" id="Logfile" >
					<TMPL_LOOP logcontent>
						<TMPL_VAR logcontentline>
					</TMPL_LOOP>
					</div>
					<!-- </div> -->
					<table style="width:100%; border:0;">
						<tr>
							<td style="width:50%;">
								<a id="btnnext" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="javascript:window.close()"><TMPL_VAR COMMON.BUTTON_CLOSE></a>
							</td>
							<td style="width:25%;">
								<label style="display:block; text-align:center;"><input data-mini="true" type="checkbox" checked id="LogScroll"><TMPL_VAR LOGVIEWER.BUTTON_AUTOSCROLL></label>
							</td>
							<td style="width:25%;">
							<a style="display:block; text-align:center;" id="btndown" data-role="button" data-inline="true" data-mini="true" data-icon="arrow-d" href="/admin/system/tools/logfile.cgi?logfile=<TMPL_VAR LOGFILE>&header=file&format=plain" target="_blank" download="<TMPL_VAR LOGFILE_NAME>"><TMPL_VAR COMMON.BUTTON_DOWNLOAD></a>
								
								<!-- <a style="display:block; text-align:center; width:60px; height: 14px; font-size:11;" id="download" data-role="button" data-inline="true" data-mini="true" data-icon="arrow-d" href="#" target="_blank"><TMPL_VAR COMMON.BUTTON_DOWNLOAD></a> -->
							</td>
						</tr>
					</table>
<script>
$( document ).ready(function()
{
	function resize_log()
	{
	 $('#log_content').css('height',window.innerHeight - 80 + 'px');
	 $('#log_sub_content').css('height',window.innerHeight - 100 + 'px');
	 $('#Logfile').css('height',window.innerHeight - 200 + 'px');
	}
	$( window ).resize(function() 
	{
  		resize_log();  
	});
	resize_log();  
});

var interval;


$.urlParam = function(name){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results==null){
       return null;
    }
    else{
       return decodeURI(results[1]) || 0;
    }
}

var filesize;
var call_in_progress = 0;

function updatelog() 
	{
		// Disable caching of AJAX responses
		$.ajaxSetup (
		{
			cache: false
		});
		// Load Logfile
		//$('#Logfile').load('/admin/system/tools/logfile.cgi?logfile=<TMPL_VAR LOGFILE>&head=none&format=html');
		
		// This 'if' prevents multiple loads in parallel, put Perl is too slow 
		if (call_in_progress == 0 ) {
			call_in_progress = 1;
			$.get('/admin/system/tools/logfile.cgi?logfile=<TMPL_VAR LOGFILE>&head=none&format=html&clientsize='+filesize, 
				function( data, textStatus, request ) { 
					filesize = request.getResponseHeader('filesize');
					if (filesize == 0) {
						$('#Logfile').html( "<TMPL_VAR LOGVIEWER.ERR_LOGFILE_EMPTY_HTML>" );
					} else {
						$('#Logfile').html( data ); 
					}
					// console.log ("filesize response header:", request.getResponseHeader('filesize'));
					filesize = request.getResponseHeader('filesize');

					})
					.always(function() { call_in_progress = 0; });
		}
		
		//console.log("Number of nodes:", $('#Logfile>br').length);
		if ($("#LogScroll").is(":checked"))
		{
			$("#Logfile").scrollTop($("#Logfile")[0].scrollHeight);
		}
		return;
	}

if ($.urlParam('only') === 'once') {
		// console.log("Parameter once is set.");
		updatelog();
		$("input[type='checkbox']").attr("checked",false); /*.checkboxradio("refresh"); */
				
	} else {
		 interval = window.setInterval(updatelog, 300);	
	}


$("#Logfile").click(function() {
		clearInterval(interval);
		$("input[type='checkbox']").attr("checked",false).checkboxradio("refresh");
});

$("#LogScroll").click(function() {
		if ( $(this).is(':checked') ) {
			$("#Logfile").scrollTop($("#Logfile")[0].scrollHeight).delay(100);
			interval = window.setInterval(updatelog, 1000);
		} else {
			clearInterval(interval);
		}
});

$(document).keydown(function(e) {
    // console.log("Key", e, "pressed");
	switch(e.which) {
		case 13: // Enter Key
		case 83: // s key
		case 65: // a key
			// Trigger Auto-Scroll
			$("#LogScroll").trigger("click");
		break;
		
		case 81: // q key
			// Close window
			window.close();
		break;

		case 36: // Pos1
			$("#Logfile").trigger("click");
			$("#Logfile").scrollTop( 1 );
		break;

		case 35: // End
			$("#Logfile").trigger("click");
			$("#Logfile").scrollTop( 100000000 );
		break;

		case 37: // left
			// $("#Logfile").trigger("click");
			$("#Logfile").scrollLeft( $("#Logfile").scrollLeft() - 20 );
		break;

		case 33: // page-up
			$("#Logfile").trigger("click");
			$("#Logfile").scrollTop( $("#Logfile").scrollTop() - 500 );
		break;

		case 38: // up
			$("#Logfile").trigger("click");
			$("#Logfile").scrollTop( $("#Logfile").scrollTop() - 20 );
		break;

		case 39: // right
			// $("#Logfile").trigger("click");
			$("#Logfile").scrollLeft( $("#Logfile").scrollLeft() + 20 );
		break;

		case 34: // page-down
			$("#Logfile").trigger("click");
			$("#Logfile").scrollTop( $("#Logfile").scrollTop() + 500 );
		break;

		case 32: // Spacebar
		case 40: // down
			$("#Logfile").trigger("click");
			$("#Logfile").scrollTop( $("#Logfile").scrollTop() + 20 );
		break;

		default: return; // exit this handler for other keys
	}
	e.preventDefault(); // prevent the default action (scroll / move caret)
});


/*
var fileName =  'logfile.txt';
function downloadDiv(filename, elementId, mimeType) {
    var elementHtml = $('#Logfile').text();
	elementHtml.replace(/[\n]/g, '\r\n');
	var link = document.createElement('a');
    mimeType = mimeType || 'text/plain';

    link.setAttribute('download', filename);
    link.setAttribute('href', 'data:' + mimeType  +  ';charset=utf-8,' + encodeURIComponent(elementHtml));
    link.click(); 
}


$('#download').click(function(){
    downloadDiv(fileName, 'LogFile','text/html');
});
*/


/*
$("#Logfile").scroll(function() {
	console.log("ScrollTop:", $("#Logfile").scrollTop);
	clearInterval(interval);
	$("input[type='checkbox']").attr("checked",false).checkboxradio("refresh");
});
*/


</script>
				</TMPL_IF>
				
			</div>
		</div>
	</div>
</div>
