<TMPL_IF FORM_LOG>
	<TMPL_UNLESS SINGLE_PACKAGE>
	<p><TMPL_VAR LOGMANAGER.LOG_INTRO></p>
	<!-- <h3>Logfile and database information</h3> -->
	
	
	
	
	</TMPL_UNLESS>
</TMPL_IF>

<TMPL_IF FORM_LEGACYLOG>
	<TMPL_LOOP PLUGINS>
		<div data-role='collapsible' id='coll_package_<TMPL_VAR PLUGINDB_FOLDER>' data-content-theme='true' data-collapsed='true' data-collapsed-icon='carat-d' data-expanded-icon='carat-u' data-iconpos='right'>
			<h2 class='ui-bar ui-bar-a ui-corner-all' id='package_<TMPL_VAR PLUGINDB_FOLDER>'><TMPL_VAR PLUGINDB_TITLE> <span style='font-size:80%;'>(Plugin Log)</span></h2>
			
			<table border='1px' style='width:100%; padding:8px; border:1px solid #ddd; border-collapse: collapse;'>
				<TMPL_LOOP FILES>
				<tr>
					<td><TMPL_VAR filename></td>
					<td><TMPL_VAR filemtime></td>
					<td><a id='btnlogs' data-role='button' href='/admin/system/tools/logfile.cgi?logfile=<TMPL_VAR filename>&header=html&format=template' target='_blank' data-inline='true' data-mini='true' data-icon='action'>Logfile</a></td>
					<td><TMPL_VAR filesize></td>
				</tr>
				</TMPL_LOOP>
			</table>
		</div>
	</TMPL_LOOP>
	<p><TMPL_VAR LOGMANAGER.LEGACY_INTRO></p>
</TMPL_IF>

<script>

$( document ).ready(function() {
    restoreWindow();
	$(".ui-collapsible").on("collapsiblecollapse", function(event, ui) {console.log("Collaps", $(this).attr('id'));storeWindow($(this).attr('id'), "collapse");});
	$(".ui-collapsible").on("collapsibleexpand", function(event, ui) {console.log("Expand", $(this).attr('id'));storeWindow($(this).attr('id'), "expand");});
});

function storeWindow (name, pos) 
{
	sessionStorage.setItem("coll_"+name, pos);
}

function restoreWindow() 
{
	$.each( $(".ui-collapsible"), function ( index, value ) {
		var pos = sessionStorage.getItem("coll_"+$(value).attr('id'));
		if(pos === "expand" || pos === "collapse") {
			$(value).collapsible( pos );
		} else {
			sessionStorage.removeItem("coll_"+$(value).attr('id'));
		}
		console.log($(value).attr('id'), pos);	}
	);
}

</script>
