<div data-role="page" id="main">
	<div data-role="header"">
		<h1><TMPL_VAR NETWORK.WIDGETLABEL></h1>
	</div>
	<!-- ************************************************************************************** -->

	<!-- content -->
	<div role="main" class="ui-content">
		<div class="ui-body ui-body-a ui-corner-all loxberry-logo">

		<!-- text -->
		<div style="margin: 5%; position:relative;">
			<div style="width:100%; text-align:right; position:absolute;"><button type="button" name="btnsubmit" data-role="button" data-inline="true" data-mini="true" onClick="location.reload();"><font size=\"-1\"><TMPL_VAR NETWORK.LSHW_REFRESHBUTTON></font></button></div>
			<center>
			<table data-role="table" data-mode="" class="ui-responsive ui-shadow" id="lshwnetworkTable" width="90%">
			<TMPL_VAR TABLE>
			</table>
			</center>
		</div>
		<!-- /text -->

		</div>

	</div>
	<!-- /content -->

	<!-- ************************************************************************************** -->

</div>
<!-- /page -->

<div id="lang" style="display: none"><!--$lang--></div>
<div id='overlay' style="display: none"><img src='/system/scripts/jquery/themes/main/images/ajax-loader.gif' /></div>
