<!-- ** START template/system/mailserver.html 06.12.2018 22:20:43 ************************************************************************************ -->
	
<!-- SecurePIN --> 
<div id="securepin_block" style="margin: 0 auto; width:350px; display:none">
	<TMPL_VAR SECUREPIN.ENTER_SECUREPIN>
	<input name="securepin" id="securepin" type="text" onkeypress="return AddKeyPress(event, $('#check_securepin'));">
	<button class="ui-btn ui-btn-icon-right ui-corner-all" id="check_securepin" data-inline="true"><TMPL_VAR COMMON.BUTTON_OK></button>
	
	<div class="hint" id="check_hint" style="padding: 5px 5px 5px 5px;">&nbsp;</div>
	<br>
	<div class="path" style="background: #FF8080; font-color: black; text-shadow: none; border: black 1px solid; padding: 5px;">
		<p style="font-weight: bold;">
			<TMPL_VAR SECUREPIN.WARNING_TITLE>
		</p>
		<hr>
		<p>
			<TMPL_VAR SECUREPIN.PREVENT_SPY>
		</p>
	</div>
</div>

	
<form id="main_form" style="visibility:hidden;"> <!-- style="display:none;" --> 
<STYLE>
	.lb_flex-item 
	{	
		min-width	:450px;
		width		:450px;
		max-width	:450px;
		flex-wrap	:nowrap;
		margin-top: -10px;  
	}
	.lb_flex-item-help 
	{
		min-width	:100px;
		width		:100%;
		position	:relative;
		margin-left	:10px;
	}
</STYLE>

<div class="wide"><TMPL_VAR MAILSERVER.LABEL_EMAIL_SETTINGS></div>
<input type="hidden" name="action" value="setmailcfg">
<br>
<DIV	class="lb_flex-container">
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-label">
	</DIV>
	<DIV	class="lb_flex-item">
		<label><input onclick="disable();" type="checkbox" id="activate_mail" name="activate_mail" value="1"><TMPL_VAR MAILSERVER.LABEL_ENABLE_EMAIL_SETTINGS></label>
	</DIV>
	<DIV	class="lb_flex-item-help">
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>



<DIV	class="lb_flex-container mailsettings">
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-label">
		<LABEL	class=	"control-label"
			for="email"><TMPL_VAR MAILSERVER.LABEL_DEFAULT_EMAIL></LABEL>
	</DIV>
	<DIV	class="lb_flex-item">
		<input width="100%" value="<TMPL_VAR EMAIL>" id="email" name="email" type="email" class="textfield" data-validation-rule="special:email" data-validation-error-msg="<TMPL_VAR MAILSERVER.MSG_VAL_INVALID_EMAIL>">
	</DIV>
	<DIV	class="lb_flex-item-help">
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>

<DIV	class="lb_flex-container mailsettings">
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-label">
		<LABEL	class=	"control-label"
			for="smtpserver"><TMPL_VAR MAILSERVER.LABEL_SMTP_SERVER></LABEL>
	</DIV>
	<DIV	class="lb_flex-item">
		<input id="smtpserver" name="smtpserver" type="text" class="textfield" value=""  data-validation-rule="special:domainname_or_ipaddr" data-validation-error-msg="<TMPL_VAR MAILSERVER.MSG_VAL_INVALID_SMTP>">
	</DIV>
	<DIV	class="lb_flex-item-help">
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>



<DIV	class="lb_flex-container mailsettings">
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-label">
		<LABEL	class=	"control-label"
			for="smtpport"><TMPL_VAR MAILSERVER.LABEL_SMTP_PORT></LABEL>
	</DIV>
	<DIV	class="lb_flex-item">
		<input id="smtpport" name="smtpport" type="text" class="textfield" value="" data-validation-rule="special:port" data-validation-error-msg="<TMPL_VAR MAILSERVER.MSG_VAL_INVALID_PORT>">
	</DIV>
	<DIV	class="lb_flex-item-help hint">
		<TMPL_VAR MAILSERVER.HINT_SMTP_PORT>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>

<DIV	class="lb_flex-container mailsettings">
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-label"></DIV>
	<DIV	class="lb_flex-item">
		<label><input onclick="disable()" <TMPL_VAR CHECKED1> type="checkbox" id="smtpcrypt" name="smtpcrypt" value="1"><TMPL_VAR MAILSERVER.OPTION_USE_ENCRYPTED></label>
	</DIV>
	<DIV	class="lb_flex-item-help hint">
		<TMPL_VAR MAILSERVER.HINT_SMTP_ENCRYPTED>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>

<DIV	class="lb_flex-container mailsettings">
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-label"></DIV>
	<DIV	class="lb_flex-item">
		<label><input onclick="disable()" <TMPL_VAR CHECKED2> type="checkbox" id="smtpauth" name="smtpauth" value="1"><TMPL_VAR MAILSERVER.OPTION_USE_AUTHENTICATION></label>
	</DIV>
	<DIV	class="lb_flex-item-help hint">
		<TMPL_VAR MAILSERVER.HINT_SMTP_AUTHENTICATION>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>

<DIV	class="lb_flex-container mailsettings mailcredentials">
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-label">
		<LABEL	class=	"control-label"
			for="smtpuser"><TMPL_VAR MAILSERVER.LABEL_SMTP_USER></LABEL>
	</DIV>
	<DIV	class="lb_flex-item">
		<input id="smtpuser" name="smtpuser" type="text" class="textfield" value="">
	</DIV>
	<DIV	class="lb_flex-item-help hint">
		<TMPL_VAR MAILSERVER.HINT_SMTP_USER>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>


<DIV	class="lb_flex-container mailsettings mailcredentials">
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-label">
		<LABEL	class=	"control-label" id="labelsmtppass"
			for="smtppass"><TMPL_VAR MAILSERVER.LABEL_SMTP_PASSWORD></LABEL>
	</DIV>
	<DIV	class="lb_flex-item">
		<input id="smtppass" name="smtppass" type="password" class="textfield" value="">
	</DIV>
	<DIV	class="lb_flex-item-help">
		<button id="showpass" name="showpass" type="button" data-inline="true" data-mini="true" data-icon="eye"><TMPL_VAR MAILSERVER.BUTTON_SHOW_PASSWORD></button>
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>

<!-- Button area -->

<DIV style="text-align:center;">
		<!-- Buttons for widget -->
		<A	id=		"btncancel"
			data-role=	"button"
			data-inline=	"true"
			data-mini=	"true"
			data-icon=	"delete"
			href=		"/admin/system/index.cgi?form=system"><TMPL_VAR COMMON.BUTTON_CANCEL></A>
		<BUTTON	type=		"submit"
			form=		"main_form1"
			id=		"btnsubmit"
			data-role=	"button"
			data-inline=	"true"
			data-mini=	"true"
			data-icon=	"check"><TMPL_VAR COMMON.BUTTON_SAVE></BUTTON>
		<A 	href="#" 
			id="btntestsmtp" 
			name="btntestsmtp" 
			data-role="button" 
			data-inline="true" 
			data-mini="true" 
			data-icon="mail"><TMPL_VAR MAILSERVER.BUTTON_SEND_TESTMAIL></A>
</DIV>

<!-- AJAX response status area --> 
<div id="ajaxstatus" style="margin: auto; width:100%; padding:10px; text-align:center;">&nbsp;
</div>

<div class="wide"><TMPL_VAR MAILSERVER.LABEL_MAIL_NOTIFICATIONS></div>
<p><TMPL_VAR MAILSERVER.HINT_NOTIFICATIONS></p>
<BR>
<BR>
<DIV	class="lb_flex-container mailsettings">
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-label">
	</DIV>
	<DIV	class="lb_flex-item">
		<LABEL	class=	"control-label"><TMPL_VAR MAILSERVER.LABEL_SYSTEM_NOTIFICATIONS></LABEL>
		<fieldset data-role="controlgroup" data-type="horizontal">
        <!-- <legend>System notifications</legend> -->
        <input type="checkbox" name="MAIL_SYSTEM_INFOS" id="MAIL_SYSTEM_INFOS" class="MAILNOTIFY">
        <label for="MAIL_SYSTEM_INFOS"><TMPL_VAR MAILSERVER.OPTION_INFOS></label>
        <input type="checkbox" name="MAIL_SYSTEM_ERRORS" id="MAIL_SYSTEM_ERRORS" class="MAILNOTIFY">
        <label for="MAIL_SYSTEM_ERRORS"><TMPL_VAR MAILSERVER.OPTION_ERRORS></label>
		</fieldset>
	</DIV>
	<DIV	class="lb_flex-item-help hint">
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>

<DIV	class="lb_flex-container mailsettings">
	<DIV	class="lb_flex-item-spacer"></DIV>
	<DIV	class="lb_flex-item-label">
	</DIV>
	<DIV	class="lb_flex-item">
		<LABEL	class=	"control-label"><TMPL_VAR MAILSERVER.LABEL_PLUGIN_NOTIFICATIONS></LABEL>
		<fieldset data-role="controlgroup" data-type="horizontal">
        <!-- <legend>Plugin notifications</legend> -->
        <input type="checkbox" name="MAIL_PLUGIN_INFOS" id="MAIL_PLUGIN_INFOS" class="MAILNOTIFY">
        <label for="MAIL_PLUGIN_INFOS"><TMPL_VAR MAILSERVER.OPTION_INFOS></label>
        <input type="checkbox" name="MAIL_PLUGIN_ERRORS" id="MAIL_PLUGIN_ERRORS" class="MAILNOTIFY">
        <label for="MAIL_PLUGIN_ERRORS"><TMPL_VAR MAILSERVER.OPTION_ERRORS></label>
		</fieldset>
	</DIV>
	<DIV	class="lb_flex-item-help hint">
	</DIV>
	<DIV	class="lb_flex-item-spacer"></DIV>
</DIV>

</FORM>

<!-- Testmail overlay -->
<div data-role="popup" id="testmailoverlay" style="min-width:500px;max-width:80%;min-height:600px;" class="ui-content" data-transition="fade">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
	<div data-role="header">
    	<h1><TMPL_VAR MAILSERVER.CAPTION_TESTMAIL_DIALOG></h1>
    </div>
    <div role="main" class="ui-content">
		<div id="smtpresults" style="word-wrap:break-word;"></div>
    </div>
</div>
		
		
		
<script>

// Set language
var lang = '<TMPL_VAR LANG>';

$(function() {

	// Check SecurePIN by ajax and load form data
	$("#check_securepin").click(function(){
		console.log("Check securepin called");
		checkSecurePIN();
	});
	
	// Set SecurePIN from session storage
	$('#securepin').val(sessionStorage.getItem("securePIN"));
	if( $('#securepin').val() ) {
		$('#check_securepin').trigger("click");
	} else {
		$("#securepin_block").fadeIn();
	}
		
		
	
	// Post changes of notify settings
	$(".MAILNOTIFY").change(function(){
				var key = this.id;
				var val = $(this).is(':checked');
				// console.log(key, val);
				post_value(key, val); 
			});
	
	// Validation
	validate_enable('#email');
	validate_enable('#smtpserver');
	validate_enable('#smtpport');
	validate_chk_object(['#email','#smtpserver','#smtpport']);
	
	// Show password
	  $('#showpass').click(function() {
	    if($('#smtppass').prop('type') == 'password') 
	    {
	    	$('#smtppass').prop('type', 'text');
	    	$('#showpass').html('<TMPL_VAR MAILSERVER.BUTTON_HIDE_PASSWORD>');
	    } 
	    else 
		{
			$('#smtppass').prop('type', 'password');
	    	$('#showpass').html('<TMPL_VAR MAILSERVER.BUTTON_SHOW_PASSWORD>');
		}
	  });
	
	// Change the SMTP port on click events
	$('#smtpcrypt').click(function() {
		if( $(this).is(':checked') ) 
			$('#smtpport').val("587");
		else 
			$('#smtpport').val("25");
	
	});
	
	// Form submit 
	$('#btnsubmit').click(function(event) { 
		event.preventDefault();
		saveForm();
	});
});

function post_value (action, value)
{
	// console.log("Action:", action, "Value:", value);
	$.post ( null , 
				{ 	action: action,
					value: value,
				});
}

// Disable some options on click depending on selected value
function disable()
{
	
	if ( $('#activate_mail').is(':checked') ) 
	{
		$(".mailsettings").removeClass( 'ui-disabled' );
		$("#btntestsmtp").removeClass( 'ui-disabled' );
	
		if ( $('#smtpauth').is(':checked') )
		{
			$(".mailcredentials").removeClass( 'ui-disabled' );
		}
		else 
		{
			$(".mailcredentials").addClass( 'ui-disabled' );
		}
			
	}
	else
	{ 
		$(".mailsettings").addClass( 'ui-disabled' );
		$("#btntestsmtp").addClass( 'ui-disabled' );
	}
}

$('#btnpower_alert').css('visibility','hidden');

// Test Mailserver
$('#btntestsmtp').click( function(e) {
	$( "#testmailoverlay" ).popup( "open" );  
	$('#smtpresults').html('<font color=blue><TMPL_VAR MAILSERVER.MSG_TESTMAIL_WAIT></font>');
	
	e.preventDefault();
	var vals = { action: "testmail",
				 email: $("#email").val(),
				 smtpserver: $("#smtpserver").val(),
				 smtpauth: $("#smtpauth").is(":checked") ? 1 : 0,
				 smtpcrypt: $("#smtpcrypt").is(":checked") ? 1 : 0,
				 smtpuser: $("#smtpuser").val(),
				 smtppass: $("#smtppass").val(),
				 smtpport: $("#smtpport").val(),
				 lang: lang 
				};
	data = jQuery.param( vals );

	$.ajax({
		// contentType: "application/x-www-form-urlencoded; charset=iso-8859-15",
		type: "POST",
		// url: "/admin/system/tools/smtptest.cgi",
		data: data,
		success: function(data){
			$('#smtpresults').empty();
			$('#smtpresults').html(data);
		}
	});
});

function checkSecurePIN() {

	// var data = $('form').serialize() + "&save=true";
	console.log("Checking secure pin");
	$("#check_securepin").attr("disabled", true);
	$("#check_hint").attr("style", "color:blue;").html("<TMPL_VAR SECUREPIN.CHECK_WAIT>");
	$.ajax( { 
			type: 'POST',
			//url: '/admin/system/tools/ajax-config-handler.cgi', 
			data: { action: 'getmailcfg', secpin: $('#securepin').val() }
		} )
	.fail(function( data ) {
		console.log( "Error", data );
		$("#securepin_block").fadeIn();
		$("#check_hint").attr("style", "color:red").html("<TMPL_VAR SECUREPIN.ERROR_GENERIC>: "+data.statusText);
	})
	.done(function( data ) {
		console.log( "getcred Success", data );
		// $("#savemessages").attr("style", "color:green").html("Saved successfully |");
		
		if( data.error && data.error != 0 ) {
			switch (data.error) {
				case 1: data.message = '<TMPL_VAR SECUREPIN.ERROR_WRONG>'; break;
				case 2: data.message = '<TMPL_VAR SECUREPIN.ERROR_WRONG>'; break;
				case 3: data.message = '<TMPL_VAR SECUREPIN.ERROR_WRONG>'; break; 
			}
			
			$("#check_hint").attr("style", "color:red").html(data.message);
			return;
		}
		
		// Save PIN to session storage
		sessionStorage.setItem("securePIN", $('#securepin').val());
		$("#securepin_block").fadeOut();
		
		fillForm( data );
		
		// $("#main_form").fadeIn();
		$("#main_form").css( 'visibility', 'visible');
		
	})
	
	.always(function( data ) {
		console.log( "Finished" );
		$("#check_securepin").attr("disabled", false);
	
	});
	
}

function fillForm ( data ) 
{
	// Fill the form with json data retrieved from the ajax getmailcfg call
	// As this are little fields, we do it "by hand" (see MQTT plugin for an automated form filling)
	console.log ("Fill form", data);
	
	// SMTP Form
	
	if(data.SMTP) {
		if(data.SMTP.EMAIL) $("#email").val(data.SMTP.EMAIL);
		if(data.SMTP.HOST) $("#smtpserver").val(data.SMTP.HOST);
		if(data.SMTP.PORT) $("#smtpport").val(data.SMTP.PORT);
		if(data.SMTP.USER) $("#smtpuser").val(data.SMTP.USER);
		if(data.SMTP.PASSWORD) $("#smtppass").val(data.SMTP.PASSWORD);
		
		// Checkboxes
		if(is_enabled(data.SMTP.ACTIVATE_MAIL)) $("#activate_mail").prop('checked', true).checkboxradio("refresh");
		if(is_enabled(data.SMTP.AUTH)) $("#smtpauth").prop('checked', true).checkboxradio("refresh");
		if(is_enabled(data.SMTP.TLS)) $("#smtpcrypt").prop('checked', true).checkboxradio("refresh");
	}

	// Notifications Area
	if(data.NOTIFICATION) {
		if(is_enabled(data.NOTIFICATION.MAIL_SYSTEM_ERRORS)) 
			$("#MAIL_SYSTEM_ERRORS").prop('checked', true).checkboxradio("refresh");
		
		if(is_enabled(data.NOTIFICATION.MAIL_SYSTEM_INFOS)) 
			$("#MAIL_SYSTEM_INFOS").prop('checked', true).checkboxradio("refresh");
		
		if(is_enabled(data.NOTIFICATION.MAIL_PLUGIN_ERRORS)) 
			$("#MAIL_PLUGIN_ERRORS").prop('checked', true).checkboxradio("refresh");
		if(is_enabled(data.NOTIFICATION.MAIL_PLUGIN_INFOS)) 
			$("#MAIL_PLUGIN_INFOS").prop('checked', true).checkboxradio("refresh");
	}
	disable();
}

function saveForm()
{
	console.log("saveForm");
	$('#ajaxstatus').html('<span style="color:blue"><TMPL_VAR MAILSERVER.SAVE_WAIT></span>');
	
	// Delete user/pass if auth is disabled, or mail is disabled
	if( ! $('#smtpauth').is(':checked') || ! $('#activate_mail').is(':checked') ) {
		$("#smtpuser").val("");
		$("#smtppass").val("");
	}
	if( ! $('#activate_mail').is(':checked') ) {
		$("#email").val("");
		$("#smtpserver").val("");
		$("#smtpport").val("");
	}
	
	// Post form
	var config = $('#main_form').serialize();
	
	var jqxhr = $.ajax( { 
					type: "POST", 
					data: config
		})

	.done(function( data ) {
	    console.log ( "Success" );
		if (data.error != 0) 
		{
			$('#ajaxstatus').html('<span style="color:red">'+data.message+'</span>');
		} 
		else 
		{
			$('#ajaxstatus').html('<span style="color:green"><TMPL_VAR MAILSERVER.SAVE_SUCCESS></span>');
		}
	
  })
  .error(function(XMLHttpRequest, textStatus, errorThrown) {
  	console.log( "Error");
     $('#ajaxstatus').html('<span style="color:red"><TMPL_VAR MAILSERVER.SAVE_ERROR> '+errorThrown+'</span>');
  });
}
// is_enabled, equivalent to Perls/PHPs LoxBerry is_enabled function
function is_enabled( val ) 
{
	// Returns true if val is in one of the possibilities 
	var enabled_values = [ true, "true", 1, "1", "checked", "selected", "enabled", "enable", "on" ];
	return (enabled_values.indexOf(val) > -1);
	
}

function AddKeyPress(event, submitobj ) { 
        // look for window.event in case event isn't passed in
		event = event || window.event;
        if (event.keyCode == 13) {
            submitobj.click();
            return false;
        }
        return true;
    }


</script>
<!-- ** END template/system/mailserver.html ************************************************************************************ -->
