<!-- ** START template/system/miniserver.html 27.01.2018 14:39:31 ************************************************************************************ -->
<TMPL_IF FORM>
<form method="post" data-ajax="false" name="main_form2" id="main_form2" action="/admin/system/miniserver.cgi">
	<input type="hidden" name="saveformdata" value="1">
	<input id="miniservers" type="hidden" name="miniservers" value="<TMPL_VAR MINISERVERS>">
	<div style="text-align:center;">
		<button onclick="window.validate_override=1;" type="submit" form="main_form2" name="addbtn" value="add" id="addmsbtn" data-role="button" data-icon="plus" data-mini="true" data-inline="true"><TMPL_VAR MINISERVER.BUTTON_ADD_MS></button>
		<button onclick="window.validate_override=1;" type="submit" form="main_form2" name="delbtn" value="<TMPL_VAR LASTKEY>" id="delmsbtn" data-role="button" data-icon="minus" data-mini="true" data-inline="true"><TMPL_VAR MINISERVER.BUTTON_DELETE_MS></button>
	   <a id="scan" data-role="button" data-inline="true" data-mini="true" data-icon="navigation" href="#"><TMPL_VAR MINISERVER.BUTTON_SCAN></a>
	   <div id="scan_result"></div>
	   <div id="miniserver_anchors" style="display:none">
		<TMPL_LOOP NAME="MSDATA">
			<a href="#miniservertbl<TMPL_VAR MSNO>" data-ajax="false"><TMPL_VAR MSNO>. <TMPL_VAR COMMON.PROPERNOUN_MINISERVER>
								<TMPL_IF MSNAME>(<TMPL_VAR MSNAME>)</TMPL_IF></a>&nbsp;&nbsp;&nbsp;
	   
	   
	    </TMPL_LOOP>
	   </div>
	</div>
	<table id="maintable">
		<tbody>
			<tr>
				<td>
				<TMPL_LOOP NAME="MSDATA">
					<!-- This is template/system/miniserver.html TMPL_LOOP #<TMPL_VAR MSNO> -->
					<table id="miniservertbl<TMPL_VAR MSNO>" class="formtable" style="border:0; border-spacing:5px; width:100%;">
						<tr>
							<td style="width:100%;" colspan="3">
								<p class="wide"><TMPL_VAR MSNO>. <TMPL_VAR COMMON.PROPERNOUN_MINISERVER>
								<TMPL_IF MSNAME>(<TMPL_VAR MSNAME>)</TMPL_IF></p>
									<a id="miniserverweb<TMPL_VAR MSNO>" data-role="button" data-mini="true" data-inline="true" data-icon="grid" onclick="open_ms_web('<TMPL_VAR MSNO>');"><TMPL_VAR MINISERVER.BUTTON_OPEN_WEBIF></a>
									<a id="miniserverlog<TMPL_VAR MSNO>" data-role="button" data-mini="true" data-inline="true" data-icon="star" onclick="open_ms_log('<TMPL_VAR MSNO>');" target="miniserver_log"><TMPL_VAR MINISERVER.BUTTON_OPEN_LOG></a>
									<a id="miniservercheck<TMPL_VAR MSNO>" data-role="button" data-inline="true" data-mini="true" data-icon="navigation" href="#" class="button_checkms" data-msno="<TMPL_VAR MSNO>"><TMPL_VAR MINISERVER.BUTTON_CHECKMS></a>
									<div id="miniservercheck<TMPL_VAR MSNO>_result"></div>
							</td>
						</tr>
						<tr>
							<td>
								<label for="miniserverfoldername<TMPL_VAR MSNO>"><TMPL_VAR MINISERVER.LABEL_MSNAME></label>
							</td>
							<td>
								<input value="<TMPL_VAR MSNAME>" id='miniserverfoldername<TMPL_VAR MSNO>' name='miniserverfoldername<TMPL_VAR MSNO>' type='text' data-validation-error-msg="<TMPL_VAR MINISERVER.MSG_VAL_INVALID_MSNAME>" data-validation-rule="^([A-Za-z0-9\_\-]){1,64}$">
							</td>
							<td class="hint">
								<TMPL_VAR MINISERVER.HINT_MSNAME>
							</td>
						</tr>
						<tr>
							<td>
								<label for="miniserveruser<TMPL_VAR MSNO>"><TMPL_VAR MINISERVER.LABEL_MSUSER></label>
							</td>
							<td>
								<input class="textfield" readonly onfocus="this.removeAttribute('readonly');" value="<TMPL_VAR MSUSER>" id='miniserveruser<TMPL_VAR MSNO>' name='miniserveruser<TMPL_VAR MSNO>' type='text' data-validation-error-msg="<TMPL_VAR MINISERVER.MSG_VAL_INVALID_MSUSER>" data-validation-rule="^([^\!\#\$\%\&\'\*\+\,\/\:\;\=\?\@\[\]\\\]]){1}([^\!\#\$\%\&\'\*\+\,\/\:\;\=\?\@\[\]\\\]])*$" data-validation-coloring="off" >
							</td>
							<td class="hint">
								<TMPL_VAR MINISERVER.HINT_MSUSER>
							</td>
						</tr>
						<tr>
							<td>
								<label for="miniserverkennwort<TMPL_VAR MSNO>"><TMPL_VAR MINISERVER.LABEL_MSPASS></label>
							</td>
							<td>
								<input class="textfield" readonly onfocus="this.removeAttribute('readonly');" value="<TMPL_VAR MSPASS>" id='miniserverkennwort<TMPL_VAR MSNO>' name='miniserverkennwort<TMPL_VAR MSNO>' type='password' data-validation-error-msg="<TMPL_VAR MINISERVER.MSG_VAL_INVALID_MSPASS>" data-validation-rule="^.{1}.*$" data-validation-coloring="off" autocomplete="off">
							</td>
							<td class="hint">
								<TMPL_VAR MINISERVER.HINT_MSPASS>
							</td>
						</tr>
						<tr>
							<td style="width:25%;">
								&nbsp;
							</td>
							<td style="width:30%;">
								<label><input type="checkbox" id="useclouddns<TMPL_VAR MSNO>" name="useclouddns<TMPL_VAR MSNO>" data-useclouddns="<TMPL_VAR MSUSECLOUDDNS>"><TMPL_VAR MINISERVER.LABEL_USE_CLOUD_DNS></label>
							</td>
							<td style="width:40%;" class="hint">
								<TMPL_VAR MINISERVER.HINT_USE_CLOUD_DNS>
							</td>
						</tr>
						<tr id="miniserveriprow<TMPL_VAR MSNO>" data-ipaddr="<TMPL_VAR MSIP>" class="noclouddns<TMPL_VAR MSNO>">
							<td style="width:25%;">
								<label class="control-label" for="miniserverip<TMPL_VAR MSNO>"><TMPL_VAR MINISERVER.LABEL_MSIP></label>
							</td>
							<td style="width:30%;">
								<input value="<TMPL_VAR MSIP>" id='miniserverip<TMPL_VAR MSNO>' name='miniserverip<TMPL_VAR MSNO>' type='text' data-validation-error-msg="<TMPL_VAR MINISERVER.MSG_VAL_INVALID_IP>" data-validation-rule="special:domainname_or_ipaddr">
							</td>
							<td style="width:40%;" class="hint">
							</td>
						</tr>
						<tr id="miniserverportrow<TMPL_VAR MSNO>" data-portaddr="<TMPL_VAR MSPORT>" class="noclouddns<TMPL_VAR MSNO>">
							<td>
								<label for="miniserverport<TMPL_VAR MSNO>"><TMPL_VAR MINISERVER.LABEL_MSPORT></label>
							</td>
							<td>
								<input value="<TMPL_VAR MSPORT>" id='miniserverport<TMPL_VAR MSNO>' name='miniserverport<TMPL_VAR MSNO>' type='text' data-validation-error-msg="<TMPL_VAR MINISERVER.MSG_VAL_INVALID_PORT>" data-validation-rule="^(([1-9]{1}|[1-9][0-9]{1,3})|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$">
							</td>
							<td class="hint">
								<TMPL_VAR MINISERVER.HINT_MSPORT>
							</td>
						</tr>
						<tr id="miniservercloudurlrow<TMPL_VAR MSNO>" data-dnsurl="<TMPL_VAR MSCLOUDURL>" class="clouddns<TMPL_VAR MSNO>">
							<td style="width:25%;">
								<label class="control-label" for="miniservercloudurl<TMPL_VAR MSNO>"><TMPL_VAR MINISERVER.LABEL_CLOUDURL></label>
							</td>
							<td style="width:30%;">
								<input value="<TMPL_VAR MSCLOUDURL>" id='miniservercloudurl<TMPL_VAR MSNO>' name='miniservercloudurl<TMPL_VAR MSNO>' type='text' data-validation-error-msg="<TMPL_VAR MINISERVER.MSG_VAL_INVALID_CLOUDURL>" data-validation-rule="(^[Ee][Ee][Ee]000([a-zA-Z0-9]{6})$)|(^504[Ff]([a-fA-F0-9]{8})$)">
							</td>
							<td style="width:40%;" class="hint">
								<TMPL_VAR MINISERVER.HINT_MSCLOUDURL>
							</td>
						</tr>
						<tr id="miniservercloudurlftpportrow<TMPL_VAR MSNO>" data-dnsurlftpport="<TMPL_VAR MSCLOUDURLFTPPORT>" class="clouddns<TMPL_VAR MSNO>">
							<td style="width:25%;">
								<label class="control-label" for="miniservercloudurlftpport<TMPL_VAR MSNO>"><TMPL_VAR MINISERVER.LABEL_MSCLOUDURL_FTPPORT></label>
							</td>
							<td style="width:30%;">
								<input value="<TMPL_VAR MSCLOUDURLFTPPORT>" id='miniservercloudurlftpport<TMPL_VAR MSNO>' name='miniservercloudurlftpport<TMPL_VAR MSNO>' type='text' data-validation-error-msg="<TMPL_VAR MINISERVER.MSG_VAL_INVALID_CLOUDDNS_FTPPORT>" data-validation-rule="^(([1-9]{1}|[1-9][0-9]{1,3})|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$">
							</td>
							<td style="width:40%;" class="hint">
								<TMPL_VAR MINISERVER.HINT_CLOUDDNS_FTPPORT>
							</td>
						</tr>
						
						<!-- HTTPS -->
						<tr id="miniserverpreferhttpsrow<TMPL_VAR MSNO>">
							<td>
							</td>
							<td>
								<label>
									<input id="miniserverpreferhttps<TMPL_VAR MSNO>" name="miniserverpreferhttps<TMPL_VAR MSNO>" data-preferhttps="<TMPL_VAR MSPREFERHTTPS>" type="checkbox"><TMPL_VAR MINISERVER.LABEL_PREFERHTTPS>
								</label>
							</td>
							<td class="hint">
								<TMPL_VAR MINISERVER.HINT_PREFERHTTPS>
							</td>
						</tr>
						<tr id="miniserverporthttpsrow<TMPL_VAR MSNO>" data-porthttpsaddr="<TMPL_VAR MSPORTHTTPS>" class="nohttps<TMPL_VAR MSNO>" style="display:none">
							<td>
								<label for="miniserverporthttps<TMPL_VAR MSNO>"><TMPL_VAR MINISERVER.LABEL_MSPORTHTTPS></label>
							</td>
							<td>
								<input value="<TMPL_VAR MSPORTHTTPS>" id='miniserverporthttps<TMPL_VAR MSNO>' name='miniserverporthttps<TMPL_VAR MSNO>' type='text' data-validation-error-msg="<TMPL_VAR MINISERVER.MSG_VAL_INVALID_PORT>" data-validation-rule="^(([1-9]{1}|[1-9][0-9]{1,3})|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$">
							</td>
							<td class="hint">
								<TMPL_VAR MINISERVER.HINT_MSPORTHTTPS>
							</td>
						</tr>
						
						<!-- HTTPS End -->
						
						
						<tr>
							<td>
								<label for="miniservernote<TMPL_VAR MSNO>"><TMPL_VAR MINISERVER.LABEL_MSNOTE></label>
							</td>
							<td>
								<SCRIPT>
									function note_link (note_object)
									{
										if ( validate_chk_value( "#"+note_object,'keyup','special:url') )
										{
											$("#"+note_object+"_url").attr("href",$("#"+note_object).val());
											$("#"+note_object+"_url").css("visibility", "visible");
										}
										else
										{
											$("#"+note_object+"_url").attr("href","#");
											$("#"+note_object+"_url").css("visibility", "hidden");
										}
									};
								</SCRIPT>
								<textarea id="miniservernote<TMPL_VAR MSNO>" name="miniservernote<TMPL_VAR MSNO>" class="textfield" data-validation-coloring="off" data-validation-rule=".*{0,512}" data-validation-error-msg="<TMPL_VAR MINISERVER.MSG_VAL_INVALID_NOTE>" ><TMPL_VAR MSNOTE></textarea>
								<SCRIPT>
									$("#miniservernote<TMPL_VAR MSNO>").keyup(function()
									{
										note_link($(this).attr("id"));
									});
								</SCRIPT>
							</td>
							<td>
								<a id="miniservernote<TMPL_VAR MSNO>_url" data-role="button" data-inline="true" data-mini="true" data-icon="star" href="#" target="miniserver_note"><TMPL_VAR COMMON.BUTTON_OPEN></a>
							</td>
						</tr>
						<tr>
							<td colspan="3">&nbsp;
							</td>
						</tr>
						<SCRIPT>
							
							/* JavaScript code in TMPL_LOOP */
							$(document).ready( function()
							{
								
								note_link ("miniservernote<TMPL_VAR MSNO>");
								validate_enable('#miniserverfoldername<TMPL_VAR MSNO>'); 
								validate_enable('#miniserveruser<TMPL_VAR MSNO>'); 
								validate_enable('#miniserverkennwort<TMPL_VAR MSNO>'); 
								validate_enable('#miniserverip<TMPL_VAR MSNO>'); 
								validate_enable('#miniserverport<TMPL_VAR MSNO>'); 
								validate_enable('#miniservercloudurl<TMPL_VAR MSNO>'); 
								validate_enable('#miniservercloudurlftpport<TMPL_VAR MSNO>'); 
								$("#miniserveriprow<TMPL_VAR MSNO>").attr( "data-ipaddr",$("#miniserverip<TMPL_VAR MSNO>").val());
								$("#miniserverportrow<TMPL_VAR MSNO>").attr( "data-portaddr",$("#miniserverport<TMPL_VAR MSNO>").val());
								$("#miniservercloudurlrow<TMPL_VAR MSNO>").attr( "data-dnsurl",$("#miniservercloudurl<TMPL_VAR MSNO>").val());
								$("#miniservercloudurlftpportrow<TMPL_VAR MSNO>").attr( "data-dnsurlftpport",$("#miniservercloudurlftpport<TMPL_VAR MSNO>").val());
								// console.log("preferhttps", $("#miniserverpreferhttps<TMPL_VAR MSNO>").data("preferhttps"));
								
								useclouddns = is_enabled( $("#useclouddns<TMPL_VAR MSNO>").data("useclouddns") ) ? true : false;  
								$("#useclouddns<TMPL_VAR MSNO>").attr('checked', useclouddns ).checkboxradio('refresh');
								
								preferhttps = is_enabled( $("#miniserverpreferhttps<TMPL_VAR MSNO>").data("preferhttps") ) ? true : false;  
								$("#miniserverpreferhttps<TMPL_VAR MSNO>").attr('checked', preferhttps ).checkboxradio('refresh');
								if( preferhttps && !$("#useclouddns<TMPL_VAR MSNO>").is(":checked") ) 
									$("#miniserverporthttpsrow<TMPL_VAR MSNO>").show();
								else 
									$("#miniserverporthttpsrow<TMPL_VAR MSNO>").hide();
								$("#miniserverporthttpsrow<TMPL_VAR MSNO>").data( "porthttpsaddr", $("#miniserverporthttps<TMPL_VAR MSNO>").val());
								$("#miniserverpreferhttps<TMPL_VAR MSNO>").click(function() {
									if ( $(this).is(":checked") && !$("#useclouddns<TMPL_VAR MSNO>").is(":checked") )
										$("#miniserverporthttpsrow<TMPL_VAR MSNO>").fadeIn();
									else 
										$("#miniserverporthttpsrow<TMPL_VAR MSNO>").fadeOut();
								});
								
								
								$("#useclouddns<TMPL_VAR MSNO>").change(function()
								{
									if($(this).is(":checked"))
									{
										$("#miniserveriprow<TMPL_VAR MSNO>").attr( "data-ipaddr",$("#miniserverip<TMPL_VAR MSNO>").val());
										$("#miniserverportrow<TMPL_VAR MSNO>").attr( "data-portaddr",$("#miniserverport<TMPL_VAR MSNO>").val());
										$("#miniservercloudurl<TMPL_VAR MSNO>").val($("#miniservercloudurlrow<TMPL_VAR MSNO>").attr( "data-dnsurl" ));
										$("#miniservercloudurlftpport<TMPL_VAR MSNO>").val($("#miniservercloudurlftpportrow<TMPL_VAR MSNO>").attr( "data-dnsurlftpport" ));
										validate_clean_objects(['#miniserverip<TMPL_VAR MSNO>','#miniserverport<TMPL_VAR MSNO>']);				
										validate_chk_object(['#miniserverfoldername<TMPL_VAR MSNO>','#miniserveruser<TMPL_VAR MSNO>','#miniserverkennwort<TMPL_VAR MSNO>','#miniservercloudurl<TMPL_VAR MSNO>','#miniservercloudurlftpport<TMPL_VAR MSNO>']);
										$("#miniservercloudurlrow<TMPL_VAR MSNO>").fadeTo( "fast", 1 );
										$("#miniservercloudurlftpportrow<TMPL_VAR MSNO>").fadeTo( "fast", 1 );
										$("#miniserveriprow<TMPL_VAR MSNO>").fadeTo( "fast", 0.3 );
										$("#miniserverportrow<TMPL_VAR MSNO>").fadeTo( "fast", 0.3 );
										$(".noclouddns<TMPL_VAR MSNO>").hide();
										$(".clouddns<TMPL_VAR MSNO>").show();
										$("#miniserverporthttpsrow<TMPL_VAR MSNO>").hide();
										$("#miniservercloudurl<TMPL_VAR MSNO>").trigger( "keyup" );
										$("#miniservercloudurlftpport<TMPL_VAR MSNO>").trigger( "keyup" );
										$(this).prev().removeClass( "ui-checkbox-off" ).addClass( "ui-checkbox-on" );
									}
									else
									{
										$("#miniservercloudurlrow<TMPL_VAR MSNO>").attr( "data-dnsurl",$("#miniservercloudurl<TMPL_VAR MSNO>").val());
										$("#miniservercloudurlftpportrow<TMPL_VAR MSNO>").attr( "data-dnsurlftpport",$("#miniservercloudurlftpport<TMPL_VAR MSNO>").val());
										$("#miniserverip<TMPL_VAR MSNO>").val($("#miniserveriprow<TMPL_VAR MSNO>").attr( "data-ipaddr" ));
										$("#miniserverport<TMPL_VAR MSNO>").val($("#miniserverportrow<TMPL_VAR MSNO>").attr( "data-portaddr" ));
										validate_clean_objects(['#miniservercloudurl<TMPL_VAR MSNO>','#miniservercloudurlftpport<TMPL_VAR MSNO>']);				
										validate_chk_object(['#miniserverfoldername<TMPL_VAR MSNO>','#miniserveruser<TMPL_VAR MSNO>','#miniserverkennwort<TMPL_VAR MSNO>','#miniserverip<TMPL_VAR MSNO>','#miniserverport<TMPL_VAR MSNO>']);
										$("#miniservercloudurlrow<TMPL_VAR MSNO>").fadeTo( "fast", 0.3 );
										$("#miniservercloudurlftpportrow<TMPL_VAR MSNO>").fadeTo( "fast", 0.3 );
										$("#miniserveriprow<TMPL_VAR MSNO>" ).fadeTo( "fast", 1 );
										$("#miniserverportrow<TMPL_VAR MSNO>" ).fadeTo( "fast", 1 );
										$(".noclouddns<TMPL_VAR MSNO>").show();
										$(".clouddns<TMPL_VAR MSNO>").hide();
										preferhttps = is_enabled( $("#miniserverpreferhttps<TMPL_VAR MSNO>").data("preferhttps") ) ? true : false; 
										if( preferhttps ) {
											$("#miniserverporthttpsrow<TMPL_VAR MSNO>").show();
										}
										$("#miniserverip<TMPL_VAR MSNO>").trigger( "keyup" );
										$("#miniserverport<TMPL_VAR MSNO>").trigger( "keyup" );
										$(this).prev().removeClass( "ui-checkbox-on" ).addClass( "ui-checkbox-off" );
									}
								});
								$("#useclouddns<TMPL_VAR MSNO>").trigger( "change" );
								$("#miniserverip<TMPL_VAR MSNO>").css("background-color",$("#miniserverip<TMPL_VAR MSNO>").attr("original-background-color")); 
								$("#miniserverport<TMPL_VAR MSNO>").css("background-color",$("#miniserverport<TMPL_VAR MSNO>").attr("original-background-color")); 
								$("#miniservercloudurl<TMPL_VAR MSNO>").css("background-color",$("#miniservercloudurl<TMPL_VAR MSNO>").attr("original-background-color")); 
								$("#miniservercloudurlftpport<TMPL_VAR MSNO>").css("background-color",$("#miniservercloudurlftpport<TMPL_VAR MSNO>").attr("original-background-color")); 

								/* UPDATE 2.0.2: As Miniserver webif/log urls are evaluated on the fly, buttons wouldn't need to be disabled anymore */
								/* 
								$('#miniserveruser<TMPL_VAR MSNO>').on('keyup', function(e) { 
									$("#miniserverlog<TMPL_VAR MSNO>").addClass("ui-disabled"); 
									$("#miniserverweb<TMPL_VAR MSNO>").addClass("ui-disabled"); 
								});
								$('#miniserverkennwort<TMPL_VAR MSNO>').on('keyup', function(e) { 
									$("#miniserverlog<TMPL_VAR MSNO>").addClass("ui-disabled"); 
									$("#miniserverweb<TMPL_VAR MSNO>").addClass("ui-disabled"); 
								});
								$('#miniserverip<TMPL_VAR MSNO>').on('keyup', function(e) { 
									$("#miniserverlog<TMPL_VAR MSNO>").addClass("ui-disabled"); 
									$("#miniserverweb<TMPL_VAR MSNO>").addClass("ui-disabled"); 
								});
								$('#miniserverport<TMPL_VAR MSNO>').on('keyup', function(e) { 
									$("#miniserverlog<TMPL_VAR MSNO>").addClass("ui-disabled"); 
									$("#miniserverweb<TMPL_VAR MSNO>").addClass("ui-disabled
								"); });
								$("#miniservercloudurl<TMPL_VAR MSNO>").on('keyup', function(e) { 
									$("#miniserverlog<TMPL_VAR MSNO>").addClass("ui-disabled"); 
									$("#miniserverweb<TMPL_VAR MSNO>").addClass("ui-disabled"); 
								});
								*/
							});
						</SCRIPT>
					</table>
				</TMPL_LOOP>
				<!-- Finished template/system/miniserver.html TMPL_LOOP #<TMPL_VAR MSNO> -->
				</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<div style="text-align:center;">
			<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/system/index.cgi?form=system"><TMPL_VAR COMMON.BUTTON_CANCEL></a>
			<button type="submit" form="main_form2" name="btnsubmit" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR COMMON.BUTTON_SAVE></button>
			<button id="showpass" name="showpass" type="button" data-inline="true" data-mini="true" data-icon="eye"><TMPL_VAR MINISERVER.BUTTON_SHOW_PASSWORDS></button>
	
	</div>
</form>

<script>
/* Javascript code for the full page */
$(document).ready( function() {
	
	$(".button_checkms").click(function() {
		$('#scan_result').html('');
		msno = $(this).data("msno");
		console.log("Miniserver No.", msno);
		
		var url = "/admin/system/tools/ajax-check-miniserver.cgi";
		var resultdiv = $("#miniservercheck"+msno+"_result");
		resultdiv.html("<TMPL_VAR COMMON.MSG_PLEASEWAIT>");
		var checkresult = $.post( url, 
							{	ip: $("#miniserverip"+msno).val(),
								port: $("#miniserverport"+msno).val(),
								preferhttps: $("#miniserverpreferhttps"+msno).is(':checked'),
								porthttps: $("#miniserverporthttps"+msno).val(),
								user: $("#miniserveruser"+msno).val(),
								pass: $("#miniserverkennwort"+msno).val(),
								useclouddns: $("#useclouddns"+msno).is(':checked'),
								clouddns: $("#miniservercloudurl"+msno).val(),
				} );
		checkresult.done(function( data ) {
			console.log ("Output:", data);
			var isadmin;
			var html = "";
			if (typeof data.http != 'undefined') {
				if (data.http.success) {
					html += "<span style='color:green;'>HTTP: <TMPL_VAR MINISERVER.CHECKMS_AUTH_OK></span>";
					$("#miniserverlog"+msno).removeClass( "ui-disabled" );
					$("#miniserverweb"+msno).removeClass( "ui-disabled" );
					if( is_enabled( data.http.isadmin ) ) 
						isadmin = true;
					else 
						isadmin = false;
					
				} else {
					html += "<span style='color:red;'>HTTP: <TMPL_VAR MINISERVER.CHECKMS_AUTH_ERROR></span>";
					html += " " + data.http.status_line;
					/*
					$("#miniserverlog"+msno).addClass( "ui-disabled" );
					$("#miniserverweb"+msno).addClass( "ui-disabled" );
					*/
				}
			} 			
			if (typeof data.https != 'undefined') {
				if (data.https.success) {
					html += "<br><span style='color:green;'>HTTPS: <TMPL_VAR MINISERVER.CHECKMS_AUTH_OK></span>";
					$("#miniserverlog"+msno).removeClass( "ui-disabled" );
					$("#miniserverweb"+msno).removeClass( "ui-disabled" );
					if( is_enabled( data.https.isadmin ) ) 
						isadmin = true;
					else 
						isadmin = false;
					
				} else {
					html += "<br><span style='color:red;'>HTTPS: <TMPL_VAR MINISERVER.CHECKMS_AUTH_ERROR></span>";
					html += " " + data.https.status_line;
					/*
					$("#miniserverlog"+msno).addClass( "ui-disabled" );
					$("#miniserverweb"+msno).addClass( "ui-disabled" );
					*/
				}
			}
			
			if ( isadmin == true ) 
				html+= "<br><TMPL_VAR MINISERVER.CHECKMS_IS_ADMIN>";
			else if ( isadmin == false ) 
				html += "<br><TMPL_VAR MINISERVER.CHECKMS_IS_NONADMIN>";
			
			/* CloudDNS infos in UI */
			if( typeof data.clouddns != 'undefined' ) {
				html += '<br><span style="font-size:70%">';
				html += 'Loxone CloudDNS: ';
				html += 'HTTP: ' + data.clouddns.IP + ' (Port Open ' + is_enabled(data.clouddns.PortOpen) + ') ';
				html += 'HTTPS: ' + data.clouddns.IPHTTPS + ' (Port Open ' + is_enabled(data.clouddns.PortOpenHTTPS) + '), ';
				html += 'updated ' + data.clouddns.LastUpdated;
				html += '</span>';
			}
			
			resultdiv.html(html);

		});
		checkresult.fail(function( status, data ) {
			resultdiv.html("<span style='color:red;'>Internal server error on call of ajax-check-miniserver.cgi</span> (HTTP "+status.status + " "+ status.statusText + ")");
			console.log("Internal server error on call of ajax-check-miniserver.cgi", status.status, status.statusText);
		});

	});

	// Show passwords
	$('#showpass').click(function() {
		$('.textfield').prop('type', 'text');
	});

});

$(document).ready(function() {
	
	ms_count = $("#miniservers").val();
	if( ms_count > 2 ) {
	// Show anchors for Miniservers
		$("#miniserver_anchors").show();
	}
	
	////////////////// Some logic to prevent garbage in MS config /////////////
	$("#main_form2 input[type=text]").on('keyup paste input', function(e) 
	{ 
		var what_to_test = ( typeof window.obj_to_validate != 'undefined' && window.obj_to_validate instanceof Array ) ? window.obj_to_validate : [];
		var chkerr = 0;
		$.each(what_to_test, function (i,v)
		{
			if ( !validate_chk_value( v,'keyup' ,$(v).attr('data-validation-rule') ) )
			{
				if ( $(v).val() == "" ) 
				{
					chkerr = chkerr + 1;
					$("#addmsbtn").attr('disabled','disabled');
				}
				else
				{
					chkerr = chkerr + 1;
					$("#delmsbtn").attr('disabled','disabled');
					$("#addmsbtn").attr('disabled','disabled');
				}
			}
		});
			if ( chkerr == 0 )
			{
				$("#addmsbtn").removeAttr('disabled');
				$("#delmsbtn").removeAttr('disabled');
			}
	});
	////////////////// Some logic to prevent garbage in MS config /////////////

});


// Scan for Miniserver
$('#scan').click( function(e) {
	$('#miniservercheck<TMPL_VAR MSNO>_result').html('');
	$('#scan_result').html('<TMPL_VAR MINISERVER.MSG_SCANNING>');
	e.preventDefault();
	$.ajax({
		contentType: "application/x-www-form-urlencoded; charset=iso-8859-15",
		type: "GET",
		url: "/admin/system/tools/netscan.cgi",
		data: "data",
		dataType: "json",
		success: function(data){
		  //data.replace(/\r|\n/g, "");
		  $('#miniserverip1').empty();
		  if (data.IP.length < 3) 
		  {
			$('#scan_result').html('<TMPL_VAR MINISERVER.MSG_NOTFOUND>');
		  } 
		  else 
		  {
			$('#scan_result').html('<TMPL_VAR MINISERVER.MSG_FOUND>');
			$("#miniserveriprow1").attr( "data-ipaddr" , data.IP );
			$("#miniserverportrow1").attr( "data-portaddr" , data.Port);
			$("#miniserverfoldername1").val(data.Name);
			$("#useclouddns1").prop("checked", false);
			$("#useclouddns1").trigger( "change" );
		  }
		}
	});
});


function open_ms_web ( msno ) {
	
	// Query preferhttps and clouddns
	preferhttps = $("#miniserverpreferhttps"+msno).is(':checked');
	clouddns = $("#useclouddns"+msno).is(':checked');
	transport = preferhttps ? "https" : "http";
		
	var url;
	
	errormsg = '<span style="color:red;"><TMPL_VAR MINISERVER.MSG_ERR_MS_SETTINGS_INVALID></span>';
	
	if( preferhttps && !clouddns ) {
	
		if ( !validate_chk_value('#miniserverip'+msno) || !validate_chk_value('#miniserverporthttps'+msno) ) {
			$("#miniservercheck"+msno+"_result").html(errormsg);
			return;
		}
		ip = $('#miniserverip'+msno).val();
		port = $('#miniserverporthttps'+msno).val();
		
	} else if( !preferhttps && !clouddns) {
		if ( !validate_chk_value('#miniserverip'+msno) || !validate_chk_value('#miniserverport'+msno) ) {
			$("#miniservercheck"+msno+"_result").html(errormsg);
			return;
		}
		ip = $('#miniserverip'+msno).val();
		port = $('#miniserverport'+msno).val();
	} else if ( clouddns ) {
		if ( !validate_chk_value('#miniservercloudurl'+msno) ) {
			$("#miniservercheck"+msno+"_result").html(errormsg);
			return;
		}
		mac = $('#miniservercloudurl'+msno).val();
		/* CloudDNS does not obey Preferhttps setting, as CloudDNS knows itself if HTTPS is used or not */
		open( "http://dns.loxonecloud.com/"+mac, '_blank' );
		return;
	} else {
		$("#miniservercheck"+msno+"_result").html(errormsg);
		return;
	}
		
	open( transport + '://' + ip +':' + port, '_blank');
	
}

/* Open Miniserver logfile */ 
function open_ms_log ( msno ) {
	
	// Query preferhttps, clouddns
	preferhttps = $("#miniserverpreferhttps"+msno).is(':checked');
	clouddns = $("#useclouddns"+msno).is(':checked');
	transport = preferhttps ? "https" : "http";

	var url;
	
	errormsg = '<span style="color:red;"><TMPL_VAR MINISERVER.MSG_ERR_MS_SETTINGS_INVALID></span>';
	
	/* validate and get user and pass */
	if ( !validate_chk_value('#miniserveruser'+msno) || !validate_chk_value('#miniserverkennwort'+msno) ) {
		$("#miniservercheck"+msno+"_result").html(errormsg);
		return;
	}
	
	user = encodeURIComponent( $('#miniserveruser'+msno).val() );
	pass = encodeURIComponent( $('#miniserverkennwort'+msno).val() );
	
	if( preferhttps && !clouddns ) {
	
		if ( !validate_chk_value('#miniserverip'+msno) || !validate_chk_value('#miniserverporthttps'+msno) ) {
			$("#miniservercheck"+msno+"_result").html(errormsg);
			return;
		}
		ip = $('#miniserverip'+msno).val();
		port = $('#miniserverporthttps'+msno).val();
		
	} else if( !preferhttps && !clouddns) {
		if ( !validate_chk_value('#miniserverip'+msno) || !validate_chk_value('#miniserverport'+msno) ) {
			$("#miniservercheck"+msno+"_result").html(errormsg);
			return;
		}
		ip = $('#miniserverip'+msno).val();
		port = $('#miniserverport'+msno).val();
	} else if ( clouddns ) {
		if ( !validate_chk_value('#miniservercloudurl'+msno) ) {
			$("#miniservercheck"+msno+"_result").html(errormsg);
			return;
		}
		mac = $('#miniservercloudurl'+msno).val();
		/* CloudDNS does not obey Preferhttps setting, as CloudDNS knows itself if HTTPS is used or not */
		open( "http://dns.loxonecloud.com/"+mac+'/dev/fsget/log/def.log', '_blank' );
		return;
	
	} else {
		$("#miniservercheck"+msno+"_result").html(errormsg);
		return;
	}
	
	open( transport + '://' + user + ':' + pass + '@' + ip +':' + port + '/dev/fsget/log/def.log', '_blank');
	
}

/* A simple is_enabled js function as known from LoxBerry's Perl and PHP SDK */
function is_enabled( checkVal ) 
{
	if( typeof checkVal === 'undefined' ) return false;
	if( typeof checkVal === 'boolean' ) return checkVal;
	
	enabled = [ "true", "1", "on", "yes", "enable", "enabled", "select", "selected", "checked" ];
	checkVal = checkVal.toString().trim().toLowerCase();
	return enabled.includes(checkVal);
}


</SCRIPT>
</TMPL_IF>

<TMPL_IF ERRORFORM>
	<div style="text-align:center;">
		<h2><TMPL_VAR COMMON.MESSAGE_GENERIC_ERROR></h2>
		<p>
		<TMPL_VAR ERROR>
		</p>
		<p><TMPL_VAR MINISERVER.SAVE_ERR_MSG_SEE_DETAILS>
		</p>
	</div>
	<div data-role="collapsible">
		<h4>Details</h4>
		<div class="monospace"><TMPL_VAR ERRORDETAILS></div>
		</div>
		<div style="text-align:center;">
		<p>
			<a id="btnback" href="javascript:history.back();" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete"><TMPL_VAR COMMON.BUTTON_BACK></a>
		</p>
		</div>


</TMPL_IF>

<!-- ** END template/system/miniserver.html ************************************************************************************ -->
 
