<div id="mqttapp">
	<p class="wide">{{sl.heading}}</p>
	<p v-html="sl.intro"></p>
	
	<!-- 
		jQm updates the dom for radios, therefore we pre-render its markup.
		jQm changes the class ui-radio-on and ui-radio-off to show the bullet or not, so we need to Vue-bind these classes to the input value
	-->
		
	<div class="ui-radio">
		<label for="uselocalbroker_true" 
			class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left" 
			:class="{ 'ui-radio-on': Mqtt.Uselocalbroker=='true', 'ui-radio-off': Mqtt.Uselocalbroker!='true' }"
		>
			{{sl.uselocalbroker_true}}</label>
		<input type="radio" 
			data-role="none" 
			id="uselocalbroker_true" 
			name="uselocalbroker" 
			value="true" 
			v-model="Mqtt.Uselocalbroker" 
			v-on:change="Mqtt.Brokerhost='localhost';update_showbrokerhost();formadata_changed()"
		></input>
	</div>	
	<div class="ui-radio">
		<label for="uselocalbroker_false" 
			class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left" 
			:class="{ 'ui-radio-on': Mqtt.Uselocalbroker!='true', 'ui-radio-off': Mqtt.Uselocalbroker=='true' }"
		>
			{{sl.uselocalbroker_false}}</label>
		<input type="radio" 
			data-role="none" 
			id="uselocalbroker_false" 
			name="uselocalbroker" 
			value="false" 
			v-model="Mqtt.Uselocalbroker"
			v-on:change="update_showbrokerhost();formadata_changed()"
		></input>
	</div>
	
	
	<div v-if="Mqtt.Uselocalbroker=='true'">
			<h2>LoxBerry Managed MQTT Server</h2>
		</div>
		
		<div v-else>
			<h2>Own MQTT Server</h2>
		</div>
	
	<h3>Basic Settings</h3>
	
	<!-- jQm does not use the disabled property, but sets a class ui-disabled instead. Therefore it needs a Vue :class binding. -->
	
	<div class="ui-field-contain">
		<label for="Mqtt.Brokerhost" style="min-width:15%">MQTT Server hostname</label>
		<input type="text" 
			id="Mqtt.Brokerhost" 
			style="width:50%" 
			v-model.trim="Mqtt.Brokerhost" 
			:class="{ 'ui-disabled': Mqtt.Uselocalbroker=='true' }" 
			v-on:input="update_showbrokerhost"
			v-on:change="formadata_changed()"
			
		>
	</div>
	
	<div class="ui-field-contain">
		<label for="Mqtt.Brokerport" class="col-fixed" style="min-width:15%">MQTT Server Port<br><small id="Mqtt-Brokerport-help">Default is 1883</small></label>
		<input type="number" id="Mqtt.Brokerport" style="width:50%" v-model.number="Mqtt.Brokerport" aria-describedby="Mqtt-Brokerport-help" v-on:change="formadata_changed()">
	</div>
	
	<div class="ui-field-contain">
		<label for="Mqtt.Brokeruser" style="min-width:15%">MQTT Server User</label>
		<input type="text" id="Mqtt.Brokeruser" v-model.trim="Mqtt.Brokeruser" v-on:change="formadata_changed()">
	</div>
	
	<div class="ui-field-contain">
		<label for="Mqtt.Brokerpass" style="min-width:15%">MQTT Server Password</label>
		<input type="text" id="Mqtt.Brokerpass" v-model.trim="Mqtt.Brokerpass" v-on:change="formadata_changed()">
	</div>
	
	<div class="ui-field-contain">
		<label for="Mqtt.Websocketport" style="min-width:15%">MQTT Server Websocket Port</label>
		<input type="number" id="Mqtt.Websocketport" v-model.number="Mqtt.Websocketport" v-on:change="formadata_changed()">
	</div>

	<div class="ui-body ui-body-a" style="background-color:#6dac20;color:white;text-shadow:none">
		To configure MQTT devices, use the following MQTT connection information:<br>
		Host: <b>{{show_brokerhost}}</b> | Port: <b>{{Mqtt.Brokerport}}</b> | User: <b>{{Mqtt.Brokeruser}}</b> | Pass: <b>{{Mqtt.Brokerpass}}</b><br>
		<small>Possibly host and port needs to be combined: <b>{{show_brokerhost}}:{{Mqtt.Brokerport}}</b></small>
	</div>
	<div style="height:15px"></div>

	<!-- Save button -->
	<div style="display:flex;align-items:center;justify-content:center;">
		<button class="ui-btn ui-btn-icon-right" data-inline="true" v-on:click="saveApply()">Save and Apply</button>
	</div>

	<div v-show="data_changed" style="color:blue">
		Unsaved changes.<br>Keep in mind, that changing the MQTT Server settings might need to change these on all your MQTT devices. Plugins possibly need to be restarted.
	</div>
	<div v-show="data_saved" style="color:green">
		Changes saved successfully.
	</div>
	<div v-show="data_save_error" style="color:red">
		Error saving data.
	</div>
	

</div>


<script>
	
	const mqtt_generic = '/admin/system/ajax/ajax-generic.php';
	
	
	const mqttapp = {
	  
	  setup() {
		console.log("Setup called");
	  },
	  
	  data() {
		var Mqtt = this.getData();
		return {
			sl: { 
				heading: "MQTT Server Settings",
				intro: "MQTT is a slim, internationally standardised data transfer protocol using an MQTT Server (formerly called 'MQTT Broker'), that is a central program that transfers "+
					   "data from and to all directions. LoxBerry's MQTT Gateway and many plugins use the MQTT standard for data transfer. By default, "+
					   "LoxBerry automatically installs and manages the Mosquitto MQTT Server on your LoxBerry. But you are also able to configure another "+
					   "MQTT Server that should be used.<br>"+
					   "LoxBerry's MQTT Gateway and plugins use the MQTT settings of the below configuration.",
				uselocalbroker_true: "Use and automatically configure local MQTT Server",
				uselocalbroker_false: "Use custom MQTT Server and manage Server myself"
				
			},
			Mqtt: { 
				Uselocalbroker: "false",
				Brokerhost: "",
				Brokerport: "",
				Brokeruser: "",
				Brokerpass: "",
				Websocketport: "",
			},
			
			show_brokerhost: "",
			data_changed: false,
			data_saved: false,
			data_save_error: false
			
		};
	  },
	  methods: {
			
			formadata_changed() {
				this.data_changed = true;
				this.data_saved = false;
			},
			
			update_showbrokerhost() {
				if(this.Mqtt.Brokerhost.toLowerCase() == 'localhost') {
					this.show_brokerhost = window.location.hostname;
				} else {
					this.show_brokerhost = this.Mqtt.Brokerhost;
				}
			},
			
			saveApply() {
				console.log("Called Save and Apply");
				
				const requestOptions = {
					method: "POST",
					headers: { "Content-Type" : "application/json" },
					body: JSON.stringify( this.$data.Mqtt )
				};
				var self=this;
				// Update general.json
				fetch(mqtt_generic+'?file=$lbsconfigdir/general.json&section=Mqtt&write', requestOptions)
				.then( function(response) {
					console.log(response);
					if( response.ok != true ) {
						self.data_save_error = true;
					}
					else {
						fetch('/admin/system/ajax/ajax-mqtt.php?ajax=mosquitto_set');
						self.data_save_error = false;
						self.data_saved = true;
						self.data_changed = false;
					}
				});
				// Update legacy mqtt.json
				const legacyMqttjsonOptions = {
					method: "POST",
					headers: { "Content-Type" : "application/json" },
					body: JSON.stringify( { 
						"brokeraddress" : this.$data.Mqtt.Brokerhost+':'+this.$data.Mqtt.Brokerport
					} )
				};
				fetch(mqtt_generic+'?file=LBPCONFIG/mqttgateway/mqtt.json&section=Main&write', legacyMqttjsonOptions );
				// Update legacy mqtt cred.json
				const legacyMqttcredjsonOptions = {
					method: "POST",
					headers: { "Content-Type" : "application/json" },
					body: JSON.stringify( { 
						"brokeruser" : this.$data.Mqtt.Brokeruser,
						"brokerpass" : this.$data.Mqtt.Brokerpass
					} )
				};
				fetch(mqtt_generic+'?file=LBPCONFIG/mqttgateway/cred.json&section=Credentials&write', legacyMqttcredjsonOptions );
				
			},
			
			getData() {
				console.log("Called getData");
				// fetch('/admin/system/ajax/ajax-generic.php?file=$lbsconfigdir/general.json&section=Mqtt&read')
				fetch(mqtt_generic+'?file=$lbsconfigdir/general.json&section=Mqtt&read')
					.then( response => response.json() )
					.then( data => { 
						/* 
						if( !data?.Brokerhost ) data.Brokerhost = 'localhost';
						if( !data?.Brokerport ) data.Brokerport = '1883';
						if( !data?.Brokeruser ) data.Brokeruser = 'loxberry';
						if( !data?.Brokerpass ) data.Brokerpass = '';
						if( !data?.Websocketport ) data.Websocketport = '9001';
						if( !data?.Uselocalbroker ) data.Uselocalbroker = 'true';
						*/
						if ( data.Uselocalbroker == 1 ) data.Uselocalbroker = 'true';
						
						this.Mqtt = data } );
			}
	  },
	  updated() {
		this.update_showbrokerhost();
	  }
	}


	Vue.createApp(mqttapp)
		.mount('#mqttapp')





</script>
