<!-- ** START template/system/myloxberry.html 14.01.2018 19:26:41 ************************************************************************************ -->
<TMPL_IF form1>
	<form method="post" data-ajax="false" name="main_form" id="main_form" action="<TMPL_VAR SELFURL>">
		<input type="hidden" name="saveformdata" value="1">
		<div class="wide"><TMPL_VAR MYLOXBERRY.HEADING_LANGUAGESELECTION></div>
		<div style="display:flex; justify-content: flex-start; align-items: center;">
			<div style="margin:10px; padding:10px; text-align:left; ">
				<TMPL_VAR MYLOXBERRY.LABEL_SELECTLANGUAGE>
				<TMPL_IF ISNOTENGLISH>
				<br>(Select your language)
				</TMPL_IF>
			</div>
			<div style="margin:10px; padding:10px; ">
				<TMPL_VAR LANGSELECTOR>
			</div>
		</div>
		<p>&nbsp;</p>
		<div class="wide"><TMPL_VAR MYLOXBERRY.HEADING_FRIENDLYNAME></div>
		<div style="display:flex; width:100%; text-align:left;">
			<div style="margin:auto; padding:10px; width:20%; text-align:left;">
				<TMPL_VAR MYLOXBERRY.LABEL_FRIENDLYNAME>
			</div>
			<div style="margin:auto; padding:10px; width:30%">
				<input placeholder="<TMPL_VAR MYLOXBERRY.HINT_INNER_FRIENDLYNAME>" id="lbfriendlyname" name="lbfriendlyname" type="text" style="min-width:15em" class="textfield" value="<TMPL_VAR NETWORK.FRIENDLYNAME>" data-validation-error-msg="<TMPL_VAR MYLOXBERRY.ERR_FRIENDLYNAME>"  data-validation-rule="^[a-zA-Z0-9\*\u00c4\u00e4\u00d6\u00f6\u00dc\u00fc\u00df\>\<\|\'\_\:\.\;\,\+\-\~\s\^\!\$\%\&\/\\(\\#\\)\\\[\\\]\{\}\?\=]*$">
			</div>
			<div class="hint" style="margin:auto; padding:10px; width:50%;">
				<TMPL_VAR MYLOXBERRY.HINT_FRIENDLYNAME>
			</div>
		</div>
		<p>&nbsp;</p>
		<p>
		<div class="wide"><TMPL_VAR MYLOXBERRY.HEADING_SENDSTATISTIC></div>
		<div style="display:flex; width:100%; text-align:left;">
			<div style="flex-grow:1;margin:auto; padding:10px; text-align:left;">
				<fieldset data-role="controlgroup" style="min-width:15em" data-mini="true">
					<TMPL_VAR SENDSTATISTIC_CHECKBOX>
				</fieldset>
			</div>
			<div class="hint" style="flex-grow:2;margin:auto; padding:10px;">
				<TMPL_VAR MYLOXBERRY.HINT_SENDSTATISTIC>
			</div>
		</div>
		<p>&nbsp;</p>
	</form>
	<div style="text-align:center;">
		<p>
			<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/system/index.cgi?form=system"><TMPL_VAR COMMON.BUTTON_CANCEL></a>
			<button type="submit" form="main_form" name="btnsubmit" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR COMMON.BUTTON_SAVE></button>
		</p>
	</div>
	<script>
		$(document).ready( function ()
		{
			validate_enable('#lbfriendlyname');
			$("#languageselector").bind( "change", function(event, ui)
			{
				var val = $("#languageselector").val();
				//console.log("Lang", val);
				$.post("/admin/system/tools/ajax-config-handler.cgi",
					{
						action: "changelanguage",
						value: val
					}, function()
					{
						location.reload();
					});
			});
		});
	</script>
</TMPL_IF>

<TMPL_IF SAVE>
	<center>
		<table border=0>
			<tr>
				<td align="center">
					<h2><TMPL_VAR COMMON.MSG_ALLOK></h2>
					<p>
						<TMPL_VAR MYLOXBERRY.CHANGE_SUCCESS>
						<br/>
						<br/>
					</p>
				</td>
			</tr>
			<tr>
				<td align="center">
					<p>
						<a id="btnok" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="<TMPL_VAR NEXTURL>"><TMPL_VAR COMMON.BUTTON_OK></a>
					</p>
				</td>
			</tr>
		</table>
	</center>
</TMPL_IF>

<TMPL_IF form2>
<span id="msg_pleasewait"><TMPL_VAR COMMON.MSG_PLEASEWAIT></span>
<script>
function resizeIframe(obj) {
	obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
	$("#msg_pleasewait").html("");
}
</script>
<iframe src="/admin/system/tools/linfo/index.php" style="width:100%;height:100%;margin:0;overflow:hidden;border-width:0" scrolling="no" onload="resizeIframe(this)">
</TMPL_IF>
<!-- ** END template/system/myloxberry.html ************************************************************************************ -->
