<!-- ** START template/system/netshares.html ************************************************************************************ -->

<TMPL_IF FORM>

	<center>
	<form method="post" data-ajax="false" name="main_form" id="main_form" action="/admin/system/netshares.cgi">
		<input type="hidden" name="a" id="a" value="del">
		<a id="add" data-role="button" data-inline="true" data-mini="true" data-icon="plus" href="/admin/system/netshares.cgi?a=add"><TMPL_VAR NETSHARES.BUTTON_ADD_SERVER></a>
		<button type="submit" form="main_form" name="submitbtn" value="submit" id="submitbtn" data-role="button" data-icon="minus" data-mini="true" data-inline="true"><TMPL_VAR NETSHARES.BUTTON_DEL_SERVER></button>
		<select onclick="disable();" name="server" id="server" data-mini="true" data-inline="true">
			<option value=""><TMPL_VAR NETSHARES.LABEL_SELECT></option>
			<TMPL_LOOP NETSERVERS>
			<option value="<TMPL_VAR NETSERVER_SERVER>|<TMPL_VAR NETSERVER_TYPE>"><TMPL_VAR NETSERVER_SERVER></option>
			</TMPL_LOOP>
		</select>
		<a id="debug" data-role="button" data-inline="true" data-mini="true" data-icon="info" href="/admin/system/netshares.cgi?a=debuglog"><TMPL_VAR NETSHARES.BUTTON_ADD_DEBUGLOG></a>
		<TMPL_IF DEBUGLOGEXISTS>
		<a id="log" data-role="button" data-inline="true" data-mini="true" data-icon="info" href="/admin/system/tools/logfile.cgi?logfile=system_tmpfs/netshare_debug.log&header=html&format=template&only=once" target='_blank'><TMPL_VAR NETSHARES.BUTTON_SHOW_DEBUGLOG></a>
		</TMPL_IF>
		<button type="button" name="btnsubmit" data-role="button" data-inline="true" data-icon="refresh" data-mini="true" onClick="location.reload();"><font size=\"-1\"><TMPL_VAR COMMON.BUTTON_REFRESH></font></button>
	</form>


	<hr>
	</center>
	<!-- START Plugin container -->
	<table data-role="table" data-mode="columntoggle" data-filter="true" data-input="#filterTable-input" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-text="<TMPL_VAR NETSHARES.BUTTON_SHOWCOLS>">
		<thead>
		<tr class="ui-bar-d">
			<th data-priority="7"><TMPL_VAR NETSHARES.SHARESTABLE_NO></th>
			<th data-priority="1"><TMPL_VAR NETSHARES.SHARESTABLE_SERVER></th>
			<th data-priority="4"><TMPL_VAR NETSHARES.SHARESTABLE_TYPE></th>
			<th data-priority="2"><TMPL_VAR NETSHARES.SHARESTABLE_SHARE></th>
			<th data-priority="2"><TMPL_VAR NETSHARES.SHARESTABLE_SIZE></th>
			<th data-priority="2"><TMPL_VAR NETSHARES.SHARESTABLE_USED></th>
			<th data-priority="7"><TMPL_VAR NETSHARES.SHARESTABLE_AVAILABLE></th>
			<th data-priority="5"><TMPL_VAR NETSHARES.SHARESTABLE_STATUS></th>
			<th data-priority="6"><TMPL_VAR NETSHARES.SHARESTABLE_ACTION></th>
		</tr>
		</thead>
		<tbody>
		<TMPL_IF NETSHARES>
			<TMPL_LOOP NETSHARES>
			<tr>
				<td><TMPL_VAR NETSHARE_NO></td>
				<td><TMPL_VAR NETSHARE_SERVER></td>
				<td><TMPL_VAR NETSHARE_TYPE></td>
				<td><TMPL_VAR NETSHARE_SHARENAME></td>
				<td><TMPL_VAR NETSHARE_SIZE></td>
				<td><TMPL_VAR NETSHARE_USED></td>
				<td><TMPL_VAR NETSHARE_AVAILABLE></td>
				
				<td><TMPL_VAR NETSHARE_STATE></td>
				<td><a id="browse<TMPL_VAR NETSHARE_NO>" data-role="button" data-inline="true" data-mini="true" data-icon="navigation" href="/admin/system/tools/filemanager/filemanager.php?p=system/storage/<TMPL_VAR NETSHARE_TYPE>/<TMPL_VAR NETSHARE_SERVER>/<TMPL_VAR NETSHARE_SHARENAME>" target="_self"><TMPL_VAR NETSHARES.BUTTON_BROWSE></a>
				</td>
			</tr>
			</TMPL_LOOP>
		<TMPL_ELSE>
			<tr>
				<td colspan="6"><TMPL_VAR NETSHARES.HINT_NOSERVERS></td>
			</tr>
		</TMPL_IF>
		</tbody>
		</table>
<SCRIPT>
function disable()
{
        if ( $('#server').val().length != 0 ) {
			$('#submitbtn').removeClass( "ui-disabled" );
        }
        else {
			$('#submitbtn').addClass( "ui-disabled" );
        }
}
$(document).ready(function() {
	disable();
});
</SCRIPT>

</TMPL_IF>

<TMPL_IF ADD>

<form method="post" data-ajax="false" name="main_form" id="main_form" action="/admin/system/netshares.cgi">
	<input type="hidden" name="saveformdata" value="1">
	<input type="hidden" name="type" value="smb">

	<center>
	<table id="addserver" class="formtable" border="0" width="100%" cellpadding="5px">
	<tr>
		<td width="25%">
			<label class="control-label" for="serverip"><TMPL_VAR NETSHARES.LABEL_SERVERIP></label>
		</td>
		<td width="30%">
			<input value="" id='serverip' name='serverip' type='text' data-validation-error-msg="<TMPL_VAR NETSHARES.MSG_VAL_INVALID_IP>" data-validation-rule="special:domainname_or_ipaddr">
		</td>
		
		<td width="40%" class="hint">
			<TMPL_VAR NETSHARES.HINT_SERVERIP>
		</td>
	</tr>
	<tr>
		<td>
			<label for="username"><TMPL_VAR NETSHARES.LABEL_USERNAME></label>
		</td>
		<td>
			<input class="textfield" readonly onfocus="this.removeAttribute('readonly');" value="" id='username' name='username' type='text'>
		</td>
		
		<td class="hint">
			<TMPL_VAR NETSHARES.HINT_USERNAME>
		</td>
	</tr>
	<tr>
		<td>
			<label for="password"><TMPL_VAR NETSHARES.LABEL_PASSWORD></label>
		</td>
		<td>
			<input class="textfield" readonly onfocus="this.removeAttribute('readonly');" value="" id='password' name='password' type='password' autocomplete="nope">
		</td>
		
		<td class="hint">
			<TMPL_VAR NETSHARES.HINT_PASSWORD>
		</td>
	</tr>
	<tr>
		<td colspan=4>
			&nbsp;
		</td>
	</tr>
	</table>
	</center>
	
	<hr>

	<center>
	<p>
		<center>
			<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="./netshares.cgi"><TMPL_VAR COMMON.BUTTON_CANCEL></a>
			<button type="submit" form="main_form" name="btnsubmit" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR COMMON.BUTTON_SAVE></button>
			<button id="showpass" name="showpass" type="button" data-inline="true" data-mini="true" data-icon="eye"><TMPL_VAR NETSHARES.BUTTON_SHOW_PASSWORDS></button>
		</center>
	</p>
	</center>
</form>

<SCRIPT>
// Show passwords
$(document).ready(function() {
	$('#showpass').click(function() {
		$('.textfield').prop('type', 'text');
	});
	validate_enable('#serverip');
	validate_chk_object(['#serverip']);
});
</SCRIPT>

</TMPL_IF>

<TMPL_IF SAVE>
<center>
	<table border=0>
	<tr>
		<td align="center">
		<h2><TMPL_VAR COMMON.MSG_ALLOK></h2>
		<p>
		<TMPL_VAR NETSHARES.ADD_SUCCESS>
		<br/>
		<br/>
		<TMPL_VAR WARNING>
		<br/>
		<br/>
		</p>
		</td>
	</tr>
	<tr>
		<td align="center">
		<p>
		<a id="btnok" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="/admin/system/netshares.cgi"><TMPL_VAR COMMON.BUTTON_OK></a>
		</p>
		</td>
	</tr>
	</table>
</center>
</TMPL_IF>

<TMPL_IF QUESTION>
	<center>
	<table border=0>
	<tr>
		<td align="center">
			<h2><TMPL_VAR COMMON.MSG_ARE_YOU_SURE></h2>
			<p>
			<TMPL_VAR NETSHARES.REMOVE_QUESTION>
			<br/>
			<br/>
			<b><TMPL_VAR SERVER></b>
			<br/>
			<br/>
			</p>
		</td>
	</tr>
	<tr>
		<td align="center">
			<p>
			<a id="btncancel" data-role="button" data-inline="true" data-mini="true"
			data-icon="delete" href="/admin/system/netshares.cgi"><TMPL_VAR COMMON.BUTTON_CANCEL></a>
			<a id="btnok" data-role="button" data-inline="true" data-mini="true"
		       data-icon="check" href="<TMPL_VAR SELFURL>&q=y"><TMPL_VAR COMMON.BUTTON_OK></a>
			</p>
		</td>
	</tr>
	</table>
	</center>
</TMPL_IF>

<TMPL_IF DEL>
<center>
	<table border=0>
	<tr>
		<td align="center">
		<h2><TMPL_VAR COMMON.MSG_ALLOK></h2>
		<p>
		<TMPL_VAR NETSHARES.REMOVE_SUCCESS>
		<br/>
		<br/>
		</p>
		</td>
	</tr>
	<tr>
		<td align="center">
		<p>
		<a id="btnok" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="/admin/system/netshares.cgi"><TMPL_VAR COMMON.BUTTON_OK></a>
		</p>
		</td>
	</tr>
	</table>
</center>
</TMPL_IF>

<TMPL_IF DEBUGLOG>
<center>
	<table border=0>
	<tr>
		<td align="center">
		<h2><TMPL_VAR COMMON.MSG_ALLOK></h2>
		<p>
		<TMPL_VAR NETSHARES.ADD_DEBUGLOG_SUCCESS>
		<br/>
		<br/>
		<a href="/admin/system/tools/logfile.cgi?logfile=system_tmpfs/netshare_debug.log&header=html&format=template&only=once" target='_blank'><TMPL_VAR NETSHARES.BUTTON_SHOW_DEBUGLOG></a>
		<br/>
		<br/>
		</p>
		</td>
	</tr>
	<tr>
		<td align="center">
		<p>
		<a id="btnok" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="/admin/system/netshares.cgi"><TMPL_VAR COMMON.BUTTON_OK></a>
		</p>
		</td>
	</tr>
	</table>
</center>
</TMPL_IF>

<!-- ** END template/system/netshares.html ************************************************************************************ -->
 
