<!-- ** START template/system/miniserver.html 27.01.2018 14:39:31 ************************************************************************************ -->
<TMPL_IF FORM>

	<center>
	<button onclick="window.validate_override=1;" type="submit" form="main_form2" name="addsharebtn" value="add" id="addsharebtn" data-role="button" data-icon="plus" data-mini="true" data-inline="true"><TMPL_VAR NETSHARES.BUTTON_ADD_SHARE></button>
	<a id="browse" data-role="button" data-inline="true" data-mini="true" data-icon="navigation" href="/admin/system/tools/filemanager/filemanager.php?p=system%2Fstorage" target="_blank"><TMPL_VAR NETSHARES.BUTTON_BROWSE></a>
	<hr>
	</center>
	<!-- START Plugin container -->
	<TMPL_IF NETSHARES>
		<table data-role="table" data-mode="columntoggle" data-filter="true" data-input="#filterTable-input" class="ui-body-d ui-shadow table-stripe ui-responsive" data-column-btn-text="Zeige Spalten">
		<thead>
		<tr class="ui-bar-d">
			<th data-priority="7">Nr.</th>
			<th data-priority="1">Server</th>
			<th data-priority="3">Name</th>
			<th data-priority="4">Type</th>
			<th data-priority="2">Freigabe</th>
			<th data-priority="5">Status</th>
			<th data-priority="6"></th>
		</tr>
		</thead>
		<tbody>
		<TMPL_LOOP NETSHARES>
		<tr>
			<td><TMPL_VAR NETSHARE_NO></td>
			<td><TMPL_VAR NETSHARE_SERVER></td>
			<td><TMPL_VAR NETSHARE_SERVERNAME></td>
			<td><TMPL_VAR NETSHARE_TYPE></td>
			<td><TMPL_VAR NETSHARE_SHARENAME></td>
			<td><TMPL_VAR NETSHARE_STATE></td>
			<td><a id="browse<TMPL_VAR NETSHARE_NO>" data-role="button" data-inline="true" data-mini="true" data-icon="navigation" href="/admin/system/tools/filemanager/filemanager.php?p=system/storage/<TMPL_VAR NETSHARE_TYPE>/<TMPL_VAR NETSHARE_SERVER>/<TMPL_VAR NETSHARE_SHARENAME>" target="_blank"><TMPL_VAR NETSHARES.BUTTON_BROWSE></a></td>
		</tr>
		 </TMPL_LOOP>
		</tbody>
		</table>

	</TMPL_IF>

</TMPL_IF>

<TMPL_IF ERRORFORM>
	<center>
		<h2><TMPL_VAR COMMON.MESSAGE_GENERIC_ERROR></h2>
		<p>
		<TMPL_VAR ERROR>
		</p>
		<p><TMPL_VAR MINISERVER.SAVE_ERR_MSG_SEE_DETAILS>
		</p>
	</center>
	<div data-role="collapsible">
		<h4>Details</h4>
		<div class="monospace"><TMPL_VAR ERRORDETAILS></div>
		</div>
		<center>
		<p>
			<a id="btnback" href="javascript:history.back();" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete"><TMPL_VAR COMMON.BUTTON_BACK></a>
		</p>
		<center>


</TMPL_IF>

<!-- ** END template/system/miniserver.html ************************************************************************************ -->
 
