									<!-- ** START template/system/de/network.html 27.08.2016 21:11:14 ************************************************************************************ -->
<TMPL_IF FORM>									
									<form method="post" data-ajax="false" name="main_form3" id="main_form3" action="<TMPL_VAR SELFURL>">
										<input type="hidden" name="saveformdata" value="1">
										<div class="form-group">
											<table class="formtable" border="0" width="100%">
												<tr>
													<td width="25%">
														<label for="lbfriendlyname"><TMPL_VAR NETWORK.LABEL_FRIENDLYNAME></label>
													</td>
												<td width="50%">
														<input placeholder="<TMPL_VAR HINT_FRIENDLYNAME>" id="lbfriendlyname" name="lbfriendlyname" type="text" class="textfield" value="<TMPL_VAR NETWORK.FRIENDLYNAME>">
													</td>
													<td width="5%" valign="middle">
														&nbsp;
													</td>
													<td width="20%">
														&nbsp;
													</td>
												</tr>
												<tr>
													<td width="25%">
														<label for="lbhostname"><TMPL_VAR NETWORK.LABEL_HOSTNAME></label>
													</td>
												<td width="50%">
														<input id="lbhostname" name="lbhostname" disabled type="text" class="textfield" value="<TMPL_VAR LBHOSTNAME>">
													</td>
													<td width="5%" valign="middle">
														<a href="#" data-role="button" id="btnlbhostname" data-inline="true" data-mini="true"
															onClick="window.open('/admin/system/tools/changehostname.cgi?lang=<TMPL_VAR LANG>',
															'NewWindow1','scrollbars=true,toolbar=no,location=no,directories=no,status=no,menubar=no,copyhistory=no,width=800,height=600')">
															<TMPL_VAR NETWORK.BUTTON_CHANGEHOSTNAME>
														</a>
													</td>
													<td width="20%">
														&nbsp;
													</td>
												</tr>
												<tr>
													<td width="25%">
														<label id="labelnetzwerkanschluss"><TMPL_VAR NETWORK.LABEL_NETWORKING></label>
													</td>
													<td width="50%">
														<fieldset data-role="controlgroup">
															<input onclick="disable()" <TMPL_VAR CHECKED1> id="netzwerkanschluss_eth" name="netzwerkanschluss" type="radio" value="eth0">
																<label for="netzwerkanschluss_eth"><TMPL_VAR NETWORK.SELECT_CABLE></label>
															<input onclick="disable()" <TMPL_VAR CHECKED2> id="netzwerkanschluss_wlan" name="netzwerkanschluss" type="radio" value="wlan0">
																<label for="netzwerkanschluss_wlan"><TMPL_VAR NETWORK.SELECT_WIRELESS></label>
														</fieldset>
													</td>
													<td width="5%" valign="middle">
														<a href="#" data-role="button" id="btnlshwnetwork" data-inline="true" data-mini="true"
															onClick="window.open('/admin/system/tools/lshwnetwork.cgi?lang=<TMPL_VAR LANG>',
															'NewWindow1','scrollbars=true,toolbar=no,location=no,directories=no,status=no,menubar=no,copyhistory=no,width=800,height=600')">
															<TMPL_VAR NETWORK.BUTTON_NETWORKADAPTER>
														</a>
													</td>
													<td width="20%">
														&nbsp;
													</td>
												</tr>
												<tr>
													<td>
														<label id="labelnetzwerkssid"><TMPL_VAR NETWORK.LABEL_WIRELESS></label>
													</td>
													<td>
														<input id="netzwerkssid" name="netzwerkssid" type="text" class="textfield" value="<TMPL_VAR NETWORK.SSID>">
													</td>
													<td valign="middle">
														<a href="#" data-role="button" id="btnlistnetworks" data-inline="true" data-mini="true"
															onClick="window.open('/admin/system/tools/listnetworks.cgi?lang=<TMPL_VAR LANG>',
															'NewWindow2','scrollbars=true,toolbar=no,location=no,directories=no,status=no,menubar=no,copyhistory=no,width=900,height=600')">
															<TMPL_VAR NETWORK.BUTTON_SEARCHWIFI>
														</a>
													</td>
													<td>
														&nbsp;
													</td>
												</tr>
												<tr>
													<td>
														<label id="labelnetzwerkschluessel"><TMPL_VAR NETWORK.LABEL_NETWORKKEY></label>
													</td>
													<td>
														<input id="netzwerkschluessel" name="netzwerkschluessel" type="text" class="textfield"
															value="<TMPL_VAR NETWORK.netzwerkschluessel>">
													</td>
													<td>
														&nbsp;
													</td>
													<td>
														
													</td>
												</tr>
												<tr>
													<td width="25%">
														<label id="labelnetzwerkadressen"><TMPL_VAR NETWORK.LABEL_NETWORKADDRESSES></label>
													</td>
													<td width="50%">
														<fieldset data-role="controlgroup">
															<input onclick="disable()" <TMPL_VAR CHECKED3> id="netzwerkadressen_dhcp" name="netzwerkadressen" type="radio" value="dhcp">
																<label for="netzwerkadressen_dhcp"><TMPL_VAR NETWORK.SELECT_IP_USEDHCP></label>
															<input onclick="disable()" <TMPL_VAR CHECKED4> id="netzwerkadressen_manual" name="netzwerkadressen" type="radio" value="manual">
																<label for="netzwerkadressen_manual"><TMPL_VAR NETWORK.SELECT_IP_MANUAL></label>
														</fieldset>
													</td>
													<td width="5%" valign="middle">
														&nbsp;
													</td>
													<td width="20%">
														&nbsp;
													</td>
												</tr>
												<tr>
													<td>
														<label id="labelnetzwerkipadresse"><TMPL_VAR NETWORK.LABEL_IPADDRESS></label>
													</td>
													<td>
														<input id="netzwerkipadresse" name="netzwerkipadresse" type="text" class="textfield" value="<TMPL_VAR NETWORK.IPADDRESS>" data-validation-optional="true"
															data-validation-regexp="^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$" data-validation-error-msg="<TMPL_VAR NETWORK.ERR_NOVALIDIP><br>">
													</td>
													<td valign="middle">
														&nbsp;
													</td>
													<td>
														&nbsp;
													</td>
												</tr>
												<tr>
													<td>
														<label id="labelnetzwerkipmaske"><TMPL_VAR NETWORK.LABEL_NETMASK></label>
													</td>
													<td>
														<input id="netzwerkipmaske" name="netzwerkipmaske" type="text" class="textfield" value="<TMPL_VAR NETWORK.MASK>" data-validation-optional="true"
															data-validation-regexp="^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$" data-validation-error-msg="<TMPL_VAR NETWORK.ERR_NOVALIDNETMASK><br>">
													</td>
													<td valign="middle">
														&nbsp;
													</td>
													<td>
														&nbsp;
													</td>
												</tr>
												<tr>
													<td>
														<label id="labelnetzwerkgateway"><TMPL_VAR NETWORK.LABEL_DNSIP></label>
													</td>
													<td>
														<input id="netzwerkgateway" name="netzwerkgateway" type="text" class="textfield" value="<TMPL_VAR NETWORK.GATEWAY>" data-validation-optional="true"
															data-validation-regexp="^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$" data-validation-error-msg="<TMPL_VAR NETWORK.ERR_NOVALIDGATEWAYIP><br>">
													</td>
													<td valign="middle">
														&nbsp;
													</td>
													<td>
														&nbsp;
													</td>
												</tr>
												<tr>
													<td>
														<label id="labelnetzwerknameserver"><TMPL_VAR NETWORK.LABEL_NAMESERVER></label>
													</td>
													<td>
														<input id="netzwerknameserver" name="netzwerknameserver" type="text" class="textfield" value="<TMPL_VAR NETWORK.DNS>" data-validation-optional="true"
															data-validation-regexp="^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$" data-validation-error-msg="<TMPL_VAR NETWORK.ERR_NOVALIDNAMESERVERIP><br>">
													</td>
													<td valign="middle">
														&nbsp;
													</td>
													<td>
														&nbsp;
													</td>
												</tr>
												<tr>
													<td colspan=4>
														&nbsp;
													</td>
												</tr>
												<tr>
													<td></td>
													<td colspan=3>
														<div id="form-error-message" class="form-error-message"></div>
													</td>
												</tr>
											</table>
										</div>
											<center>
												<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/index.cgi"><TMPL_VAR COMMON.BUTTON_CANCEL></a>
												<button type="submit" form="main_form3" name="btnsubmit" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR COMMON.BUTTON_SAVE></button>
											</center>
									</form>
									<script>
										var $messages = $('#form-error-message');
										$.validate({
											modules : 'security',
											errorMessagePosition : $messages,
										});

										// Disable some options on Load depending on selected value
										disable();

										// Disable some options on click depending on selected value
										function disable() {
											// Ethernet or WLAN
											if ( document.main_form3.netzwerkanschluss_eth.checked == true ) {
												$('#btnlistnetworks').addClass('ui-disabled');
												$('#netzwerkssid').addClass('ui-disabled');
												$('#labelnetzwerkssid').addClass('ui-disabled');
												$('#netzwerkschluessel').addClass('ui-disabled');
												$('#labelnetzwerkschluessel').addClass('ui-disabled');
											}
											else {
												$('#btnlistnetworks').removeClass('ui-disabled');
												$('#netzwerkssid').removeClass('ui-disabled');
												$('#labelnetzwerkssid').removeClass('ui-disabled');
												$('#netzwerkschluessel').removeClass('ui-disabled');
												$('#labelnetzwerkschluessel').removeClass('ui-disabled');
											}
											// DHCP or Manual
											if ( document.main_form3.netzwerkadressen_dhcp.checked == true ) {
												$('#labelnetzwerkipadresse').addClass('ui-disabled');
												$('#netzwerkipadresse').addClass('ui-disabled');
												$('#labelnetzwerkipmaske').addClass('ui-disabled');
												$('#netzwerkipmaske').addClass('ui-disabled');
												$('#labelnetzwerkgateway').addClass('ui-disabled');
												$('#netzwerkgateway').addClass('ui-disabled');
												$('#labelnetzwerknameserver').addClass('ui-disabled');
												$('#netzwerknameserver').addClass('ui-disabled');
											}
											else {
												$('#labelnetzwerkipadresse').removeClass('ui-disabled');
												$('#netzwerkipadresse').removeClass('ui-disabled');
												$('#labelnetzwerkipmaske').removeClass('ui-disabled');
												$('#netzwerkipmaske').removeClass('ui-disabled');
												$('#labelnetzwerkgateway').removeClass('ui-disabled');
												$('#netzwerkgateway').removeClass('ui-disabled');
												$('#labelnetzwerknameserver').removeClass('ui-disabled');
												$('#netzwerknameserver').removeClass('ui-disabled');
											}
										}
									</script>
</TMPL_IF>
<TMPL_IF SAVE>
									<center>
										<table border=0>
											<tr>
												<td align="center">
													<h2><TMPL_VAR COMMON.MSG_ALLOK></h2>
													<p>
														<TMPL_VAR NETWORK.CHANGE_SUCCESS>
														<br/>
														<br/>
													</p>
												</td>
											</tr>
											<tr>
												<td align="center">
													<p>
														<a id="btnok" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="<TMPL_VAR NEXTURL>"><TMPL_VAR COMMON.BUTTON_OK></a>
													</p>
												</td>
											</tr>
										</table>
									</center>

</TMPL_IF>
									<!-- ** END template/system/de/network.html ************************************************************************************ -->
