<!-- pageend.html START -->
				</div>
			</div>
		</div>
		<!-- /content -->
		<!-- footer -->
		<div data-role="footer" style="border:0px; text-align:center;" data-position="fixed" data-tap-toggle="false">
			<div style="display:flex; overflow:hidden; flex-wrap: nowrap; height=49px; max-height=49px;">
				<div class="footerlogo">
					<img src="/system/images/loxberry_footer_logo_only.svg">
				</div>
				<div class="footerfadebackground">
					<div class="footerlogotext">
						<img src="/system/images/loxberry_footer_loxberry_text_ws.svg">
					</div>
				</div>
				<div class="footerlogogradient_l2r">
				</div>
				<div style="min-width:200px; flex-grow:1; flex-wrap: nowrap; overflow:hidden; white-space: nowrap;" >
					<a id="btnhome" href="/admin/system/index.cgi?lang=<TMPL_VAR LANG>" data-role="button" data-icon="home" data-iconpos="notext">Hauptmen&uuml;</a>&nbsp;&nbsp;
					<a id="btnhome" href="/admin/system/index.cgi?form=system&lang=<TMPL_VAR LANG>" data-role="button" data-icon="bars" data-iconpos="notext">Einstellungen</a>
					&nbsp;&nbsp;<TMPL_VAR REBOOT_REQUIRED>&nbsp;&nbsp;
					<a id="btnpower" href="/admin/system/power.cgi?lang=<TMPL_VAR LANG>" data-role="button" data-icon="power" data-iconpos="notext">Power</a>
				</div>
				<div class="footerlogogradient_r2l">
				</div>
				<div class="footerfadebackground">
					<div class="footerslogan">
						<img src="/system/images/BTL.svg">
					</div>
				</div>
			</div>
		</div>
		<!-- /footer -->
	</div>
<!-- /page -->
<div id="lang" style="display: none"><TMPL_VAR LANG></div>
<div id='overlay' style="display: none"><img src='/system/scripts/jquery/themes/main/images/ajax-loader.gif' /></div>
<!-- pageend.html END -->

