<!-- pagestart.html START -->
	<div data-role="page" id="<TMPL_VAR PAGE>" data-dom-cache="false" class="ui-responsive-panel">
		<!-- main menu panel -->
		<div data-role="panel" id="mainmenupanel" data-position="left" data-position-fixed="true" data-theme="c">
			<ul data-role="listview" data-ajax="false" data-inset="true">
				<li data-role="list-divider"><TMPL_VAR HEADER.PANEL_SYSTEMSETTINGS></li>
				<li><a href="/admin/system/index.cgi"><TMPL_VAR HEADER.PANEL_HOME></a></li>
				<li><a href="/admin/system/myloxberry.cgi"><TMPL_VAR HEADER.PANEL_MYLOXBERRY></a></li>
				<li><a href="/admin/system/admin.cgi"><TMPL_VAR HEADER.PANEL_ADMIN></a></li>
				<li><a href="/admin/system/miniserver.cgi"><TMPL_VAR HEADER.PANEL_MINISERVER></a></li>
				<!-- <li><a href="/admin/system/timeserver.cgi"><TMPL_VAR HEADER.PANEL_TIMESERVER></a></li> -->
				<li><a href="/admin/system/network.cgi"><TMPL_VAR HEADER.PANEL_NETWORK></a></li>
				<li><a href="/admin/system/plugininstall.cgi"><TMPL_VAR HEADER.PANEL_PLUGININSTALL></a></li>
				<li><a href="/admin/system/updates.cgi"><TMPL_VAR HEADER.PANEL_UPDATES></a></li>
				<li><a href="/admin/system/logmanager.cgi">Log Manager</a></li>
				<li><a href="/admin/system/services.php"><TMPL_VAR HEADER.PANEL_SERVICES></a></li>
				<li><a href="/admin/system/power.cgi"><TMPL_VAR HEADER.PANEL_REBOOT></a></li>
				<li><a href="/admin/system/mailserver.cgi"><TMPL_VAR HEADER.PANEL_MAILSERVER></a></li>
				<li><a href="/admin/system/wizard.cgi"><TMPL_VAR HEADER.PANEL_SETUPASSISTENT></a></li>
				<li><a href="/admin/system/translate.cgi"><TMPL_VAR HEADER.PANEL_TRANSLATE></a></li>
				<li><a href="/admin/system/tools/filemanager/filemanager.php"><TMPL_VAR HEADER.PANEL_FILEMANAGER></a></li>
				<li><a href="/admin/system/netshares.cgi"><TMPL_VAR HEADER.PANEL_NETSHARES></a></li>
				<li><a href="/admin/system/usbstorage.cgi"><TMPL_VAR HEADER.PANEL_USBSTORAGE></a></li>
				<li><a href="/admin/system/remote.cgi"><TMPL_VAR HEADER.PANEL_REMOTE></a></li>
				<li><a href="/admin/system/mqtt.cgi"><TMPL_VAR HEADER.PANEL_MQTT></a></li>
				<li><a href="/admin/system/backup.cgi"><TMPL_VAR HEADER.PANEL_BACKUP></a></li>
				<li><a href="/admin/system/donate.cgi"><TMPL_VAR HEADER.PANEL_DONATE></a></li>
				<!-- <li data-role="list-divider">Plugins</li> -->
				<!-- STARTPLUGINSHERE --> <!-- Never remove this tag! -->
				<!-- ENDPLUGINSHERE --> <!-- Never remove this tag! -->
			</ul>
		</div>
		<!-- /main menu panel -->
		<!-- info panel -->
		<div data-role="panel" id="infopanel" data-position="right" data-position-fixed="true" data-theme="c">
			<div data-role="header" class="ui-corner-all">
			<h2><TMPL_VAR HEADER.TITLE_HELP></h2>
			</div>
			<div class="ui-body-a ui-corner-all" style="padding:10px;">
			<p><a href="<TMPL_VAR HELPLINK>" target="blank"><TMPL_VAR HEADER.TITLE_HELPLINK></a></p>
			<TMPL_VAR HELPTEXT>
			</div>
		</div>
		<!-- /info panel -->
		<!-- header -->
		<div style="text-align:center" data-role="header" data-position="fixed" data-tap-toggle="false">
			<h1><TMPL_VAR TEMPLATETITLE></h1>
			<a id="btnmainmenu" href="#mainmenupanel" data-icon="bars" data-iconpos="notext"><TMPL_VAR HEADER.TITLE_MENU></a>
			<a id="btninfo" href="#infopanel" data-icon="info" data-iconpos="notext"><TMPL_VAR HEADER.TITLE_INFO></a>
	
			<!-- VUE Navbar HTML -->
			<div id="vuenavbar">
				<div class="vuenavbarcontainer">
					<template v-for="(element, index) in menu" :key="index">
						<div class="vuenavbarelement" @mouseover="hover(index, true)" @click="menuclick(index, false, $event)" :class="{ vuenavbarelement_active: element.active }">{{element.Name}}</div>
					</template>
				</div>
				<div class="vuenavbarsubcontainer">
					<template  v-for="(element, index) in menu" :key="index">
						<div v-for="(subelement, subindex) in element.Submenu" @click="menuclick(index, subindex, $event)" :key="subindex" class="vuenavbarsubelement" :class="{ vuenavbarsubelement_active: subelement.active }" v-show="menu[index]?.show">
							{{subelement.Name}}
						</div>
					</template>
				</div>
			</div>
			<!-- /VUE Navbar HTML -->
		</div>
		
		<!-- VUE Navbar CSS and JS -->
		<style>
.vuenavbarcontainer {
	border-top: 1px solid #3d3d3d;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: center;
	align-items: center;
	background-color:#3d3d3d;
}
.vuenavbarelement {
	flex:1;
	text-shadow:none;
	padding: 10px 20px 10px 20px;
	color: white;
	font-size: 13px;
	font-weight: bold;
	text-align: center;	
}
.vuenavbarelement:hover {
	background-color: #a0df53;
}
.vuenavbarelement_active {
	background-color: #6dac20;
}
.vuenavbarsubcontainer {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: flex-start;
	align-items: stretch;
	//background-color:#e6e6e6;
	
}
.vuenavbarsubelement {
	flex:1;
	text-shadow:none;
	padding: 5px 10px 5px 10px;
	border:1px solid #cccccc;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;	
	background-color:#e6e6e6;
	color: black;
}
.vuenavbarsubelement:hover {
	background-color: #a0df53;
	color: white;
}
.vuenavbarsubelement_active {
	background-color: #6dac20;
	color: white;
}
</style>

<TMPL_VAR JSONMENU>

<script src="/system/scripts/vue3/vue3.js"></script>
<script>

if( document.getElementById('jsonmenu') ) {

	const vuenavbar = {
		data() {
			var menu = this.getMenuData();
			return { menu };
		},
		
		
		methods: {
			getMenuData() {
				var menuelement = document.getElementById('jsonmenu');
				var menuobj = JSON.parse(menuelement.textContent);
				console.log("pathname", window.location.pathname+window.location.search);
				var response = this.elementSetActive( menuobj );
				menuobj = response[0];
				// var isActive = response[1];
				console.log("Final menuobj", menuobj);
				return menuobj;
			
			},
			
			elementSetActive( menuobj ) {
				console.log(menuobj);
				var vm = this;
				var currentUrl = window.location.pathname+window.location.search;
				var elementsActive = 0;
				// menuobj.forEach(function (element, index) {
				
				for( let index in menuobj ) {
					element = menuobj[index];
					menuobj[index].show=false;
					//console.log(element); // logs "3", "5", "7"
					// console.log("index", index);   // logs "0", "1", "2"
					// console.log(element.Name);
					if( element.Submenu ) {
						console.log("CALLING RECURSION");
						var response = vm.elementSetActive( element.Submenu );
						console.log("RETURNED RECURSION");
						menuobj[index].Submenu = response[0];
						if( !menuobj[index].active ) {
							// Only set active if not activated manually
							menuobj[index].active = response[1];
						}
						if( menuobj[index].active == 1 ) { 
							menuobj[index].show = true;
						}
						console.log("response from recursion", response);
					}
					else if( element.URL && element.URL == currentUrl ) {
						if( !menuobj[index].active ) {
							menuobj[index].active = 1;
							elementsActive = 1;
						}
						console.log(element.Name, "is active");
					}
					else {
						// console.log(element.Name, "is not active");
						if( !menuobj[index].active ) {
							menuobj[index].active = 0;
						}
					
					}
				};
				console.log("Final active", elementsActive);
				return [ menuobj, elementsActive ];
			},
			
			hover( index, active ) {
				for( let i in this.menu ) {
					this.menu[i].show = false;
				}
				this.menu[index].show = true;
			},
			
			menuclick( mainindex, subindex=false, event=false ) {
				console.log("menuclick", event);
				if( event != false ) {
					var pointertype = event.pointerType;
				}
				
				if( subindex == false ) {
					if( !this.menu[mainindex].Submenu ) {
						this.callUrl(mainindex);
						return;
					}
					this.hover( mainindex, true );
					return;
					
				}
				else {
					this.callUrl(mainindex, subindex);
				}
			},
			
			callUrl( mainindex, subindex=false ) {
				var url;
				var target;
				
				if( subindex != false ) {
					url = this.menu[mainindex].Submenu[subindex].URL;
					target = typeof this.menu[mainindex].Submenu[subindex].target !== 'undefined' ? this.menu[mainindex].Submenu[subindex].target : '_self';
				}
				else {
					url = this.menu[mainindex].URL;
					target = typeof this.menu[mainindex].target !== 'undefined' ? this.menu[mainindex].target : '_self';
				}
				
				console.log("Calling url in target", target, ": ", url);
				window.open(url, target);
			}
		}

	}

		Vue.createApp(vuenavbar).mount('#vuenavbar');
}
	
</script>
		
		
		<!-- /VUE Navbar -->



		<!-- /header -->
		<!-- content -->
		<div role="main" class="ui-content">
			<div class="ui-body ui-body-a ui-corner-all loxberry-logo">
				<!-- text -->
				
					<TMPL_VAR NAVBAR_PLAIN>
				<!-- 
					<TMPL_VAR NAVBARJS>
				-->
				<div id="page_content" class="page_content" style="margin: 4%">
<!-- pagestart.html END -->
