<!-- pagestart.html START -->
	<div data-role="page" id="<TMPL_VAR PAGE>" data-dom-cache="false">
		<!-- header -->
		<div align="center" data-role="header" data-position="fixed" data-tap-toggle="false">
			<h1><TMPL_VAR TEMPLATETITLE></h1>
		</div>
		<!-- /header -->
		<!-- content -->
		<div role="main" class="ui-content">
			<div class="ui-body ui-body-a ui-corner-all loxberry-logo">
				<!-- text -->
				<TMPL_VAR TOPNAVBAR>
				<TMPL_VAR NAVBARJS>
				<div id="page_content" class="page_content" style="margin: 4%">
<!-- pagestart.html END -->
