<!-- ** START template/system/plugininstall.html 19.01.2018 19:18:59  ************************************************************************************ -->
<TMPL_IF FORM>
	<form method="post" data-ajax="false" name="main_form" id="main_form" action="/admin/system/plugininstall.cgi?do=install" enctype="multipart/form-data">
		<input type="hidden" name="saveformdata" value="1">
		<div style="margin:auto; padding:10px; display:flex; text-align:left; width:90%; white-space: nowrap; ">
			<div style="padding-right:10px; text-align:left; margin-top:15px;">
				<TMPL_VAR PLUGININSTALL.UI_LABEL_INSTALL_NEW>
			</div>
			<div style="text-align:left; width:100%;">
				<input type="file"  id="uploadfile" name="uploadfile" class="textfield" data-validation-error-msg="<TMPL_VAR PLUGININSTALL.ERR_NOFOLDER_OR_ZIP>" data-validation-rule=".*\S.*">
			</div>
			<div style="margin:auto; display:flex; width:100%;">
				<div style="padding-right:10px; padding-left:10px; margin-top:15px; white-space: nowrap; ">
					<TMPL_VAR PLUGININSTALL.UI_LABEL_SECUREPIN>
				</div>
				<div style="width:100%; ">
					<input id='securepin' name='securepin' type='password' data-validation-coloring="off" autocomplete="off" data-validation-error-msg="<TMPL_VAR PLUGININSTALL.ERR_MSG_VAL_SECUREPIN_ERROR>" data-validation-rule="^([A-Za-z0-9]){4,10}$">
				</div>
				<div style=" width:10%; text-align:left; margin-top:3px;  padding-left:20px;">
					<button type="submit" form="main_form" name="btnsubmit" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check"><TMPL_VAR PLUGININSTALL.UI_LABEL_INSTALLBTN></button>
				</div>
			</div>
		</div>
	</form>
	<div style="display:flex; width:100%; text-align:left;">
		<div style="margin:auto; padding:10px;text-align:left;">
			<img width="64" height="64" src="/system/images/icons/main_plugins_title.svg">
		</div>
		<div style="margin:auto; padding:10px; width:100%; text-align:left;">
			<div class="wide"><TMPL_VAR PLUGININSTALL.UI_LABEL_INSTALLED_PLUGINS></div>
		</div>
	</div>
	<table data-role="table" data-mode="columntoggle" class="ui-responsive table-stroke" data-column-btn-text="Display Columns">
		<thead>
			<tr>
				<th data-priority="2"><TMPL_VAR PLUGININSTALL.UI_LABEL_TABLE_NO></th>
				<th data-priority="1"><TMPL_VAR PLUGININSTALL.UI_LABEL_TABLE_PLUGIN></th>
				<th data-priority="3"><TMPL_VAR PLUGININSTALL.UI_LABEL_TABLE_VERSION></th>
				<th data-priority="3"><TMPL_VAR PLUGININSTALL.UI_LABEL_TABLE_UPDATES></th>
				<th data-priority="1"><TMPL_VAR PLUGININSTALL.UI_LABEL_TABLE_OPTIONS></th>
			</tr>
		</thead>
		<tbody>

		<!-- START Plugin container -->
		<TMPL_IF PLUGINS>
			<TMPL_LOOP PLUGINS>
			<tr>
				<th><TMPL_VAR PLUGINDB_NO></th>
				<td><TMPL_VAR PLUGINDB_TITLE></td>
				<td><TMPL_VAR PLUGINDB_VERSION></td>
				<td></td>
				<td>
				<a data-role="button" data-inline="true" data-icon="info" data-mini="true"
				href="/admin/system/tools/logfile.cgi?logfile=system/plugininstall/<TMPL_VAR PLUGINDB_NAME>.log&header=html&format=template&only=once"
				target="_blank"><TMPL_VAR PLUGININSTALL.UI_LABEL_LOGFILE></a>&nbsp;
				<a data-role="button" data-inline="true" data-icon="delete" data-mini="true"
				href="/admin/system/plugininstall.cgi?do=uninstall&pid=<TMPL_VAR PLUGINDB_MD5_CHECKSUM>">
				<TMPL_VAR PLUGININSTALL.UI_LABEL_UNINSTALL></a>&nbsp;
				</td>
			</tr>
			</TMPL_LOOP>
		<TMPL_ELSE>
			<tr>
				<td colspan=5 align=center><br><TMPL_VAR PLUGININSTALL.UI_LABEL_NOPLUGINS></td>
			</tr>
		</TMPL_IF>
		<!-- END Plugin container -->

		</tbody>
	</table>

	<script>
		$(document).ready( function()
		{
			validate_enable('#uploadfile');
			validate_enable('#securepin');
			validate_chk_object(['#securepin','#uploadfile']);
		});
	</script>
</TMPL_IF>

<TMPL_IF QUESTION>
	<center>
	<table border=0>
	<tr>
		<td align="center">
			<h2><TMPL_VAR COMMON.MSG_ARE_YOU_SURE></h2>
			<p>
			<TMPL_VAR UNINSTALL_QUESTION>
			<br/>
			<br/>
			</p>
		</td>
	</tr>
	<tr>
		<td align="center">
			<p>
			<a id="btncancel" data-role="button" data-inline="true" data-mini="true"
			data-icon="delete" href="/admin/system/plugininstall.cgi"><TMPL_VAR COMMON.BUTTON_CANCEL></a>
			<a id="btnok" data-role="button" data-inline="true" data-mini="true"
			data-icon="check" href="<TMPL_VAR SELFURL>&answer=1"><TMPL_VAR PLUGININSTALL.UI_LABEL_UNINSTALL></a>
			</p>
		</td>
	</tr>
	</table>
	</center>
</TMPL_IF>

<TMPL_IF UNINSTALL>
	<center>
	<table border=0>
	<tr>
		<td align="center">
			<h2><TMPL_VAR COMMON.MSG_ALLOK></h2>
			<p>
			<TMPL_VAR PLUGININSTALL.UI_MSG_UNINSTALL_SUCCESS>
			<br/>
			<br/>
			</p>
		</td>
	</tr>
	<tr>
		<td align="center">
			<p>
			<a id="btnok" data-role="button" data-inline="true" data-mini="true"
			data-icon="check" href="/admin/system/plugininstall.cgi"><TMPL_VAR COMMON.BUTTON_OK></a>
			</p>
		</td>
	</tr>
	</table>
	</center>
</TMPL_IF>

<!-- ** END template/system/plugininstall.html ************************************************************************************ -->
