<TMPL_IF FORM_SETTINGS>

	<!-- Form SETTINGS -->

	<style>
		.flex-container {
			display: flex;
	 		align-items: center;
			flex-wrap: wrap;
			gap: 20px;
		}
	</style>

	<form id="configform">

	<div style="text-align: center">
		<a href="#" id="btn_connect" style="width: 20%; background-color: rgba(67, 236, 48, 0.4)" onclick="connect(); return false;" class="ui-btn ui-icon-check ui-btn-icon-left ui-btn-inline ui-corner-all ui-disabled"><TMPL_VAR REMOTE.BUTTON_CONNECT></a>
		<a href="#" id="btn_disconnect" style="width: 20%; background-color: rgba(255, 128, 128, 0.4)" onclick="disconnect(); return false;" class="ui-btn ui-icon-delete ui-btn-icon-left ui-btn-inline ui-corner-all ui-disabled"><TMPL_VAR REMOTE.BUTTON_DISCONNECT></a>
	</div>

	<div style="text-align: center">
		<span id="connecthint">&nbsp;</span>
	</div>
	
	<br>

	<p>
	<TMPL_VAR REMOTE.HINT_INTRODUCTION>
	</p>

	<br>

	<div style="background-color: rgba(240, 240, 240, 0.4); border-radius: 11px; border: 1px solid black; border-spacing: 15px; padding:10px; display:table; margin:0 auto; width:50%" id="statuswindow">
	<!-- <div style="background-color: rgba(205, 255, 200, 0.4); border-radius: 11px; border: 1px solid black; border-spacing: 15px; padding:10px; display:table; margin:0 auto; width:50%"> -->
		<div style="display:table-row;">
			<div style="text-align:right; width: 20%; display:table-cell;"><TMPL_VAR REMOTE.LABEL_LOXBERRYID></div>
			<div style="text-align:left; width: 80%; display:table-cell; font-family:'Courier New', Arial; font-weight: bold;"><TMPL_VAR LOXBERRYID></div>
		</div>
		<div style="display:table-row;">
			<div style="text-align:right; display:table-cell;"><TMPL_VAR REMOTE.LABEL_REMOTEURL></div>
			<div style="text-align:left; display:table-cell; font-family:'Courier New', Arial; font-weight: bold;" id="remoteurl"></div>
		</div>
		<div style="display:table-row;">
			<div style="text-align:right;display:table-cell;"><TMPL_VAR REMOTE.LABEL_STATUS></div>
			<div style="text-align:left; display:table-cell; font-family:'Courier New', Arial; font-weight: bold;" id="status"></div>
		</div>
	</div>

	<br>
	<br>

	<div class="wide"><TMPL_VAR REMOTE.LABEL_SETTINGS></div>

	<br>

	<div style="display:flex;">
		<div style="vertical-align: middle; line-height: 4.0; width: 20%">
			<TMPL_VAR REMOTE.LABEL_AUTOCONNECT>
		</div>
		<div style="width: 20%">
			<div data-role="fieldcontain" class="ui-field-contain">
				<input type="checkbox" id="autoconnect" data-role="flipswitch" data-mini="true">
			</div>
		</div>
		<div style="vertical-align: middle; line-height: 4.0; width: 60%">
			<TMPL_VAR REMOTE.LABEL_AUTOCONNECT2>
		</div>
	</div>

	<br><br><br>

	<div style="text-align: center">
		<a href="/admin/system/index.cgi?form=system" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-delete ui-corner-all"><TMPL_VAR "COMMON.BUTTON_CANCEL"></a>
		<a href="#" onclick="saveForm(); return false;" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-check ui-corner-all"><TMPL_VAR "COMMON.BUTTON_SAVE"></a>
	</div>

	<br>

	<div style="text-align: center">
		<span id="savinghint">&nbsp;</span>
	</div>

	</form>

	<br>

	<script>
		
		var connectionstatus_running = false;
		var startstop_running = false;
		
		
		// Listen to input or change events to save form
		// Might want to throttle your callback here
		//$('#configform :input').on('change', saveForm);

		// Load config and defaults
		$(function() {
			//$("#configform").addClass('ui-disabled');
			connectionstatus();
			getconfig();
			interval = window.setInterval(function(){ connectionstatus(); }, 3000);
		});

		// Save the form
		function saveForm() {
			$("#savinghint").attr("style", "color:blue").html("<TMPL_VAR "COMMON.MSG_PLEASEWAIT">");
			$.ajax( {
				url:  './ajax/ajax-remote.cgi',
				type: 'POST',
				data: {
					action: 'saveconfig',
					autoconnect: $('#autoconnect').prop('checked'),
				}
			} )
			.fail(function( data ) {
				console.log( "saveconfig Fail", data );
				$("#savinghint").attr("style", "color:red").html("<TMPL_VAR "COMMON.MESSAGE_GENERIC_ERROR">");
			})
			.done(function( data ) {
				console.log( "saveconfig Success", data );
				$("#savinghint").attr("style", "color:green").html("<TMPL_VAR "COMMON.MSG_SAVEOK">");
			})
			.always(function( data ) {
				console.log( "saveconfig Finished", data );
			});
		}

		// Load config
		function getconfig() {
			$.ajax({ 
				url:  './ajax/ajax-remote.cgi',
				type: 'POST',
				data: {
					action: 'getconfig'
				}
			})
			.fail(function( data ) {
				console.log( "getconfig Fail", data );
			})
			.done(function( data ) {
				console.log( "getconfig Success", data );
				$("#autoconnect").prop( "checked", JSON.parse(data.Remote.Autoconnect) ).flipswitch('refresh');
				//$("#configform").removeClass('ui-disabled');
			});
		}

		// Start Connection
		function connect() {
			startstop_running = true;
			$("#btn_disconnect").addClass('ui-disabled');
			$("#btn_connect").addClass('ui-disabled');
			$("#connecthint").attr("style", "color:blue").html("<TMPL_VAR "COMMON.MSG_PLEASEWAIT">");
			$.ajax({ 
				url:  './ajax/ajax-remote.cgi',
				type: 'POST',
				data: {
					action: 'start',
				}
			})
			.fail(function( data ) {
				console.log( "connect Fail", data );
				$("#connecthint").attr("style", "color:red").html("<TMPL_VAR "REMOTE.MSG_ERROR">");
				startstop_running = false;
				connectionstatus();
			})
			.done(function( data ) {
				console.log( "connect Success", data );
				$("#connecthint").attr("style", "color:blue").html("&nbsp;");
				startstop_running = false;
				connectionstatus();
			});
		}

		// Stop Connection
		function disconnect() {
			startstop_running = true;
			$("#btn_disconnect").addClass('ui-disabled');
			$("#btn_connect").addClass('ui-disabled');
			$("#connecthint").attr("style", "color:blue").html("<TMPL_VAR "COMMON.MSG_PLEASEWAIT">");
			$.ajax({ 
				url:  './ajax/ajax-remote.cgi',
				type: 'POST',
				data: {
					action: 'stop',
				}
			})
			.fail(function( data ) {
				console.log( "disconnect Fail", data );
				$("#connecthint").attr("style", "color:red").html("<TMPL_VAR "REMOTE.MSG_ERROR">");
				startstop_running = false;
				connectionstatus();
			})
			.done(function( data ) {
				console.log( "connect Success", data );
				$("#connecthint").attr("style", "color:blue").html("&nbsp;");
				startstop_running = false;
				connectionstatus();
			});
		}

		// Backup status
		function connectionstatus() {
			
			if( connectionstatus_running == true ) return;
			if( startstop_running == true ) return;
			
			connectionstatus_running = true;
			
			$.ajax({ 
				url:  './ajax/ajax-remote.cgi',
				type: 'POST',
				data: {
					action: 'status'
				}
			})
			.fail(function( data ) {
				console.log( "status Fail", data );
			})
			.done(function( data ) {
				console.log( "status Success", data );
				if( startstop_running == true ) return;
				if (data.online * 1 == 0) {
					$("#statuswindow").css('background-color', 'rgba(240, 240, 240, 0.4)'); // green
					$("#btn_connect").removeClass('ui-disabled');
					$("#btn_disconnect").addClass('ui-disabled');
					$("#remoteurl").html('');
					$("#status").html('<TMPL_VAR REMOTE.MSG_OFFLINE>');
				} else {
					$("#statuswindow").css('background-color', 'rgba(205, 255, 200, 0.4)'); // green
					$("#btn_connect").addClass('ui-disabled');
					$("#btn_disconnect").removeClass('ui-disabled');
					$("#remoteurl").html(data.remoteurl);
					$("#status").html('<TMPL_VAR REMOTE.MSG_ONLINE>');
					}
			})
			.always(function() {
				 connectionstatus_running = false;
			});

		}

	</script>

	<!-- /Form SETTINGS -->


</TMPL_IF>

<TMPL_IF FORM_LOGS>
	<!-- Form LOGS -->

	<div class="wide">Logfiles</div>
		<TMPL_VAR loglist_html>
	</div>
	
	<!-- /Form LOGS -->
</TMPL_IF>
