	<!-- ** START template/system/success.html 22:20 21.11.2017 ************************************************************************************ -->
	<center>
		<table border=0>
			<tr>
				<td align="center">
					<h2><TMPL_VAR COMMON.MSG_ALLOK</h2>
					<p>
						<TMPL_VAR MESSAGE>
						<br/>
						<br/>
					</p>
				</td>
			</tr>
			<tr>
				<td align="center">
					<p>
						<a id="btnok" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="<TMPL_VAR NEXTURL>">OK</a>
					</p>
				</td>
			</tr>
		</table>
	</center>
	<!-- ** END template/system/success.html ************************************************************************************ -->
