<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html40/strict.dtd">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">  
 <title><TMPL_VAR NAME="title"></title>
</head>

<body>
<TMPL_IF condition>
<h1><TMPL_VAR NAME="msg1"></h1>
<TMPL_ELSE>
<h1><TMPL_VAR NAME="msg2"></h1>
</TMPL_IF>
<p><a href="index.html">Back to samples index</a></p>
</body>
</html>