<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html40/strict.dtd">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">  
 <title><tmpl_var title></title>
</head>

<body>

<tmpl_if cond1>
 <tmpl_if cond2>
  <tmpl_if cond4>
   <tmpl_if cond8>
    <h1>A</h1>
   <tmpl_else>
    <h1>B</h1>
   </tmpl_if>
  <tmpl_else>
   <tmpl_if cond9>
    <h1>C</h1>
   <tmpl_else>
    <h1>D</h1>
   </tmpl_if>
  </tmpl_if>
 <tmpl_else>
  <tmpl_if cond5>
   <tmpl_if cond10>
    <h1>E</h1>
   <tmpl_else>
    <h1>F</h1>
   </tmpl_if>
  <tmpl_else>
   <tmpl_if cond11>
    <h1>G</h1>
   <tmpl_else>
    <h1>H</h1>
   </tmpl_if>
  </tmpl_if>
 </tmpl_if>
<tmpl_else>
 <tmpl_if cond3>
  <tmpl_if cond6>
   <tmpl_if cond12>
    <h1>I</h1>
   <tmpl_else>
    <h1>J</h1>
   </tmpl_if>
  <tmpl_else>
   <tmpl_if cond13>
    <h1>K</h1>
   <tmpl_else>
    <h1>L</h1>
   </tmpl_if>
  </tmpl_if>
 <tmpl_else>
  <tmpl_if cond7>
   <tmpl_if cond14>
    <h1>M</h1>
   <tmpl_else>
    <h1>N</h1>
   </tmpl_if>
  <tmpl_else>
   <tmpl_if cond15>
    <h1>O</h1>
   <tmpl_else>
    <h1>P</h1>
   </tmpl_if>
  </tmpl_if>
 </tmpl_if>
</tmpl_if>

<p><a href="index.html">Back to samples index</a></p>
</body>
</html>