<tmpl_include name="header.tmpl">
<h2 align="center"><tmpl_var name="caption"></h2>
<table align="center" width="30%" border>
<tmpl_loop name="the_loop">
<tr>
<td align="center">&nbsp;<tmpl_var name="varname">&nbsp;</td>
<td align="center">
<table border>
<tmpl_loop name="loopname">
<tr>
<td>&nbsp;<tmpl_var name="caption">&nbsp;</td>
<td>&nbsp;<tmpl_var name="varname">&nbsp;</td>
<td>&nbsp;<tmpl_var name="varname2">&nbsp;</td>
</tr>
</tmpl_loop>
</table>
</td>
</tr>
</tmpl_loop>
</table>
<p><a href="index.html">Back to samples index</a></p>
<tmpl_include name="footer.tmpl">