/* Form Error Message */

.form-error, .form-error-message {
  color: red;
  line-height: 1.5em;
  font-size: 0.75em;
}

/* Main Menu Table */

.menutable {
  padding: 6px 0px 0px 6px;
}

.menutableicon {
  padding: 6px 0px 0px 6px;
  height: 64px;
}

.menutabletext {
  padding: 6px 0px 0px 6px;
  height: 25px;
}

table.menutable td {
  padding: 10px 10px 10px 10px;
  width: 120px;
  text-align: center;
  font-size: 0.8em;
  vertical-align: middle;
}

.caption {
  width: 450px;
  font-size: 3em;
  letter-spacing: 0.25em;
  text-align: left;
  vertical-align: middle;
}

.loxberry-logo /* Loxberry Logo on white workspace */
{
  background-image: url("../images/loxberry.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.ui-panel-wrapper /* Loxberry Logo on gray background to prevent cut logo */
{
  background-image: url("../images/loxberry_ui-panel-wrapper.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.footeralignment        		{	display:none; height: 50px;	width:100%; white-space: nowrap; }
.footeralignmentIE      		{ display:none; height: 50px;	width:100%; white-space: nowrap; }
.footeralignmentIE_r_outer 	{ display:none; height: 50px;							width:50%; 	 min-width:393px; text-align:right; }
.footeralignmentIE_l_outer 	{ display:none; height: 50px;							width:50%; 	 min-width:240px; text-align:left;  }
.footeralignmentIE_l      	{ display:none; height: 50px;							width:78px;  min-width:78px;  background-image: linear-gradient(90deg, #3d3d3d 0px, #6dac20 72px);               }
.footeralignmentIE_r      	{ display:none; height: 50px;							width:78px;  min-width:78px;  background-image: linear-gradient(90deg, #6dac20 0px, #3d3d3d 78px, #6dac20 78px); }
.footersloganIE_r          	{ display:none; height: 50px;							width:316px; min-width:316px; background-color:#6dac20; }
.footerlogotextIE         	{ display:none; height: 50px;							width:166px; min-width:166px; }

.footerfadebackground   { display:flex; background-color:#3d3d3d;  }
.footerlogo, 
.footerlogoIE 			{ width: 79px; min-width: 79px; background-image: url("../images/loxberry_footer_logo_only.svg");        background-repeat: no-repeat; }
.footerlogotext         { display:flex; flex-grow:1; width: 166px; min-width: 166px; background-image: url("../images/loxberry_footer_loxberry_text_ws.svg"); background-repeat: no-repeat; }
.footerlogokeepspacel 	{ display:flex; text-align:left;  }
.footerlogogradient_l2r { background-image: linear-gradient(90deg, #3d3d3d 0%,  #6dac20 100%);               width: 78px; min-width: 78px; height: 50px; }
.footerlogokeepspacer   { display:flex; text-align:right; }
.footerlogogradient_r2l { background-image: linear-gradient(90deg, #6dac20 0px, #3d3d3d 67px, #3d3d3d 78px); width: 78px; min-width: 78px; align-items: right; text-align:right;  justify-content: right; }
.footerslogan           { display:flex; flex-grow:1; width: 316px;    background-image: url("../images/BTL.svg");  background-color:#6dac20;   background-repeat: no-repeat; }


			.lb_flex-container 
			{
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-flow: row  nowrap;
				margin-bottom: 20px;
				justify-content: flex-start;
				align-items: center;
				align-content: center;
				text-align: left;
				flex-direction: row;
			}
			.lb_flex-item-spacer 
			{
	  			width:25%;
			}
			.lb_flex-item-label 
			{
				min-width	:200px;
		  		width		:200px;
				max-width	:200px;
	      		text-align	:right;
		  		margin-right:10px;
	      	}
			.lb_flex-item 
			{
				min-width	:250px;
				width		:250px;
				max-width	:250px;
				flex-wrap	:nowrap;
				margin-top: -10px;  
			}
			.lb_flex-item-help 
			{
		  		min-width	:300px;
		  		width		:100%;
				position	:relative;
				margin-left	:10px;
			}
		
		

@media ( max-width: 875px ) 
{
	.footeralignmentIE_l_outer 	{ width:20%; min-width:78px; }
	.footeralignmentIE_r_outer 	{	width:80%; min-width:78px; }
	.footersloganIE_r, .footerslogan, .footerlogotextIE
	{
	    opacity: 0;
	    width: 0;
	    min-width: 0;
	    transition: width 1s, opacity .5s linear;
	}
	.footeralignmentIE_r
	{
	    opacity: 1;
	    width: 78px;
	    min-width: 78px;
	    transition: width 1s, opacity .5s linear;
	}
	

	.lb_flex-container {
			  -webkit-flex-flow: column wrap;
			  justify-content: center;
			  align-items: center;
			  align-content: center;
			  flex-direction: column;
			  text-align:center;
			}
			.lb_flex-item-spacer 
			{
	  			width:0%;
			}
			.lb_flex-item-label 
			{
	    		text-align	:center;
	    		white-space	:nowrap;
	      	}
			.lb_flex-item 
			{
	    		text-align	:center;
				min-width	:250px;
				width		:250px;
				max-width	:250px;
			}
			.lb_flex-item-help 
			{
	    		text-align	:center;
		  		width		:100%;
				position	:relative;
				margin-top	:5px;
			}

}
@media ( min-width: 875px )
{
	.footeralignmentIE_l_outer 	{ width:50%; min-width:240px; }
	.footeralignmentIE_r_outer 	{	width:50%; min-width:400px; }
	.footerlogotextIE
	{
    opacity: 1;
    width: 166px;
    min-width: 166px;
    transition: width 1s, opacity 1s linear;
	}
  .footersloganIE_r,	.footerslogan  
  {
    opacity: 1;
    width: 316px;
    min-width: 316px;
    transition: width 1s, opacity 1s linear;
  }
	.footeralignmentIE_r
	{
	    opacity: 1;
	    width: 393px;
	    min-width: 393px;
	    transition: width 1s, opacity .5s linear;
	}
}
@media ( max-width: 675px )
{
  .footerlogotext
  {
    opacity: 0;
    width: 0px;
    min-width: 0px;
    transition: width 1s, opacity .5s linear;
  }
}
@media ( min-width: 675px )
{
  .footerlogotext
  {
    opacity: 1;
    width: 166px;
    min-width: 166px;
    transition: width 1s, opacity 1s linear;
  }
}

.ui-input-text input
{
  background: transparent none;
}

html .ui-body-a .ui-body-inherit /* Transparent Input-Boxes */
{
  background-color: rgba(255, 255, 255, 0.8);
}

.empty_icon
{
  width:64px;
  height:64px;
  margin: auto auto;
  Background-image: url('/system/images/icons/blank_64.png');
  background-position: center center;
  background-repeat: no-repeat;"
}

/* Font size of help */
#infopanel .ui-panel-inner * {font-size:0.95em!important;}
#infopanel .ui-panel-inner a {color: #000000; font-weight:normal;}

.hint
{
  font-size: 80%;
}

.monospace * {font-size:80%!important;  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
}

.wide { font-size:calc(14px + 1.3vw); letter-spacing: 0.25em; text-align: left; vertical-align: middle; border-bottom: 2px ridge #cdcdcd; padding: 7px; padding-top: 1px; margin-top: 0px;
}

a:link.nolinkstyle
{
  text-decoration: none;;
}

.widgetblock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.widget {

  width: 150px;
  min-width: 150px;
  height: 140px;
  text-align: center;
}

.notifyRed {
  z-index: 10;
  position: relative;
  left:-44px;
  top: 0px;
  float: right;
  background:#ed1d24;
  color:#fff;
  padding: 6px;
  border-radius: 11px;
  font-size: 12px;
  margin: 5px -7px 0 0;
  line-height: 0.8;
  min-width: 9px;
}

.notifyBlue {
  z-index: 10;
  position: relative;
  left:-44px;
  top: 0px;
  float: right;
  background:#0A4586;
  color:#fff;
  padding: 6px;
  border-radius: 11px;
  font-size: 12px;
  margin: 5px -7px 0 0;
  line-height: 0.8;
  min-width: 9px;
}

.notifyRedNavBar {
  z-index: 10;
  position: absolute;
  right:5px;
  top: -5px;
  float: right;
  background:#ed1d24;
  color:#fff;
  padding: 6px;
  border-radius: 11px;
  font-size: 12px;
  line-height: 0.8;
  min-width: 9px;
  text-align: center;
  vertical-align: middle;
}

.notifyBlueNavBar {
  z-index: 10;
  position: absolute;
  right:5px;
  top: -5px;
  float: right;
  background:#0A4586;
  color:#fff;
  padding: 6px;
  border-radius: 11px;
  font-size: 12px;
  line-height: 0.8;
  min-width: 9px;
  text-align: center;
  vertical-align: middle;
}


/* Logfiles */
.logemerge
{
  white-space:pre; text-align:left; width:100%; color:#ffff80; background-color:#6f0000;
}
.logalert
{
  white-space:pre; text-align:left; width:100%; color:#ffffff; background-color:#0000a0;
}
.logcrit
{
  white-space:pre; text-align:left; width:100%; color:#000000; background-color:#FFc0c0;
}
.logerr
{
  white-space:pre; text-align:left; width:100%; color:#000000; background-color:#FFE0E0;
}
.logwarn
{
  white-space:pre; text-align:left; width:100%; color:#000000; background-color:#FFFFC0;
}
.logok
{
 white-space:pre; text-align:left; width:100%; color:#000000; background-color:#D8FADC;
}
.loginf
{
 white-space:pre; text-align:left; width:100%; color:#000000; background-color:#DDEFFF;
}
.logdeb
{
 white-space:pre; text-align:left; width:100%; color:#000000; background-color:#DDEFFF;
}
.logstart
{
 white-space:pre; text-align:left; padding-left:10px; font-size: 130%; font-family: "Arial", "sans-serif"; width:100%; color:#FFFFFF; background-color:#6dac20;
}
.logend
{ 
 white-space:pre; text-align:left; padding-left:10px; font-size: 130%; font-family: "Arial", "sans-serif"; width:100%; 
}
/* Clock on mainmenu_start.html */

.clock
    {
      position:relative;

      height:64px;
      width: 64px;
      margin: 0 auto;
      border-radius:50%;
      background: url('/system/images/ios_clock.svg') no-repeat center;
      background-size: 88%;
    }
.minutes-container, .hours-container, .seconds-container
  {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
.hours
  {
    background: #000;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
  }
.minutes
  {
    background: #000;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
  }
.seconds
  {
    background: #000;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
  }
@keyframes rotate
  {
    100%
    {
      transform: rotateZ(360deg);
    }
  }
.hours-container
  {
    animation: rotate 43200s infinite linear;
  }
.minutes-container
  {
    animation: rotate 3600s infinite steps(60);
  }
.seconds-container
  {
    animation: rotate 60s infinite steps(60);
  }

  /* This is to reflow and keep the main content usable with open panels
     on large displays */
@left-panel-width: 35em;
@right-panel-width: 35em;

@media ( min-width: 35em ) {

  /* wrap on wide viewports once open */

  .ui-panel-page-content-open.ui-panel-page-content-position-left {
    margin-right: 17em;
  }
  .ui-panel-page-content-open.ui-panel-page-content-position-right {
    margin-left: 17em;
  }
  .ui-panel-page-content-open {
    width: auto;
  }

  /* disable "dismiss" on wide viewports */
  .ui-panel-dismiss {
    display: none;
  }

  /* same as the above but for panels with display mode "push" only */

  .ui-panel-page-content-open.ui-panel-page-content-position-left.ui-panel-page-content-display-push {
    margin-right: 17em;
  }
  .ui-panel-page-content-open.ui-panel-page-content-position-right.ui-panel-page-content-display-push {
    margin-left: 17em;
  }
  .ui-panel-page-content-open.ui-panel-page-content-display-push {
    width: auto;
  }

  .ui-panel-dismiss-display-push {
    display: none;
  }
  
/* PANEL START */
/* this should change the right panel width, but only works left :-( */
/*
.ui-panel {
    width: 30em;
}

.ui-panel.ui-panel-position-right {
    width: 30em;
}

.ui-panel.ui-panel-closed {
    width: 0;
}


.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
    -webkit-transform: translate3d(30em, 0, 0);
    -moz-transform: translate3d(30em, 0, 0);
    transform: translate3d(30em, 0, 0)
}


.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal, .ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push, .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal, .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
    -webkit-transform: translate3d(-30em, 0, 0);
    -moz-transform: translate3d(-30em, 0, 0);
    transform: translate3d(-30em, 0, 0)
}

*/
/* PANEL END */
}

