/* Form Error Message */

.form-error-message {
  color: red;
  line-height: 1.5em;
  font-size: 0.75em;
}

/* Main Menu Table */

table.menutable td {
  padding: 0.5em;
  width: 100px;
  text-align: center;
  font-size: 0.75em;
  vertical-align: middle;
}

table.menutable td.caption {
  width: 100px;
  font-size: 2em;
  letter-spacing: 0.25em;
  text-align: left;
  vertical-align: middle;
}

.loxberry-logo {
	background-color: #FFFFFF;
	background-image: url("../images/icons/loxberry.svg");
	background-repeat: no-repeat;
  background-position: 50px 80px;
  background-attachment: fixed;
}