			<table border=0>
				<tr>
					<td align="center">
						<h2>Helaas heeft zich een fout voorgedaan :-(</h2>
						<p>
							<!--$error-->
							<br />
							<br />
						</p>
					</td>
				</tr>
				<tr>
					<td align="center">
						<p>
							<a id="btnback" href="javascript:history.back();" class="lb-btn lb-btn-sm lb-btn-icon"><i class="pi pi-arrow-left"></i> Terug</a>
						</p>
					</td>
				</tr>
			</table>
		</center>
		<!-- ** END template/system/en/error.html ************************************************************************************ -->
