		<table width="100%" border=0>
			<tr>
				<td align="center">
					<h2>Alles ok!</h2>
					<p>
						<!--$message-->
						<br>
						<br>
					</p>
				</td>
			</tr>
			<tr>
				<td align="center">
					<p>
						<a class="lb-btn lb-btn-sm lb-btn-icon" id="btnok" href="<!--$nexturl-->"><i class="pi pi-check"></i> OK</a>
					</p>
				</td>
			</tr>
		</table>
	</center>
	<!-- ** END template/system/success.html ************************************************************************************ -->
