<!-- ** START template/system/wizard/welcome.html  ************************************************************************************ -->
<center>
<p class="wide"><TMPL_VAR WIZARD.FINISHED></p>
<p><TMPL_VAR WIZARD.FINISHED_TEXT1></p>
<p><TMPL_VAR WIZARD.FINISHED_TEXT2></p>
<p><TMPL_VAR WIZARD.FINISHED_TEXT3></p>
<p><TMPL_VAR WIZARD.FINISHED_TEXT4>&nbsp;<a href="<TMPL_VAR WIZARD.WIKIURL_CONFIGHELP>" target="_blank"><TMPL_VAR WIZARD.WIKIURL_CONFIGHELP></a></p>
<p><TMPL_VAR WIZARD.FINISHED_TEXT5></p>

<div>
<a id="btnfinished" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="/admin/index.cgi?lang=<TMPL_VAR LANG>"><TMPL_VAR COMMON.BUTTON_OK></a>
<a id="btnupdate" data-role="button" data-inline="true" data-mini="true" data-icon="gear" href="/admin/system/updates.cgi?lang=<TMPL_VAR LANG>"><TMPL_VAR WIZARD.BUTTON_RUN_UPDATE></a>
</div>

</center>

<!-- ** END template/system/wizard/welcome.html  ************************************************************************************ -->
