									<!-- ** START template/system/de/donate.html 27.08.2016 10:22:04 ************************************************************************************ -->
									<h2>Spenden?</h2>
									<p>
										Der LoxBerry erweitert Dein Loxone Smarthome um viele interessante und n&uuml;tzliche Features, die das Loxone-System so nicht bietet.
										Diese Features werden &uuml;ber sogenannte Plugins realisiert, die zu einem sp&auml;teren Zeitpunkt installiert werden k&ouml;nnen.
									</p>
									<p>
										Das Grundsystem des LoxBerrys ist kostenlos und wird von Freiwilligen in ihrer Freizeit gepflegt. Der Quelltext ist frei zug&auml;nglich und steht
										unter der Apache 2.0-Lizenz. Er ist aus einer Idee im <a href="https://www.loxforum.com/" target="_blank">Loxone-Forum</a> entstanden.
									</p>
									<p>
										<b>
											Wenn Dir der LoxBerry gef&auml;llt und Du ihn intensiv nutzt oder vielleicht auch kommerziell verwendest, dann &uuml;berlege doch,
											ob Du nicht etwas spenden m&ouml;chtest. Wir, die Entwickler des LoxBerrys, wollen kein Geld. Aber es gibt viele Menschen, denen es
											nicht so gut geht wie uns. Und diese Menschen brauchen unsere Unterst&uuml;tzung. Auch ein kleiner Betrag hilft, um diesen Menschen
											zu helfen. Spenden geht schnell und ist per &Uuml;berweisung, Kreditkarte oder Paypal m&ouml;glich:
										</b>
									</p>
									<p>
										<a href="http://www.krebshilfe.de/deutsche-krebshilfe/tochterorganisationen/deutsche-kinderkrebshilfe.html" target="_blank">
										<b>Spenden f&uuml;r die Deutsche Kinderkrebshilfe</b></a>
									</p>
									<p>
										&nbsp;
									</p>
									<!-- ** END template/system/de/donate.html ************************************************************************************ -->
