									<!-- ** START template/system/de/error.html 27.08.2016 10:21:39 ************************************************************************************ -->
									<center>
										<table border=0>
											<tr>
												<td align="center">
													<h2>Leider ist ein Fehler aufgetreten!</h2>
													<p>
														<!--$error-->
														<br/>
														<br/>
													</p>
												</td>
											</tr>
											<tr>
												<td align="center">
													<p>
														<a id="btnback" href="javascript:history.back();" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete">Zur&uuml;ck</a>
													</p>
												</td>
											</tr>
										</table>
									</center>
									<!-- ** END template/system/de/error.html ************************************************************************************ -->
