      <p>
      <form id="lang_form" action="/admin/index.cgi" method="get">
      <center>
      <table class="formtable" border="0" width="50%">
        <tr>
          <td width="80%">
          <select name="lang" id="selectlang" data-mini="true">
            <option value="<!--$lang-->">Sprachauswahl / Select Language</option>
            <option value="de">German / Deutsch</option> 
            <option value="en">English / Englisch</option> 
          </select>
          </td>
          <td width="5%">
          &nbsp;
          </td>
          <td>
          <button name="btnlang" id="btnlang" data-icon="refresh" data-iconpos="notext">Reload</button>
          </td>
        </tr>
      </table>
      </center>
      </form>
      </p>

      <h2>Erster Start?</h2>

      <p>
      Du scheinst Deinen LoxBerry das allererste Mal zu starten. Wir empfehlen Dir zun&auml;chst den Setup-Assistenten f&uuml;r die Grundinstallation
      durchzuf&uuml;hren. Hierbei f&uuml;hrt ein Assistent durch die wichtigsten, unbedingt notwendigen Einstellungen des LoxBerry (z. B. die Netzwerk-
      Konfiguration). Der Assistent muss lediglich einmal ausgef&uuml;hrt werden.
      </p>
      <p>
      Erfahrene Nutzer k&ouml;nnen den Assistenten nat&uuml;rlich auch &uuml;berspringen und die entsprechenden Einstellungen im Hauptmen&uuml;
      des LoxBerry durchf&uuml;hren oder auch die Einstellungen auf der Linux-Kommandozeile durchführen.
      </p>

      <p>
      &nbsp;
      </p>

      <p>
      <center>
      <a id="btncancel" href="/admin/index.cgi?lang=<!--$lang-->&nostartsetup=1" 
      class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete">&Uuml;berspringen</a>
      <a id="btncancel" href="/admin/system/setup/index.cgi?lang=<!--$lang-->" 
      class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-check">Assistenten starten</a>
      </center>
      </p>
