 									<!-- ************************************************************************************** -->
								</div>
					    <!-- /text -->
						</div>			
					</div>
				<!-- /content -->
	  		<!-- footer -->
	  			<div data-role="footer" style="text-align:center;" data-position="fixed" data-tap-toggle="false">
	       		<a id="btnhome" href="/admin/index.cgi?lang=<!--$lang-->" data-role="button" data-icon="home" data-iconpos="notext">Hauptmen&uuml;</a>
	       		<a id="btnpower" href="/admin/system/power.cgi?lang=<!--$lang-->" data-role="button" data-icon="power" data-iconpos="notext">Power</a>
	  			</div>
	  		<!-- /footer -->
			</div>
		<!-- /page -->
	</body>
</html>
