<html>
<head>
  <title><!--$template_title--></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
  <link rel="stylesheet" href="/system/scripts/jquery/themes/main/loxberry.min.css">
  <link rel="stylesheet" href="/system/scripts/jquery/themes/main/jquery.mobile.icons.min.css">
  <link rel="stylesheet" href="/system/scripts/jquery/jquery.mobile.structure-1.4.5.min.css"> 
  <link rel="stylesheet" href="/system/css/main.css">
  <script src="/system/scripts/jquery/jquery-1.8.2.min.js"></script>
  <script src="/system/scripts/jquery/jquery.mobile-1.4.5.min.js"></script>
  <script src="/system/scripts/form-validator/jquery.form-validator.min.js"></script>
  <script src="/system/scripts/setup.js"></script>
</head>
<body>

<!-- page -->
<div data-role="page" id="main">

  <!-- ************************************************************************************** -->

  <!-- content -->
  <div role="main" class="ui-content">
    <div class="ui-body ui-body-a ui-corner-all loxberry-logo">

    <!-- text -->
    <div style="margin: 5%">

      <p>
      <center>
      <table data-role="table" data-mode="" class="ui-responsive ui-shadow" id="lshwnetworkTable" width="90%">

<!--$table-->

      </table>
      </center>
      <button type="button" data-role="button" data-inline="true" data-mini="true" onClick="location.reload();">
               <font size=\"-1\">Aktualisieren</font></button>

      </p>

    </div>
    <!-- /text -->

    </div>

  </div>
  <!-- /content -->

  <!-- ************************************************************************************** -->

</div>
<!-- /page -->

<div id="lang" style="display: none"><!--$lang--></div>
<div id='overlay' style="display: none"><img src='/system/scripts/jquery/themes/main/images/ajax-loader.gif' /></div>

</body>
</html>
