  <!-- content -->
  <div role="main" class="ui-content">
    <div class="ui-body ui-body-a ui-corner-all loxberry-logo">

    <!-- text -->
    <div style="margin: 5%">

      <p>
      <center>
      <table class="menutable" border="0" width="90%">
        <tr>
          <td width="100px">
          <img height="64" width="64" src="/system/images/icons/Service_title.svg">
          </td>
          <td class="caption" colspan=8>
          Systemeinstellungen
          </td>
        </tr>
        <tr>
          <td colspan=9>
          <hr>
          </td>
        </tr>
        <tr>
          <td width="100px">
          <a href="/admin/system/admin.cgi?do=form"><img src="/system/images/icons/Admin_64.png"></a>
          </td>
          <td width="100px">
          <a href="/admin/system/miniserver.cgi?do=form"><img src="/system/images/icons/Server2_64.png"></a>
          </td>
          <td width="100px">
          <a href="/admin/system/timeserver.cgi?do=form"><img src="/system/images/icons/Timestamp_64.png"></a>
          </td>
          <td width="100px">
          <a href="/admin/system/network.cgi?do=form"><img src="/system/images/icons/Networking2_64.png"></a>
          </td>
          <td width="100px">
          <img src="/system/images/icons/Transmitter_64.png">
          </td>
          <td width="100px">
          <img src="/system/images/icons/Binary_64.png">
          </td>
          <td width="100px">
          <img src="/system/images/icons/Download_64.png">
          </td>
          <td width="100px">
          <img src="/system/images/icons/Disconnected_title_64.png">
          </td>
          <td width="100px">
          <a href="/admin/system/power.cgi"><img src="/system/images/icons/Standby_64.png"></a>
          </td>
        </tr>
        <tr>
          <td width="100px">
          Admin Zugang
          </td>
          <td width="100px">
          Miniserver
          </td>
          <td width="100px">
          Systemzeit
          </td>
          <td width="100px">
          Netzwerk
          </td>
          <td width="100px">
          UMTS Zugang
          </td>
          <td width="100px">
          Display
          </td>
          <td width="100px">
          Update
          </td>
          <td width="100px">
          Installation
          </td>
          <td width="100px">
          Neustart
          </td>
        </tr>
        <tr>
          <td width="100px">
          <a href="/admin/system/setup/index.cgi"><img src="/system/images/icons/Service_64.png"></a>
          </td>
        </tr>
        <tr>
          <td width="100px">
          Setup Assistent
          </td>
        </tr>
        <tr>
          <td colspan=9>
          &nbsp;
          </td>
        </tr>
        <tr>
          <td width="100px">
          <img width="64" height="64" src="/system/images/icons/Disconnected_title.svg">
          </td>
          <td class="caption" colspan=8>
          Plugins
          </td>
        </tr>
        <tr>
          <td colspan=9>
          <hr>
          </td>
        </tr>
        <tr>
          <td width="100px">
          <a href="/admin/plugins/miniserverbackup/index.cgi?do=form"><img src="/system/images/icons/Download_64.png"></a>
          </td>
          <td width="100px">
          <a href="/admin/plugins/cam-connect/index.cgi"><img src="/system/images/icons/cam_64.png"></a>
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
        </tr>
        <tr>
          <td width="100px">
          Miniserver Backup
          </td>
          <td width="100px">
          Cam Connect
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
        </tr>
      </table>
      </center>
      </p>

    </div>
    <!-- /text -->
    </div>


  </div>
  <!-- /content -->
