									<!-- ** START template/system/de/plugininstall_uninstall.html 27.08.2016 10:22:04 ************************************************************************************ -->
									<center>
										<table border=0>
											<tr>
												<td align="center">
													<h2>Sicher?</h2>
													<p>
														Bist Du wirklich sicher, dass Du das Plugin <b><!--$ptitle--></b> deinstallieren m&ouml;chtest?
														<br/>
														<br/>
													</p>
												</td>
											</tr>
											<tr>
												<td align="center">
													<p>
														<a id="btnback" href="/admin/system/plugininstall.cgi?do=form" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete">Abbrechen</a>
														<a id="btnback" href="/admin/system/plugininstall.cgi?do=uninstall&pid=<!--$pid-->&answer=yes" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-check">Deinstallieren</a>
													</p>
												</td>
											</tr>
										</table>
									</center>
									<!-- ** END template/system/de/plugininstall_uninstall.html ************************************************************************************ -->
