									<!-- ** START template/system/de/plugininstall_install.html 27.08.2016 21:10:42 ************************************************************************************ -->
									<div id="pstatus">Starte Installation...</div>
									<br/>
									<div style="height: 200px; resize:vertical; overflow:auto; border: 1px solid #888;  background-color: transparent; font-family:monospace; color:#8080FF; overflow-y: scroll" id="Logfile" contenteditable="true"></div>
									<table width="100%" border=0>
										<tr>
											<td width="80%">
												&nbsp;
											</td>
											<td>
												<label style="display:block; text-align:center; width:60px; height: 15px; font-size:11;"><input data-mini="true" type="checkbox" checked id="LogScroll">Autoscroll</label>
											</td>
											<td>
												<a style="display:block; text-align:center; width:50px; height: 14px; font-size:11;" id="btndown" data-role="button" data-inline="true" data-mini="true" data-icon="arrow-d" href="/admin/system/tools/logfile.cgi?logfile=<!--$tempfile-->.log&header=txt&format=plain" target="_blank">Logfile</a>
											</td>
										</tr>
									</table>
									<p>
										<center>
											<a id="btnnext" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="/admin/system/plugininstall.cgi?do=form">Weiter</a>
										</center>
									</p>
									<script>
										$('#btnnext').addClass('ui-disabled');
										var $messages = $('#form-error-message');
										$.validate(
										{
											modules : 'file',
											errorMessagePosition : $messages,
										});
										setInterval(function()
										{
											// Disable caching of AJAX responses
											$.ajaxSetup (
											{
												cache: false
											});

											// Load Logfile
											$.ajax({
												url : '<!--$logfileurl-->',
												dataType: "text",
												success : function (data) {
													parseddata = data.replace(/\r\n|\n/g,'<br>\n');
													parseddata = parseddata.replace(/\<OK\>(.*?)\<br\>/g,"<div id='logok'><FONT color=green><B>OK:</B></FONT> $1</div>");
													parseddata = parseddata.replace(/\<ERROR\>(.*?)\<br\>/g,"<div id='logerr'><FONT color=red><B>FEHLER:</B></FONT> $1</div>");
													parseddata = parseddata.replace(/\<FAIL\>(.*?)\<br\>/g,"<div id='logfail'><FONT color=red><B>FEHLGESCHLAGEN:</B></FONT> $1</div>");
													parseddata = parseddata.replace(/\<INFO\>(.*?)\<br\>/g,"<div id='loginfo'><FONT color=black><B>INFO:</B></FONT> $1</div>");
													parseddata = parseddata.replace(/\<WARNING\>(.*?)\<br\>/g,"<div id='logwarn'><FONT color=red><B>WARNUNG:</B></FONT> $1</div>");
    											$('#Logfile').html(parseddata);
												}
											});

											if ($("#LogScroll").is(":checked"))
											{
												$("#Logfile").scrollTop($("#Logfile")[0].scrollHeight);
											}

											// Load Install Status
											$.get('<!--$statusfileurl-->', function (response)
											{
												var pstatus = parseInt(response);
												if (pstatus > 1)
												{
													document.getElementById("pstatus").innerHTML = "Ein Fehler ist aufgetreten. Das Plugin wurde <b>nicht</b> installiert.";
													$('#btnnext').removeClass('ui-disabled');
												}
												else if (pstatus > 0)
												{
													document.getElementById("pstatus").innerHTML = "Installation wird durchgef&uuml;hrt...";
													$('#btnnext').addClass('ui-disabled');
												}
												else
												{
													document.getElementById("pstatus").innerHTML = "Installation erfolgreich abgeschlossen.";
													$('#btnnext').removeClass('ui-disabled');
												}
											});
										}, 1000);
									</script>
									<!-- ** END template/system/de/plugininstall_install.html ************************************************************************************ -->
