  <!-- content -->


  <div role="main" class="ui-content">
    <div class="ui-body ui-body-a ui-corner-all loxberry-logo">

    <!-- text -->
    <div style="margin: 5%;">

      <form method="post" data-ajax="false" name="main_form" id="main_form" action="/admin/system/plugininstall.cgi" enctype="multipart/form-data">
      <input type="hidden" name="saveformdata" value="1">
      <div class="form-group">
        <table class="formtable" border="0" width="100%">
        <tr>
          <td width="25%">
          <label id="labeluploadfile">Plugin-Installationsdatei:</label>
          </td>
          <td width="50%">
          <input type="file" name="uploadfile" class="textfield" 
          data-validation="mime size" data-validation-allowing="zip" data-validation-max-size="50M"
          data-validation-error-msg-mime="Es können nur Installationsdateien im ZIP-Format hochgeladen werden."
          data-validation-error-msg-size="Es können keine Dateien größer als 50 MB hochgeladen werden.">
          </td>
          <td width="5%" valign="middle">
          &nbsp;
          </td>
          <td width="20%">
          &nbsp;
          </td>
        </tr>
        <tr>
          <td colspan=4>
          &nbsp;
          </td>
        </tr>
        <tr>
          <td></td>
          <td colspan=3>
          <div id="form-error-message" class="form-error-message"></div>
          </td>
        </tr>
        </table>
      </div>
      </form>

      <p>
      &nbsp;
      </p>

      <p>
      <center>
      <a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/index.cgi">Abbrechen</a>
      <button type="submit" form="main_form" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check">Installieren</button>
      </center>
      </p>


    </div>
    <!-- /text -->
    </div>

  </div>

  <script>
  var $messages = $('#form-error-message');
  $.validate({
    modules : 'file',
    errorMessagePosition : $messages,
  });

  </script>

  <!-- /content -->
