									<!-- ** START template/system/de/plugininstall_menu.html 27.08.2016 10:22:04 ************************************************************************************ -->
									<form method="post" data-ajax="false" name="main_form" id="main_form" action="/admin/system/plugininstall.cgi?do=install" enctype="multipart/form-data">
										<input type="hidden" name="saveformdata" value="1">
										<div class="form-group">
											<table class="formtable" border="0" width="100%">
												<tr>
													<td width="25%">
														<label id="labeluploadfile">Neues Plugin installieren:</label>
													</td>
													<td width="50%">
														<input type="file" name="uploadfile" class="textfield">
													</td>
													<td width="5%" valign="middle">
														<button type="submit" form="main_form" name="btnsubmit" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check">Installieren</button>
													</td>
													<td width="20%">
														&nbsp;
													</td>
												</tr>
												<tr>
													<td></td>
													<td colspan=3>
													<div id="form-error-message" class="form-error-message"></div>
													</td>
												</tr>
											</table>
										</div>
									</form>
									<br/>
									<table width="100%" border=0>
										<tr>
											<td width="100px">
												<img width="64" height="64" src="/system/images/icons/main_plugins_title.svg">
											</td>
											<td>
												<div style="font-size: 1.5em; letter-spacing: 0.25em; text-align: left; vertical-align: middle;">Installierte Plugins</div>
											</td>
										</tr>
										<tr>
											<td colspan=2>
												<hr>
											</td>
										</tr>
									</table>
									<table data-role="table" data-mode="columntoggle" class="ui-responsive table-stroke" data-column-btn-text="Zeige Spalten">
										<thead>
											<tr>
												<th data-priority="2">Nr.</th>
												<th data-priority="1">Plugin</th>
												<th data-priority="3">Version</th>
												<th data-priority="3">Autor</th>
												<th data-priority="1">Optionen</th>
											</tr>
										</thead>
										<tbody>
											<!--$ptablerows-->
										</tbody>
									</table>
									<script>
										var $messages = $('#form-error-message');
										$.validate(
										{
											modules : 'file',
											errorMessagePosition : $messages,
										});
									</script>
									<!-- ** END template/system/de/plugininstall_menu.html ************************************************************************************ -->
