  <!-- content -->


  <div role="main" class="ui-content">
    <div class="ui-body ui-body-a ui-corner-all">

    <!-- text -->
    <div style="margin: 5%;">

      <form method="post" data-ajax="false" name="main_form4" id="main_form4" action="/admin/system/timeserver.cgi">
      <input type="hidden" name="saveformdata" value="1">
      <div class="form-group">
        <table class="formtable" border="0" width="100%">
        <tr>
          <td width="25%">
          <label id="labeluhrzeit">Synchronisierung der Uhrzeit:</label>
          </td>
          <td width="50%">
          <fieldset data-role="controlgroup">
          <input onclick="disable()" <!--$checked1--> id="zeitserver_miniserver" name="zeitserver" type="radio" value="miniserver">
          <label for="zeitserver_miniserver">Über Miniserver</label>
          <input onclick="disable()" <!--$checked2--> id="zeitserver_ntp" name="zeitserver" type="radio" value="ntp">
          <label for="zeitserver_ntp">Über NTP-Server (Internet)</label>
          </fieldset>
          </td>
          <td width="5%" valign="middle">
          &nbsp;
          </td>
          <td width="20%">
          &nbsp;
          </td>
        </tr>
        <tr>
          <td>
          <label id="labelntpserverurl">NTP-Server:</label>
          </td>
          <td>
          <input id="ntpserverurl" name="ntpserverurl" type="text" class="textfield" 
          value="<!--$ntpserverurl-->">
          </td>
          <td>
          &nbsp;
          </td>
          <td valign="middle">
          <a id="linkntpurls" href="http://www.pool.ntp.org/de/use.html" target="_blank">Geeignete Zeitserver</a>
          </td>
        </tr>
        <tr>
          <td width="25%">
          <label id="labelzeitzone">Zeitzone:</label>
          </td>
          <td width="50%">
	      <select onclick="disable()" id="zeitzone" name="zeitzone" data-mini="true">

            <!--$timezonelist-->

            </select>
          </td>
          <td width="5%" valign="middle">
          &nbsp;
          </td>
          <td width="20%">
          &nbsp;
          </td>
        </tr>
        <tr>
          <td colspan=4>
          &nbsp;
          </td>
        </tr>
        <tr>
          <td></td>
          <td colspan=3>
          <div id="form-error-message" class="form-error-message"></div>
          </td>
        </tr>
        </table>
      </div>
      </form>

      <p>
      &nbsp;
      </p>

      <p>
      <center>
      <a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/index.cgi">Abbrechen</a>
      <button type="submit" form="main_form4" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check">Speichern</button>
      </center>
      </p>

    </div>
    <!-- /text -->
    </div>

  </div>

  <script>
  var $messages = $('#form-error-message');
  $.validate({
    modules : 'security',
    errorMessagePosition : $messages,
  });

  // Disable some options on Load depending on selected value
  disable();

  // Disable some options on click depending on selected value
  function disable() {
    // Miniserver or NTP
    if ( document.main_form4.zeitserver_miniserver.checked == true ) {
      $('#labelntpserverurl').addClass('ui-disabled');
      $('#ntpserverurl').addClass('ui-disabled');
      $('#linkntpurls').addClass('ui-disabled');
    }
    else {
      $('#labelntpserverurl').removeClass('ui-disabled');
      $('#ntpserverurl').removeClass('ui-disabled');
      $('#linkntpurls').removeClass('ui-disabled');
    }
  }

  </script>

  <!-- /content -->
