									<!-- ** START template/system/de/upgrade_install.html 27.08.2016 21:06:51 ************************************************************************************ -->
									<center>
										<table border=0>
											<tr>
												<td align="center">
													<h2>Sicher?</h2>
													<p>
														Bist Du wirklich sicher, dass Du dein System hochr&uuml;sten m&ouml;chtest?
													</p>
													<br/>
													<p>
														Das System w&uuml;rde von Version <b><!--$sversion--></b> auf Version <b><!--$uversion--> </b> aktualisiert werden.
													</p>
													<p>
														Hinweis: Zum Upgrade ist ein Neustart des Systems notwendig.<br/>
														W&auml;hrend des Neustarts werden die Updates eingespielt.<br/>
														Alle Einstellungen, Logdateien etc. bleiben erhalten.<br/>
													</p>
												</td>
											</tr>
											<tr>
												<td align="center">
													<p>
														<a id="btnback" href="/admin/index.cgi" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete">Abbrechen</a>
														<a id="btnreboot" href="/admin/system/upgrade.cgi?do=install&answer=yes" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-check">Neustart und Upgrade</a>
													</p>
												</td>
											</tr>
										</table>
									</center>
									<!-- ** END template/system/de/upgrade_install.html ************************************************************************************ -->
