      <center>
      <table border=0>
      <tr>
        <td align="center">
        <h2>Sicher?</h2>
        <p>
        Bist Du wirklich sicher, dass Du dein System upgraden möchtest? 
        </p>
        <br>
        <p>
        Das System würde von Version <b><!--$sversion--></b> auf Version <b><!--$uversion--> </b>
        angehoben werden.
        </p>
        <p>
        Hinweis: Zum Upgrade ist ein Neustart des Systems notwendig.<br>Während des Neustarts werden die Updates eingespielt.<br>Alle Einstellungen, Logdateien etc.
        bleiben erhalten.
        <br><br>
        </p>
        </td>
      </tr>
      <tr>
        <td align="center">
        <p>
        <a id="btnback" href="/admin/index.cgi" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete">Abbrechen</a>
        <a id="btnback" href="/admin/system/upgrade.cgi?do=install&answer=yes" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-check">Neustart und Upgrade</a>
      </td>
    </tr>
    </table>
    </center>
