									<!-- ** START template/system/en/donate.html 27.08.2016 10:22:04 ************************************************************************************ -->
									<h2>Donate?</h2>
									<p>
										The Loxberry extends your Loxone Smarthome by many interesting and useful features, which can not provided by the Loxone-System itself. These features
										are realized using Plugins, which can be installed later on.
									</p>
									<p>
										The Basic System of the Loxberry is free of charge and is maintained by volunteers in their leisure time. The Source Code is free and is distributed
										under the Apache 2.0-License. The Loxberry arose from an idea in the Loxone-Forum (<a href="https://www.loxforum.com/" target="_blank">https://www.loxforum.com/</a>).
									</p>
									<p>
										<b>
											If you like and use the the LoxBerry or maybe use it in comercial circumstances, please think about a donation.
											We, the developer of the LoxBerry, do not want money. But there are many people who are not as fortunate as us. And these people
											need our support. Even a little amount helps, to help these people. A donation is quickly done and possible via money transfer, credit card
											or Paypal:
										</b>
									</p>
									<p>
										<a href="http://www.krebshilfe.de/deutsche-krebshilfe/tochterorganisationen/deutsche-kinderkrebshilfe.html" target="_blank">
											<b>Donate for the German Child cancer aid society</b>
										</a>
									</p>
									<p>
										&nbsp;
									</p>
									<!-- ** END template/system/en/donate.html ************************************************************************************ -->
