      <h2>Donate?</h2>

      <p>
      The LoxBerry extends your Loxone Smarthome by many interesting and useful features, which are not provided by Loxone itself. These features
      are realized using plugins, which can be installed later on.
      </p>

      <p>
      The LoxBerry system is free of charge and is maintained by volunteers in their leisure time. The source code is free and is distributed
      under the Apache 2.0-License. LoxBerry was born as an idea discussed in the <a href="https://www.loxforum.com/" target="_blank">Loxone Forum</a>.
      </p>

      <p>
      <b>
      If you like the LoxBerry project and if you use it intensively or if you may be use it in any commercial way, you may think about donate some small amount
      of money. We, the developers of LoxBerry, do not want any money. But there are a lot out there who need our help and support. Even a small amount
      will help to support these people. Donating is easy and possible by using PayPal, your Credit Card or a standard bank transfer:
      </b>
      </p>

      <p>
      <a href="http://www.krebshilfe.de/metanavigation/english.html" target="_blank"><b>Donate for German Cancer Aid</b></a>.
      </p>

      <p>
      &nbsp;
      </p>
