      <p>
      <form id="lang_form" action="/admin/index.cgi" method="get">
      <center>
      <table class="formtable" border="0" width="50%">
        <tr>
          <td width="80%">
          <select name="lang" id="selectlang" data-mini="true">
            <option value="<!--$lang-->">Sprachauswahl / Select Language</option>
            <option value="de">German / Deutsch</option> 
            <option value="en">English / Englisch</option> 
          </select>
          </td>
          <td width="5%">
          &nbsp;
          </td>
          <td>
          <button name="btnsubmit" id="btnlang" data-icon="refresh" data-iconpos="notext">Reload</button>
          </td>
        </tr>
      </table>
      </center>
      </form>
      </p>

      <h2>First Start?</h2>

      <p>
      It seems you started the Loxberry the very first time. We recommend to use the Setup-Wizard for the Basic Installation of the System.
      The Wizard will guide you through the most important, mandatory settings of the Loxberry (e. g. the Network-Configuration). The Wizard
      needs to be executed one time only.
      </p>
      <p>
      Experienced Users can skip the Wizard of course. The Setting can be done in Main Menu of the Loxberry
      also. In addition all settings can be done on the Linux-Commandline, if needed.
      </p>

      <p>
      &nbsp;
      </p>

      <p>
      <center>
      <a id="btncancel" href="/admin/index.cgi?lang=<!--$lang-->&nostartsetup=1" 
      class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete">Skip</a>
      <a id="btncancel" href="/admin/system/setup/index.cgi?lang=<!--$lang-->" 
      class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-check">Start Wizard</a>
      </center>
      </p>
