									<!-- ************************************************************************************** -->
								</div>
							<!-- /text -->
						</div>
					</div>
				<!-- /content -->
				<!-- footer -->
					<div data-role="footer" style="text-align:center;" data-position="fixed" data-tap-toggle="false">
						<a id="btnhome" href="/admin/index.cgi?lang=<!--$lang-->" data-role="button" data-icon="home" data-iconpos="notext">Home</a>
						&nbsp;&nbsp;
						<a id="btnpower" href="/admin/system/power.cgi?lang=<!--$lang-->" data-role="button" data-icon="power" data-iconpos="notext">Power</a>
					</div>
				<!-- /footer -->
			</div>
		<!-- /page -->
		<div id="lang" style="display: none"><!--$lang--></div>
		<div id='overlay' style="display: none"><img src='/system/scripts/jquery/themes/main/images/ajax-loader.gif' /></div>
	</body>
</html>
