  <!-- content -->


  <div role="main" class="ui-content">
    <div class="ui-body ui-body-a ui-corner-all loxberry-logo">

    <!-- text -->
    <div style="margin: 5%;">

      <div style="height: 400px; resize:vertical; overflow:auto; border: 1px solid #888;  background-color: transparent; font-family:monospace; color:#8080FF; overflow-y: scroll" id="Logfile" contenteditable="true"></div>
      <table width="100%" border=0>
      <tr>
      <td width="80%">
      &nbsp;
      </td>
      <td>
      <label style="display:block; text-align:center; width:60px; height: 15px; font-size:11;"><input data-mini="true" type="checkbox" checked id="LogScroll">Autoscroll</label>
      </td>
      <td>
      <a style="display:block; text-align:center; width:50px; height: 14px; font-size:11;" id="btndown" data-role="button" data-inline="true" data-mini="true" data-icon="arrow-d" href="/admin/system/tools/logfile.cgi?logfile=<!--$logfile-->&header=txt&format=plain" target="_blank">Logfile</a>
      </td>
      </tr>
      </table>

      <p>
      <center>
      <a id="btnnext" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="javascript:window.close()">Close</a>
      </center>
      </p>


    </div>
    <!-- /text -->
    </div>

  </div>

  <script>

  setInterval(function() {

    // Disable caching of AJAX responses
    $.ajaxSetup ({
      cache: false
    });

    // Load Logfile
    $('#Logfile').load('/admin/system/tools/logfile.cgi?logfile=<!--$logfile-->&head=none&format=html');
    if ($("#LogScroll").is(":checked")) {
      $("#Logfile").scrollTop($("#Logfile")[0].scrollHeight);
    }

  }, 1000);

  </script>

  <!-- /content -->
