  <!-- content -->
  <div role="main" class="ui-content">
    <div class="ui-body ui-body-a ui-corner-all loxberry-logo">

    <!-- text -->
    <div style="margin: 5%">

      <p>
      <center>
      <table class="menutable" border="0" width="90%">
        <tr>
          <td width="100px">
          <img height="64" width="64" src="/system/images/icons/Service_title.svg">
          </td>
          <td class="caption" colspan=8>
          System Settings
          </td>
        </tr>
        <tr>
          <td colspan=9>
          <hr>
          </td>
        </tr>
        <tr>
          <td width="100px">
          <a href="/admin/system/admin.cgi?do=form"><img src="/system/images/icons/Admin_64.png"></a>
          </td>
          <td width="100px">
          <a href="/admin/system/miniserver.cgi?do=form"><img src="/system/images/icons/Server2_64.png"></a>
          </td>
          <td width="100px">
           <a href="/admin/system/timeserver.cgi?do=form">
						<div class="clock">
 		  			  <div class="hours-container">
						    <div class="hours"></div>
						  </div>
						  <div class="minutes-container">
						    <div class="minutes"></div>
						  </div>
						  <div class="seconds-container">
						    <div class="seconds"></div>
						  </div>
					  </div>
         	</a>
						<STYLE>
						.clock 
						{
						  position:relative;
						  width:60px;
						  height:60px;
						  margin:2em auto;
						  border-radius:50%;
						  box-shadow:rgba(0,0,0,.8) .5em .5em 4em;
						  background: url('/system/images/icons/ios_clock.svg') no-repeat center;
						  background-size: 88%;
						}
						.minutes-container, .hours-container, .seconds-container 
					{
					  position: absolute;
					  top: 0;
					  right: 0;
					  bottom: 0;
					  left: 0;
					}
					.hours 
					{
					  background: #000;
					  height: 20%;
					  left: 48.75%;
					  position: absolute;
					  top: 30%;
					  transform-origin: 50% 100%;
					  width: 2.5%;
					}
					.minutes 
					{
					  background: #000;
					  height: 40%;
					  left: 49%;
					  position: absolute;
					  top: 10%;
					  transform-origin: 50% 100%;
					  width: 2%;
					}
					.seconds 
					{
					  background: #000;
					  height: 45%;
					  left: 49.5%;
					  position: absolute;
					  top: 14%;
					  transform-origin: 50% 80%;
					  width: 1%;
					  z-index: 8;
					}
					@keyframes rotate 
					{
				  	100% 
				  	{
				    	transform: rotateZ(360deg);
				  	}
					}
					.hours-container 
					{
				  	animation: rotate 43200s infinite linear;
					}
					.minutes-container 
					{
				  	animation: rotate 3600s infinite steps(60);
					}
					.seconds-container 
					{
				  	animation: rotate 60s infinite steps(60);
					}
					</STYLE>
				<SCRIPT>
				/*
				 * Starts any clocks using the user's local time
				 * From: cssanimation.rocks/clocks
				 */
				  // Get the local time using JS
				  var seconds = <!--$sec-->;
				  var minutes = <!--$min-->;
				  var hours = <!--$hour-->;
				
				  // Create an object with each hand and it's angle in degrees
				  var hands = [
				    {
				      hand: 'hours',
				      angle: (hours * 30) + (minutes / 2)
				    },
				    {
				      hand: 'minutes',
				      angle: (minutes * 6)
				    },
				    {
				      hand: 'seconds',
				      angle: (seconds * 6)
				    }
				  ];
				  // Loop through each of these hands to set their angle
				  for (var j = 0; j < hands.length; j++) {
				    var elements = document.querySelectorAll('.' + hands[j].hand);
				    for (var k = 0; k < elements.length; k++) {
				        elements[k].style.webkitTransform = 'rotateZ('+ hands[j].angle +'deg)';
				        elements[k].style.transform = 'rotateZ('+ hands[j].angle +'deg)';
				        // If this is a minute hand, note the seconds position (to calculate minute position later)
				        if (hands[j].hand === 'minutes') {
				          elements[k].parentNode.setAttribute('data-second-angle', hands[j + 1].angle);
				        }
				    }
				  }
				/*
				 * Set a timeout for the first minute hand movement (less than 1 minute), then rotate it every minute after that
				 */
				function setUpMinuteHands() {
				  // Find out how far into the minute we are
				  var containers = document.querySelectorAll('.minutes-container');
				  var secondAngle = containers[0].getAttribute("data-second-angle");
				  if (secondAngle > 0) {
				    // Set a timeout until the end of the current minute, to move the hand
				    var delay = (((360 - secondAngle) / 6) + 0.1) * 1000;
				    setTimeout(function() {
				      moveMinuteHands(containers);
				    }, delay);
				  }
				}
				
				/*
				 * Do the first minute's rotation
				 */
				function moveMinuteHands(containers) {
				  for (var i = 0; i < containers.length; i++) {
				    containers[i].style.webkitTransform = 'rotateZ(6deg)';
				    containers[i].style.transform = 'rotateZ(6deg)';
				  }
				  // Then continue with a 60 second interval
				  setInterval(function() {
				    for (var i = 0; i < containers.length; i++) {
				      if (containers[i].angle === undefined) {
				        containers[i].angle = 12;
				      } else {
				        containers[i].angle += 6;
				      }
				      containers[i].style.webkitTransform = 'rotateZ('+ containers[i].angle +'deg)';
				      containers[i].style.transform = 'rotateZ('+ containers[i].angle +'deg)';
				    }
				  }, 60000);
				}
				/*
				 * Move the second containers
				 */
				function moveSecondHands() {
				  var containers = document.querySelectorAll('.seconds-container');
				  setInterval(function() {
				    for (var i = 0; i < containers.length; i++) {
				      if (containers[i].angle === undefined) {
				        containers[i].angle = 6;
				      } else {
				        containers[i].angle += 6;
				      }
				      containers[i].style.webkitTransform = 'rotateZ('+ containers[i].angle +'deg)';
				      containers[i].style.transform = 'rotateZ('+ containers[i].angle +'deg)';
				    }
				  }, 1000);
				}
				</SCRIPT>
          </td>
            <td width="100px">
          <a href="/admin/system/network.cgi?do=form"><img src="/system/images/icons/Networking2_64.png"></a>
          </td>
          <td width="100px">
          <img src="/system/images/icons/Transmitter_64.png">
          </td>
          <td width="100px">
          <img src="/system/images/icons/Binary_64.png">
          </td>
          <td width="100px">
          <img src="/system/images/icons/Download_64.png">
          </td>
          <td width="100px">
          <img src="/system/images/icons/Disconnected_title_64.png">
          </td>
          <td width="100px">
          <a href="/admin/system/power.cgi"><img src="/system/images/icons/Standby_64.png"></a>
          </td>
        </tr>
        <tr>
          <td width="100px">
          Admin Account
          </td>
          <td width="100px">
          Miniserver
          </td>
          <td width="100px">
          System Time
          </td>
          <td width="100px">
          Network
          </td>
          <td width="100px">
          UMTS Access
          </td>
          <td width="100px">
          Display
          </td>
          <td width="100px">
          Update
          </td>
          <td width="100px">
          Installation
          </td>
          <td width="100px">
          Reboot
          </td>
        </tr>
        <tr>
          <td width="100px">
          <a href="/admin/system/setup/index.cgi"><img src="/system/images/icons/Service_64.png"></a>
          </td>
        </tr>
        <tr>
          <td width="100px">
          Setup Wizard
          </td>
        </tr>
        <tr>
          <td colspan=9>
          &nbsp;
          </td>
        </tr>
        <tr>
          <td width="100px">
          <img width="64" height="64" src="/system/images/icons/Disconnected_title.svg">
          </td>
          <td class="caption" colspan=8>
          Plugins
          </td>
        </tr>
        <tr>
          <td colspan=9>
          <hr>
          </td>
        </tr>
        <tr>
          <td width="100px">
          <a href="/admin/plugins/miniserverbackup/index.cgi?do=form"><img src="/system/images/icons/Download_64.png"></a>
          </td>
          <td width="100px">
          <a href="/admin/plugins/cam-connect/index.cgi"><img src="/system/images/icons/cam_64.png"></a>
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
        </tr>
        <tr>
          <td width="100px">
          Miniserver Backup
          </td>
          <td width="100px">
          Cam Connect
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
        </tr>
      </table>
      </center>
      </p>

    </div>
    <!-- /text -->
    </div>


  </div>
  <!-- /content -->
