  <!-- content -->
  <div role="main" class="ui-content">
    <div class="ui-body ui-body-a ui-corner-all loxberry-logo">

    <!-- text -->
    <div style="margin: 5%">

      <p>
      <center>
      <table class="menutable" border="0" width="90%">
        <tr>
          <td width="100px">
          <img height="64" width="64" src="/system/images/icons/Service_title.svg">
          </td>
          <td class="caption" colspan=8>
          System Settings
          </td>
        </tr>
        <tr>
          <td colspan=9>
          <hr>
          </td>
        </tr>
        <tr>
          <td width="100px">
          <a href="/admin/system/admin.cgi?do=form"><img src="/system/images/icons/Admin_64.png"></a>
          </td>
          <td width="100px">
          <a href="/admin/system/miniserver.cgi?do=form"><img src="/system/images/icons/Server2_64.png"></a>
          </td>
          <td width="100px">
          <div style="Background-image: url('/system/images/icons/empty_64.png');	background-position: center center; background-repeat: no-repeat;'><a href="/admin/system/timeserver.cgi?do=form"><?xml version="1.0"?>
						<div style="padding:2px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 400" width="60" height="60" version="1.0">
						<defs>
						<linearGradient id="a" x1="0%" y1="100%" x2="0%" y2="0%">
						  <stop offset="0%" style="stop-color:#777799"/>
						  <stop offset="100%" style="stop-color:#ffffff"/>
						</linearGradient>
						<linearGradient id="b" x1="0%" y1="100%" x2="0%" y2="0%">
						  <stop offset="0%" style="stop-color:#ffffff"/>
						  <stop offset="25%" style="stop-color:#b6b6cc"/>
						  <stop offset="40%" style="stop-color:#515177"/>
						  <stop offset="48%" style="stop-color:#ffffff"/>
						  <stop offset="56%" style="stop-color:#ffffff"/>
						  <stop offset="75%" style="stop-color:#8b8baa"/>
						  <stop offset="98%" style="stop-color:#efeff4"/>
						  <stop offset="100%" style="stop-color:#fbfbfc"/>
						</linearGradient>
						<linearGradient id="c" x1="0%" y1="100%" x2="0%" y2="0%">
						  <stop offset="0%" style="stop-color:#ffffff"/>
						  <stop offset="100%" style="stop-color:#777799"/>
						</linearGradient>
						<radialGradient id="d" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
						  <stop offset="0%" style="stop-color:#ffffff"/>
						  <stop offset="40%" style="stop-color:#ffffff"/>
						  <stop offset="70%" style="stop-color:#e6e6ee"/>
						  <stop offset="92%" style="stop-color:#b6b6cc"/>
						  <stop offset="100%" style="stop-color:#636388"/>
						</radialGradient>
						<radialGradient id="e" cx="50%" cy="150%" r="200%" fx="50%" fy="150%">
						  <stop offset="0%" style="stop-color:#ffffff;stop-opacity:0"/>
						  <stop offset="59%" style="stop-color:#ffffff;stop-opacity:0"/>
						  <stop offset="60%" style="stop-color:#ffffff;stop-opacity:0.6"/>
						  <stop offset="70%" style="stop-color:#ffffff;stop-opacity:0.3"/>
						  <stop offset="100%" style="stop-color:#ffffff;stop-opacity:0.0"/>
						</radialGradient>
						</defs>
						<g transform="translate(200 200)">
						<circle cx="0" cy="0" r="200" fill="#cecedd"/>
						<circle cx="0" cy="0" r="196" stroke="url(#a)" stroke-width="5" fill="url(#b)"/>
						<circle cx="0" cy="0" r="170" stroke="url(#c)" stroke-width="4" fill="url(#d)"/>
						<circle cx="0" cy="0" r="172" stroke="#ffffff" stroke-width="0.5" fill="none"/>
						<circle cx="0" cy="0" r="193.5" stroke="#ffffff" stroke-width="0.5" fill="none"/>
						<g id="O">
						  <polygon points="4,155 4,130 -4,130 -4,155" style="fill:#777799;stroke:#313155;stroke-width:1"/>
						  <polygon points="4,-155 4,-130 -4,-130 -4,-155" style="fill:#777799;stroke:#313155;stroke-width:1"/>
						</g>
						<g transform="rotate(30)"><use xlink:href="#O"/></g>
						<g transform="rotate(60)"><use xlink:href="#O"/></g>
						<g transform="rotate(90)"><use xlink:href="#O"/></g>
						<g transform="rotate(120)"><use xlink:href="#O"/></g>
						<g transform="rotate(150)"><use xlink:href="#O"/></g>
						<polygon id="h" points="6,-80 6,18 -6,18 -6,-80" style="fill:#232344">
						  <animateTransform id="ht" attributeType="xml" attributeName="transform" type="rotate" from="000" to="000" begin="0" dur="86400s" repeatCount="indefinite"/>
						</polygon>
						<polygon id="m" points="3.5,-140 3.5,23 -3.5,23 -3.5,-140" style="fill:#232344">
						  <animateTransform id="mt" attributeType="xml" attributeName="transform" type="rotate" from="000" to="000" begin="0" dur="3600s" repeatCount="indefinite"/>
						</polygon>
						<polygon id="s" points="2,-143 2,25 -2,25 -2,-143" style="fill:#232344">
						  <animateTransform id="st" attributeType="xml" attributeName="transform" type="rotate" from="000" to="000" begin="0" dur="60s" repeatCount="indefinite"/>
						</polygon>
						<circle cx="0" cy="0" r="163" fill="url(#e)"/>
						</g>
						<script type="text/javascript"><![CDATA[
						var d = new Date(<!--$systemdatetime-->);
						var s = d.getSeconds();
						var m = d.getMinutes() + s/60;
						var h = (d.getHours() % 12) + m/60 + s/3600;
						document.getElementById('st').setAttribute('from',s*6);
						document.getElementById('mt').setAttribute('from',m*6);
						document.getElementById('ht').setAttribute('from',h*30);
						document.getElementById('st').setAttribute('to',360+s*6);
						document.getElementById('mt').setAttribute('to',360+m*6);
						document.getElementById('ht').setAttribute('to',360+h*30);
						]]></script>
						</svg></div></a></div>
          </td>
          <td width="100px">
          <a href="/admin/system/network.cgi?do=form"><img src="/system/images/icons/Networking2_64.png"></a>
          </td>
          <td width="100px">
          <img src="/system/images/icons/Transmitter_64.png">
          </td>
          <td width="100px">
          <img src="/system/images/icons/Binary_64.png">
          </td>
          <td width="100px">
          <img src="/system/images/icons/Download_64.png">
          </td>
          <td width="100px">
          <img src="/system/images/icons/Disconnected_title_64.png">
          </td>
          <td width="100px">
          <a href="/admin/system/power.cgi"><img src="/system/images/icons/Standby_64.png"></a>
          </td>
        </tr>
        <tr>
          <td width="100px">
          Admin Account
          </td>
          <td width="100px">
          Miniserver
          </td>
          <td width="100px">
          System Time
          </td>
          <td width="100px">
          Network
          </td>
          <td width="100px">
          UMTS Access
          </td>
          <td width="100px">
          Display
          </td>
          <td width="100px">
          Update
          </td>
          <td width="100px">
          Installation
          </td>
          <td width="100px">
          Reboot
          </td>
        </tr>
        <tr>
          <td width="100px">
          <a href="/admin/system/setup/index.cgi"><img src="/system/images/icons/Service_64.png"></a>
          </td>
        </tr>
        <tr>
          <td width="100px">
          Setup Wizard
          </td>
        </tr>
        <tr>
          <td colspan=9>
          &nbsp;
          </td>
        </tr>
        <tr>
          <td width="100px">
          <img width="64" height="64" src="/system/images/icons/Disconnected_title.svg">
          </td>
          <td class="caption" colspan=8>
          Plugins
          </td>
        </tr>
        <tr>
          <td colspan=9>
          <hr>
          </td>
        </tr>
        <tr>
          <td width="100px">
          <a href="/admin/plugins/miniserverbackup/index.cgi?do=form"><img src="/system/images/icons/Download_64.png"></a>
          </td>
          <td width="100px">
          <a href="/admin/plugins/cam-connect/index.cgi"><img src="/system/images/icons/cam_64.png"></a>
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
        </tr>
        <tr>
          <td width="100px">
          Miniserver Backup
          </td>
          <td width="100px">
          Cam Connect
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
          <td width="100px">
          &nbsp;
          </td>
        </tr>
      </table>
      </center>
      </p>

    </div>
    <!-- /text -->
    </div>


  </div>
  <!-- /content -->
