  <!-- content -->
  <div role="main" class="ui-content">
    <div class="ui-body ui-body-a ui-corner-all loxberry-logo">

    <!-- text -->
    <div style="margin: 5%">

      <center>
      <table border=0>
      <tr>
        <td align="center">
        <h2>Sure?</h2>
        <p>
        Are you really sure you would like to uninstall the Plugin <b><!--$ptitle--></b>?
        <br><br>
        </p>
        </td>
      </tr>
      <tr>
        <td align="center">
        <p>
        <a id="btnback" href="/admin/system/plugininstall.cgi?do=form" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete">Cancel</a>
        <a id="btnback" href="/admin/system/plugininstall.cgi?do=uninstall&pid=<!--$pid-->&answer=yes" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-check">Uninstall</a>
      </td>
    </tr>
    </table>
    </center>

    </div>
    <!-- /text -->
    </div>


  </div>
  <!-- /content -->
