									<!-- ** START template/system/en/success.html 27.08.2016 10:22:04 ************************************************************************************ -->
									<center>
										<table border=0>
											<tr>
												<td align="center">
													<h2>Everything OK!</h2>
													<p>
														<!--$message-->
														<br/>
														<br/>
													</p>
												</td>
											</tr>
											<tr>
												<td align="center">
													<p>
														<a id="btnok" data-role="button" data-inline="true" data-mini="true" data-icon="check" href="<!--$nexturl-->">OK</a>
													</p>
												</td>
											</tr>
										</table>
									</center>
									<!-- ** END template/system/en/success.html ************************************************************************************ -->
