									<!-- ** START template/system/de/upgrade_install.html 27.08.2016 10:22:04 ************************************************************************************ -->
									<center>
										<table border=0>
											<tr>
												<td align="center">
													<h2>Sure?</h2>
													<p>
														Are you really sure you would like to upgrade your system? 
													</p>
													<br/>
													<p>
														Your LoyBerry will be upgraded from version <b><!--$sversion--></b> to <b><!--$uversion--></b>.
													</p>
													<p>
														Note: The system will be rebooted during the update.<br/>
														During the reboot the update will be proceeded.<br/>
														All settings, logfiles etc. will be still available after installation.
													</p>
												</td>
											</tr>
											<tr>
												<td align="center">
													<p>
														<a id="btnback" href="/admin/index.cgi" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete">Cancel</a>
														<a id="btnreboot" href="/admin/system/upgrade.cgi?do=install&answer=yes" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-check">Reboot and Upgrade</a>
													</p>
												</td>
											</tr>
										</table>
									</center>
									<!-- ** END template/system/de/upgrade_install.html ************************************************************************************ -->
