									<!-- ** START template/system/en/donate.html 27.08.2016 10:22:04 ************************************************************************************ -->
									<h2>¿Donar?</h2>
									<p>
										El Loxberry extiende su Loxone Smarthome para obtener características interesantes y útiles, que no pueden ser proporcionadas por el Sistema de Loxone. 
										Estas características se realizan con Plugins, que se pueden instalar más adelante.
									</p>
									<p>
										El Sistema Básico de Loxberry es gratuito y mantenido por voluntarios en su tiempo libre. El código fuente es gratuito y se distribuye bajo la licencia de Apache 2.0. 
										El Loxberry surgió de una idea en el Foro de Loxone (<a href="https://www.loxforum.com/" target="_blank">https://www.loxforum.com/</a>).
									</p>
									<p>
										<b>
											Si te gusta y usas LoxBerry o tal vez quieras utilizarlo en circunstancias comerciales, por favor piensa en una donación.
											Nosotros, el desarrollador de LoxBerry, no queremos dinero. Pero hay muchas personas que no son tan afortunadas como nosotros. 
											Estas personas necesitan nuestro apoyo. Incluso una pequeña cantidad, puede ayudar a estas personas. 
											Una donación se hace rápidamente y es posible a través de transferencia de dinero, tarjeta de crédito o PayPal:
										</b>
									</p>
									<p>
										<a href="http://www.krebshilfe.de/deutsche-krebshilfe/tochterorganisationen/deutsche-kinderkrebshilfe.html" target="_blank">
											<b>Donar a la sociedad alemana de ayuda para el cáncer infantil</b>
										</a>
									</p>
									<p>
										&nbsp;
									</p>
									<!-- ** END template/system/en/donate.html ************************************************************************************ -->
