									<!-- ** START template/system/en/firststart.html 27.08.2016 10:21:21 ************************************************************************************ -->
									<p>
										<form id="lang_form" action="/admin/index.cgi" method="get">
											<center>
												<table class="formtable" border="0" width="50%">
													<tr>
														<td width="80%">
															<select name="lang" id="selectlang" data-mini="true">
																<option value="<!--$lang-->">Seleccionar Idioma / Select Language</option>
																<option value="de">Alemán / German</option>
																<option value="en">Inglés / English</option>
																<option value="es">Español / Spanish</option>
															</select>
														</td>
														<td width="5%">
															&nbsp;
														</td>
														<td>
															<button name="btnlang" id="btnlang" data-icon="refresh" data-iconpos="notext">Aplicar Idioma</button>
														</td>
													</tr>
												</table>
											</center>
										</form>
									</p>
									<h2>¿Primera Vez?</h2>
						      <p>
							      Parece que inicio el Loxberry por primera vez. Se recomienda utilizar el Asistente de configuración para la instalación básica del sistema.
								  El asistente le guiará a través de los ajustes más importantes y obligatorios de Loxberry (por ejemplo, la configuración de red). 
								  El asistente solo se necesitas ejecutarse una sola vez.
						      </p>
						      <p>
							      Los usuarios experimentados pueden omitir el asistente, esto es una recomendación. Los ajustes se pueden realizar desde el menú principal de Loxberry.
								  Además todos los ajustes se pueden realizar desde la liena de comando en Linux, si lo necesitas.
						      </p>
									<p>
										<b>Nota sobre los navegadores compatibles:</b> Nos esforzamos por programar la interfaz Web de LoxBerry independiente del navegador.
										Desafortunadamente, algunos navegadores, especialmente el Microsoft IE y Edge, causan problemas de vez en cuando porque no respetan ni admiten completamente los estándares.
										Le sugerimos que use el navegador de Chrome o Firefox en su lugar. Si tiene problemas con la interfaz web, pruebe uno de estos navegadores.
									</p>
									<p>
										&nbsp;
									</p>
									<p>
										<center>
											<a id="btncancel" href="/admin/index.cgi?lang=<!--$lang-->&nostartsetup=1"
												class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete">Saltar</a>
											<a id="btncancel" href="/admin/system/setup/index.cgi?lang=<!--$lang-->"
												class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-check">Iniciar Asistente</a>
										</center>
									</p>
									<!-- ** END template/system/en/firststart.html ************************************************************************************ -->
