<!-- pageend.html START -->
				</div>
			</div>
		</div>
		<!-- /content -->
		<!-- footer -->
		<div data-role="footer" style="text-align:center;" data-position="fixed" data-tap-toggle="false">
			<a id="btnhome" href="/admin/index.cgi?lang=es" data-role="button" data-icon="home" data-iconpos="notext">Hauptmen&uuml;</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a id="btnpower" href="/admin/system/power.cgi?lang=es" data-role="button" data-icon="power" data-iconpos="notext">Power</a>
		</div>
		<!-- /footer -->
	</div>
<!-- /page -->
<div id="lang" style="display: none">es</div>
<div id='overlay' style="display: none"><img src='/system/scripts/jquery/themes/main/images/ajax-loader.gif' /></div>
<!-- pageend.html END -->
<!-- foot.html START -->
</body>
</html>
<!-- foot.html END -->
