												<!-- ** START template/system/en/miniserver_row.html 27.08.2016 10:22:04 ************************************************************************************ -->
												<tr>
													<td width="100%" colspan=4>
													 <h2><!--$msno-->. Miniserver:</h2>
													</td>
												</tr>
												<tr>
													<td width="25%">
														&nbsp;
													</td>
													<td width="50%">
														<label><input type="checkbox" id="useclouddns<!--$msno-->" name="useclouddns<!--$msno-->">Usar DNS Cloud</label>
													</td>
													<td width="5%">
														&nbsp;
													</td>
													<td width="20%">
														&nbsp;
													</td>
												</tr>
												<tr width="25%" id="miniserveriprow<!--$msno-->" ipaddr="<!--$miniserverip-->">
													<td width="25%">
														<label class="control-label" for="miniserverip<!--$msno-->">Dirección IP/Host:</label>
													</td>
													<td width="50%">
														<input id="miniserverip<!--$msno-->" name="miniserverip<!--$msno-->" type="text" class="textfield" data-validation="custom" value="<!--$miniserverip-->" data-validation-regexp="(^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$)|(^[a-z0-9A-Z\.]+$)" data-validation-error-msg="* La dirección IP o nombre de host introducido no es valido. Una dirección IP debe tener el siguiente formato xxx.xxx.xxx.xxx, ejemplo: 192.168.1.100">
													</td>
													<td width="5%">
														&nbsp;
													</td>
													<td width="20%">
														&nbsp;
													</td>
												</tr>
												<tr id="miniserverportrow<!--$msno-->" portaddr="<!--$miniserverport-->">
													<td>
														<label>Puerto:</label>
													</td>
													<td>
														<input id="miniserverport<!--$msno-->" name="miniserverport<!--$msno-->" type="text" data-validation="number" data-validation-allowing="range[1;65535]" class="textfield" value="<!--$miniserverport-->" data-validation-error-msg="* El Puerto debe encontrarse entre el 1 y 65535. Por defecto el Puerto del Miniserver es 80.">
													</td>
													<td colspan="2">
														<font size="-1">El puerto por defecto es <b>80</b></font>
													</td>
												</tr>
												<tr id="miniservercloudurlrow<!--$msno-->" dnsurl="<!--$miniservercloudurl-->">
													<td width="25%">
														<label class="control-label" for="miniservercloudurl<!--$msno-->">Dirección MAC:</label>
													</td>
													<td width="50%">
														<input id="miniservercloudurl<!--$msno-->" name="miniservercloudurl<!--$msno-->" type="text" class="textfield"
															data-validation-optional="false" data-validation-depends-on="useclouddns<!--$msno-->"  data-validation-depends-on-value="1" data-validation="custom"
															data-validation-regexp="(^EEE000([a-zA-Z0-9]{6})$)|(^504F([a-zA-Z0-9]{8})$)" data-suggestions="EEE000xxxxxx"
															data-validation-error-msg="* Introduzca una Dirección MAC valida. Ejemplo: EEE000xxxxxx o 504Fxxxxxxxx"
															value="<!--$miniservercloudurl-->">
													</td>
													<td width="5%">
														&nbsp;
													</td>
													<td width="20%">
														&nbsp;
													</td>
												</tr>
												<tr id="miniservercloudurlftpportrow<!--$msno-->" dnsurlftpport="<!--$miniservercloudurlftpport-->">
													<td width="25%">
														<label class="control-label" for="miniservercloudurlftpport<!--$msno-->">Puerto FTP Publico:</label>
													</td>
													<td width="50%">
														<input id="miniservercloudurlftpport<!--$msno-->" name="miniservercloudurlftpport<!--$msno-->" type="text" class="textfield"
															data-validation-optional="false" data-validation-depends-on="useclouddns<!--$msno-->"  data-validation-depends-on-value="1" data-validation="custom length" data-validation-length="1-5"
															data-validation-regexp="([0-9]$)" data-suggestions="21"
															data-validation-error-msg="* Introduzca un Puerto FTP del Miniserver valido. (Compruebe la configuración de su Router) El Puerto FTP del Miniserver local debe ser el 21."
														 value="<!--$miniservercloudurlftpport-->">
													</td>
													<td width="5%">
														&nbsp;
													</td>
													<td width="20%">
														&nbsp;
													</td>
												</tr>
												<tr>
													<td>
														<label>Usuario del Miniserver:</label>
													</td>
													<td>
														<input id="miniserveruser<!--$msno-->" name="miniserveruser<!--$msno-->" type="text" data-validation="length" data-validation-length="Min1" class="textfield" value="<!--$miniserveruser-->" data-validation-error-msg="* Introduzca el nombre de usuario del Administrador del Miniserver.">
													</td>
													<td>
														&nbsp;
													</td>
													<td>
														<font size="-1"></font>
													</td>
												</tr>
												<tr>
													<td>
														<label>Contraseña del Miniserver:</label>
													</td>
													<td>
														<input id="miniserverkennwort<!--$msno-->" name="miniserverkennwort<!--$msno-->" type="password" data-validation="length" data-validation-length="Min1" class="textfield" value="<!--$miniserverkennwort-->" data-validation-error-msg="* Introduzca la contraseña del Administrador del Miniserver.">
													</td>
													<td>
														&nbsp;
													</td>
													<td>
														<font size="-1"></font>
													</td>
												</tr>
												<tr>
													<td>
														<label>Nota / Enlace:</label>
													</td>
													<td>
														<textarea id="miniservernote<!--$msno-->" name="miniservernote<!--$msno-->" type="textarea" class="textfield" data-validation-optional="true" data-validation="length letternumeric" data-validation-allowing=" ()@{}&:/?=#_+!-\u00C0-\u00D6\u00D8-\u00F6\u00F8-\u00FF" data-validation-error-msg="* Los caracteres permitidos son: a-z A-Z 0-9 &#x7B;&#x28;&#x40;&#x3A;&#x2F;&#x3F;&#x3D;&#x23;&#x5F;&#x2B;&#x21;&#x2D;&#x26;&#x29;&#x7D; (Longitud máxima del texto: 512)" data-validation-length="Max512"><!--$miniservernote--></textarea>
														<SCRIPT>
															$("#miniservernote<!--$msno-->").focusout(function()
															{
																note_link($(this).attr("id"));
															})
															.blur(function()
															{
																note_link($(this).attr("id"));
															});
															note_link ("miniservernote<!--$msno-->");
														</SCRIPT>
													</td>
													<td>
														<a id="miniservernote<!--$msno-->_url" data-role="button" data-inline="true" data-mini="true" data-icon="star" href="#" target="miniserver_note">Abrir</a>
													</td>
													<td>
														<font size="-1"></font>
													</td>
												</tr>
												<tr>
													<td>
														<label>Nombre:</label>
													</td>
													<td>
														<input value="<!--$miniserverfoldername-->" id="miniserverfoldername<!--$msno-->" name="miniserverfoldername<!--$msno-->" type="text" class="textfield" data-validation-optional="false" data-validation="length letternumeric" data-validation-allowing="-_" data-validation-error-msg="* Los caracteres permitidos son: a-z A-Z 0-9 _- (Longitud máxima del texto: 64)" data-validation-length="Max64">
													</td>
													<td>
													</td>
													<td>
														<font size="-1"></font>
													</td>
												</tr>												
												<tr>
													<td colspan=4>
														&nbsp;
													</td>
												</tr>
												<SCRIPT>
													$("#useclouddns<!--$msno-->").change(function()
													{
														if($(this).is(":checked"))
														{
															$("#miniservercloudurl<!--$msno-->").val($("#miniservercloudurlrow<!--$msno-->").attr( "dnsurl" ));
															$("#miniservercloudurl<!--$msno-->").attr("data-validation-optional","false");
															$("#miniservercloudurlrow<!--$msno-->").fadeTo( "fast", 1 );
															$("#miniservercloudurl<!--$msno-->").prop("readOnly", false);

															$("#miniservercloudurlftpport<!--$msno-->").val($("#miniservercloudurlftpportrow<!--$msno-->").attr( "dnsurlftpport" ));
															$("#miniservercloudurlftpport<!--$msno-->").attr("data-validation-optional","false");
															$("#miniservercloudurlftpportrow<!--$msno-->").fadeTo( "fast", 1 );
															$("#miniservercloudurlftpport<!--$msno-->").prop("readOnly", false);

															$("#miniserverip<!--$msno-->").attr("data-validation-optional","true");
															$("#miniserverip<!--$msno-->").val("");
															$("#miniserverip<!--$msno-->").trigger( "focus" );
															$("#miniserveriprow<!--$msno-->").fadeTo( "fast", 0.3 );
															$("#miniserverip<!--$msno-->").prop("readOnly", true);

															$("#miniserverport<!--$msno-->").attr("data-validation-optional","true");
															$("#miniserverport<!--$msno-->").val("");
															$("#miniserverport<!--$msno-->").trigger( "focus" );
															$("#miniserverportrow<!--$msno-->").fadeTo( "fast", 0.3 );
															$("#miniserverport<!--$msno-->").prop("readOnly", true);
														}
														else
														{
															$("#miniservercloudurl<!--$msno-->").attr("data-validation-optional","true");
															$("#miniservercloudurlrow<!--$msno-->").fadeTo( "fast", 0.3 );
															$("#miniservercloudurl<!--$msno-->").prop("readOnly", true);
															$("#miniservercloudurl<!--$msno-->").val("");
															$("#miniservercloudurl<!--$msno-->").trigger( "focus" );

															$("#miniservercloudurlftpport<!--$msno-->").attr("data-validation-optional","true");
															$("#miniservercloudurlftpportrow<!--$msno-->").fadeTo( "fast", 0.3 );
															$("#miniservercloudurlftpport<!--$msno-->").prop("readOnly", true);
															$("#miniservercloudurlftpport<!--$msno-->").val("");
															$("#miniservercloudurlftpport<!--$msno-->").trigger( "focus" );

															$("#miniserverip<!--$msno-->").val($("#miniserveriprow<!--$msno-->").attr( "ipaddr" ));
															$("#miniserverip<!--$msno-->").attr("data-validation-optional","false");
															$("#miniserveriprow<!--$msno-->" ).fadeTo( "fast", 1 );
															$("#miniserverip<!--$msno-->").prop("readOnly", false);

															$("#miniserverport<!--$msno-->").val($("#miniserverportrow<!--$msno-->").attr( "portaddr" ));
															$("#miniserverport<!--$msno-->").attr("data-validation-optional","false");
															$("#miniserverportrow<!--$msno-->" ).fadeTo( "fast", 1 );
															$("#miniserverport<!--$msno-->").prop("readOnly", false);
														}
													});

													$("#miniservercloudurl<!--$msno-->").change(function()
													{
														if ($("#useclouddns<!--$msno-->").is(":checked"))
														{
															$("#miniservercloudurlrow<!--$msno-->").attr( "dnsurl",$("#miniservercloudurl<!--$msno-->").val());
														}
													});
													$("#miniservercloudurlftpport<!--$msno-->").change(function()
													{
														if ($("#useclouddns<!--$msno-->").is(":checked"))
														{
															$("#miniservercloudurlftpportrow<!--$msno-->").attr( "dnsurlftpport",$("#miniservercloudurlftpport<!--$msno-->").val());
														}
													});
													$("#miniserverip<!--$msno-->").change(function()
													{
														if (!$("#useclouddns<!--$msno-->").is(":checked"))
														{
															$("#miniserveriprow<!--$msno-->").attr( "ipaddr",$("#miniserverip<!--$msno-->").val());
														}
													});
													$("#miniserverport<!--$msno-->").change(function()
													{
														if (!$("#useclouddns<!--$msno-->").is(":checked"))
														{
															$("#miniserverportrow<!--$msno-->").attr( "portaddr",$("#miniserverport<!--$msno-->").val());
														}
													});

												 $("#useclouddns<!--$msno-->").prop("checked", "<!--$useclouddns-->");
												 $("#useclouddns<!--$msno-->").trigger( "change" );
												</SCRIPT>
												<!-- ** END template/system/en/miniserver_row.html ************************************************************************************ -->
