									<!-- ** START template/system/en/plugininstall_uninstall.html 27.08.2016 10:22:04 ************************************************************************************ -->
									<center>
										<table border=0>
											<tr>
												<td align="center">
													<h2>¿Está Seguro?</h2>
													<p>
														¿Desea realmente desinstalar el Plugin <b><!--$ptitle--></b>?
														<br/>
														<br/>
													</p>
												</td>
											</tr>
											<tr>
												<td align="center">
													<p>
														<a id="btnback" href="/admin/system/plugininstall.cgi?do=form" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete">Cancelar</a>
														<a id="btnback" href="/admin/system/plugininstall.cgi?do=uninstall&pid=<!--$pid-->&answer=yes" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-check">Desinstalar</a>
													</p>
												</td>
											</tr>
										</table>
									</center>
									<!-- ** END template/system/en/plugininstall_uninstall.html ************************************************************************************ -->
