									<!-- ** START template/system/en/power.html 27.08.2016 10:22:04 ************************************************************************************ -->
									<p>
										<center>
											<div style="width: 300px">
												<a id="btnreboot" data-role="button" data-icon="recycle" href="/admin/system/power.cgi?do=reboot">Reiniciar</a>
												<br/>
												<a id="btnpoweroff" data-role="button" data-icon="power" href="/admin/system/power.cgi?do=poweroff">Apagar</a>
											</div>
										</center>
									</p>
									<p>
										&nbsp;
									</p>
									<p>
										<center>
											<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/index.cgi">Cancelar</a>
										</center>
									</p>
									<!-- ** END template/system/en/power.html ************************************************************************************ -->
