									<!-- ** START template/system/de/upgrade_install.html 27.08.2016 10:22:04 ************************************************************************************ -->
									<center>
										<table border=0>
											<tr>
												<td align="center">
													<h2>¿Está Seguro?</h2>
													<p>
														¿Desea realmente actualizar su sistema? 
													</p>
													<br/>
													<p>
														Su LoxBerry sera actualizada desde la versión <b><!--$sversion--></b> a la versión <b><!--$uversion--></b>.
													</p>
													<p>
														Nota: El sistema será reiniciado durante la actualización.<br/>
														Durante el reinicio la actualización sera aplicada.<br/>
														Todas las configuraciones, archivo de log, etc estara disponible tras la instalación.
													</p>
												</td>
											</tr>
											<tr>
												<td align="center">
													<p>
														<a id="btnback" href="/admin/index.cgi" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete">Cancelar</a>
														<a id="btnreboot" href="/admin/system/upgrade.cgi?do=install&answer=yes" class="ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-check">Reiniciar y Actualizar</a>
													</p>
												</td>
											</tr>
										</table>
									</center>
									<!-- ** END template/system/de/upgrade_install.html ************************************************************************************ -->
